body{

	font-family: 'Radikal'!important;
}

ul{
	list-style: none!important;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none!important;
}

.navbar{

	position: fixed;
	top: 0;
	height: 100px;
	padding: 20px !important;
	width: 100%;
	background: #12284c;
	display: flex;
	justify-content: space-between;
	z-index: 99;
}

.logo{
	height: 50px;
	width: auto;
}

.navbarcollapsebtn{
	color: #b6dce1;
	font-size: 35px;
	background: none;
	border: none;
}

.navbar-collapsed{
	padding: 25px 0;
	background:#12284c;
	width: 100%;
	position: fixed;
	top: 100px;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: .3s;
	border-top: 1px solid #b6dce1;
}

.navbarshow{
	visibility: visible;
	opacity: 1;
	transition: .3s;
}

.navbar .btn {

	width: 140px;
	height: 50px;
	word-wrap: break-word;
	font-size: 10pt;
	font-weight: bold;
	border: none;
	margin-right: 10px;
	border-radius: 5px;
	margin-top: 15px;

}


.search {
	width: 100%;
	padding: 10px;
	border: none;
}


.navbar-collapsed ul{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbar-collapsed ul li{
	position: relative;
	height: 40px;
}

.navbar-collapsed ul li a{
	padding: 5px 20px;
	color: #fff;
}

.navbar-collapsed ul li:hover a:hover{

	background: #b6dce1;
	color: #12284c;
	font-weight: bold;
}

.owlhomeslider .item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.owlhomeslider .item img{
	width: 100%;
	height: 300px;
	object-fit: cover;

}
.owlhomeslider h2{
	margin-top: 20px;
	font-weight: 700;
}
.owlhomeslider p{
	margin-bottom: 0;
}


.homesliderbtn{
	position: fixed;
	top: 70%;
	left: 18%;
	z-index: 99;
	text-align: center;
	text-decoration: none;
	padding: 0;
	color: #12284c;
	cursor: pointer;

}
.homesliderbtn .btn{
	
	width: 155px;
	height: 45px;
	float: left;
	border-radius: 20px;
	outline: none!important;
	border: none!important;
	box-shadow: none!important;
	font-weight: 600;
}

.homesliderbtn .btn span{

	margin: 5px;
	color: #12284c;
}

.homesliderbtn i{

	color: #12284c;
	display: block;
	font-size: 30px;
	line-height: 35px;
}

.homesliderbtn .button1{
	background: #fff;
}


.buttons {

	margin-top: 50px;
}

.buttons .card {

	padding: 15px 0;
	
	text-align: center;
	border-radius: 10px;
	outline: none!important;
	border: none!important;
	box-shadow: 1px 3px 5px 2px #afafaf !important;
	font-weight: 500;
	color: #12284c;
	background: #b6dce1;
	margin: 0 5% 20px 5%;

}
.buttons .button1 {

	background: #fff;
}

.buttons .card a{

	color: #12284c;
	text-align: center;
	font-size: 12pt;

}

.buttons .card i{

	color: #12284c;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 40px;
}



/*Slider 1*/

.sliderarea1{
	padding-top: 30px;
	text-align: center;
}

.sliderarea1 h2 {

	font-weight: 600;
	font-size: 20pt;
	color: #12284c;
	margin-bottom: 40px;
}

.sliderarea1 .item {

	background: #ffffff;
	width: 340px;
	height: 400px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 15px 0 rgba(0, 0, 0, 0.17);
	border: none !important;
	border-radius: 3px;
	margin-bottom: 10px;

}

.sliderarea1 .item .item-icerik {

	font-size: 16px;
	font-weight: normal;
	text-align: left;
	padding: 20px;
}

.sliderarea1 .item .item-icerik p {

	color: #12284c;
}

.sliderarea1 .item .item-icerik .button1 {

	background: #12284c;
	color: #ffffff;
	width: 190px;
	text-align: left;
	font-weight: 600;
	font-size: 15px;

}

.sliderarea1 .item .item-icerik .button2 {

	color: #12284c; 
	background: #ffffff; 
	width: 190px; 
	text-align: left;
	box-shadow: 0 1px 1px 1px #12284c, 0 1px 1px 1px #1b3261; 
	font-family:'Radikal'; 
	font-weight: 600; 
	font-size: 15px;

}

.owlnavstyle .owl-prev,.owlnavstyle .owl-next{
	width: 40px;
	height: 40px;
	border-radius: 50%!important;
	text-align: center!important;
	line-height: 50px!important;
	background-color: #12284c!important;
	color: #fff!important;
	box-shadow: none!important;
	outline: none!important;
	border: none!important;
	font-size: 20px!important;
	display: flex!important;
	align-items: center!important;
	justify-content: center!important;
	position: absolute!important;
	font-size: 30px!important;
}


.owlnavstyle .owl-prev{
	left: 15px;
	top: 40%;
	bottom: 40%;
}
.owlnavstyle .owl-next{
	right: 15px;
	top: 40%;
	bottom: 40%;
}


.owlnavstlow .owl-next,.owlnavstlow .owl-prev{
	top: 23%;
}



.owlnavstyle .owl-prev:hover,.owlnavstyle .owl-next:hover{
	background-color: #fff !important;
	color: #12284c !important;
}


/*Slider 2*/

.sliderarea2{
	padding-top: 30px;
	text-align: center;
}

.sliderarea2 h2 {

	font-weight: 600;
	font-size: 20pt;
	color: #12284c;
	margin-bottom: 40px;
}

.sliderarea2 .item {


	width: 320px;
	height: 400px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 15px 0 rgba(0, 0, 0, 0.17);
	border: none !important;
	border-radius: 3px;
	margin-bottom: 10px;

}

.sliderarea2 .item img{

	opacity: 0.7;
	position: relative;
	border-radius: 5px;
	border: none;
}

.sliderarea2 .item  p {

	position: relative;
	z-index: 99;
	bottom: 37%;
	color: white;
	font-weight: 800;
	font-size: 30px;
}

.sliderarea2 .item .item-icerik .button1 {

	background: #12284c;
	color: #ffffff;
	width: 190px;
	text-align: left;
	font-weight: 600;
	font-size: 15px;

}

.sliderarea2 .item .item-icerik .button2 {

	color: #12284c; 
	background: #ffffff; 
	width: 190px; 
	text-align: left;
	box-shadow: 0 1px 1px 1px #12284c, 0 1px 1px 1px #1b3261; 
	font-family:'Radikal'; 
	font-weight: 600; 
	font-size: 15px;

}

/*Slider 3*/

.sliderarea3{
	padding-top: 30px;
	text-align: center;
}

.sliderarea3 h2 {

	font-weight: 600;
	font-size: 20pt;
	color: #12284c;
	margin-bottom: 40px;
}

.sliderarea3 .item {

	border: none !important;
	margin-bottom: 10px;
	border-radius: 100% ;
	text-align: center;
	padding: 10px 0;
	background:none;

}

.sliderarea3 .item .icerik_img{

	width: 200px;
	height: 200px;
	background: linear-gradient( 170deg, #f8f9fb 0%, #9a9a9a 100%); 
	border-radius: 100%;
	padding: 20px;
	position: relative;
	left: 25%;
}

.sliderarea3 .item  p {

	position: relative;
	z-index: 99;
	color: white;
	font-weight: 800;
	font-size: 25px;
	margin-top: 15px;
}

.sliderarea3 .item .item-icerik .button1 {

	background: #12284c;
	color: #ffffff;
	width: 190px;
	text-align: left;
	font-weight: 600;
	font-size: 15px;

}

.sliderarea3 .item .item-icerik .button2 {

	color: #12284c; 
	background: #ffffff; 
	width: 190px; 
	text-align: left;
	box-shadow: 0 1px 1px 1px #12284c, 0 1px 1px 1px #1b3261; 
	font-family:'Radikal'; 
	font-weight: 600; 
	font-size: 15px;

}

/*Slider 4*/


.sliderarea4{
	padding-top: 30px;
	text-align: center;	
	
}

.sliderarea4 h2 {

	font-weight: 600;
	font-size: 20pt;
	color: #12284c;
	margin-bottom: 40px;
}


.sliderarea4 .item {

	border: none !important;
	margin-bottom: 10px;
	text-align: center;
	padding: 10px 0;
	background:none;
	width: 300px;
	height: 400px;
}


.sliderarea4 .item .icerik_img {
	width: 80%;
}

.sliderarea4 .item img{

	background: linear-gradient( 170deg, #f8f9fb 0%, #9a9a9a 100%); 
	width: 200px;
	height:200px;
	border-radius: 100%;

}

.sliderarea4 .item .item-icerik  {
	text-align: left;
}

.sliderarea4 .item .item-icerik  p {

	z-index: 99;
	font-weight: 400;
	font-size: 14px;
	color: #12284c;
	margin-top: 10px;

}

.sliderarea4 .item .item-icerik .button1 {

	background: none;
	color: #12284c;
	width: 190px;
	border-bottom: 5px solid #12284c;
	font-weight: 600;
	font-size: 15px;
	margin-top: 10px;

}


footer {

	background: #12284c;
	width: 100%;
	height: 500px;
	text-align: center;
	padding-top: 30px;
	margin-top: 50px;
	justify-content: center;
    flex-direction: column;
    text-align: center;
}


footer .ft_yazi .ft_logo{

	margin-bottom: 30px;
	height: 60px;
}

footer .ft_yazi p{

		color: #fbcb18;
		font-size: 11pt;
		width: auto;
		word-spacing: 2px;
}

.ft_socialmedia{
	display: block;
	align-items: center;
	justify-content: space-around;
	margin-left: 30px;
	margin-bottom: 35px;
}

.ft_socialmedia i{
	background-color: #b6dce1;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	font-size: 20px;
	text-align: center;
	margin-right: 20px;
	color: #142a4e;
}

.ft_socialmedia a:hover{
	color: #fff;
}

.ft_link h2{

	color: #fff;
	font-size: 18pt;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 10px;

}

.ft_link li a{

	color: white;
	line-height: 35px;
	font-size: 11pt;
	font-weight: 400;

}

footer .text-center {

	position: relative;
	text-align: center;
	font-size: 14pt;
	font-weight: 500;
}


nav {

	background: linear-gradient( 180deg, #f8f9fb 0%, #d4d5d6 100%);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 15px 0 rgba(0, 0, 0, 0.17);
	margin: 30px 0 30px 0 !important;
	height: 50px;
	padding-top: 15px;
	border-radius: 5px;
}
nav a{

	font-weight: 400;
	font-size: 14px;
	color: #12284c;
	margin-left: 15px;
}


.sliderarea5 .item img{

	border-radius: 100%;
	width: 170px;
	height: 180px;
	text-align: center;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 15px 0 rgba(0, 0, 0, 0.17);
	margin-left: 0!important;

}

.sliderarea5 .item  {
	text-align: center;
	background: #e9e9ea;
	width: 230px; 
	height: 350px;
    margin-left: 23%;
    padding: 20px;

}

.sliderarea5 .item .item-icerik  p {

	z-index: 99;
	font-size: 12pt;
	font-weight: normal;
	color: #12284c;
	margin-top: 10px;
	text-align: center;
	margin-top: 20px;

}

.sliderarea5 .item .item-icerik .button1 {

	color: white;
	width: 150px;
	height: 40px;
	font-weight: 800;
	font-size: 15px;
	padding: 0;
	background: #12284c;
	text-align: center;
	border-radius: 10px;
	padding-top: 10px;

}


.blog {

	background: #f6f6f7;
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}


.blog .blog_title {

	color: #12284c;
	font-weight: 600;
	font-size: 25pt;
	line-height: 50px;
	margin-bottom: 20px;
}

.blog .blog_content{

	color: #000000 !important;
	font-size: 14pt;
	font-weight: normal;
	line-height: 35px;
}

.blog .blog_content p {
	margin-bottom: 50px;
}

.blog .blog_content p:last-child {
	margin-bottom: 0;
}

.blog-img img{
	width: 100%;
	height: 320px;
}

.doktor-nav {

	margin-top: 30px;
	background: url("../img/bolumler.png");
	background-repeat: no-repeat;
	position: relative;
	margin-bottom: 0;
	padding: 10px;
}

.doktor-nav .item {
	background: none;
	
	text-align: center;
	width: auto;
	height: 60%;
	border: none;
	justify-content: center;
	 flex-direction: column;
}

.doktor-nav .item img {
	border-radius: 100%;
	width: 170px;
	height: 170px;
	text-align: center;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 15px 0 rgba(0, 0, 0, 0.17);
	margin: 0!important;
	background: white;

}

 .doktor-nav .item h5 {

	font-size: 13pt;
	font-weight: 400;
	color: white;
}

.doktor-nav .item h3 {

	font-size: 20pt;
	font-weight: 600;
	color: white;
}


 .doktor-nav .item .card-body .card-title2 {

	font-size: 12pt;
	font-weight: 400;
	height: 40px;
	width: 50%;
	margin-left: 25%;
	color: #12284c;
	background: #b6dce1;
	padding-top: 7px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;

}

.contact .card {

	border: none;
	background: #f3f4f5;
	margin-bottom: 40px;
}

.contact .card .card-title {

	color: #12284c;
	text-align: center;
	font-size: 18pt;
	
}

.contact .card ul li{
	background: none!important;
	border: none;
	color: #000;
	font-weight: 400;
	font-size: 12pt;

}

form .form-group {

	color: #000;
} 


.ik .card{

	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	color: #12284c;
	margin-bottom: 30px;
	margin-top: 50px;
	background: #f8f9f9;
	border-top: 8px solid #12284c!important;

}

.ik .card-header {

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;,
	
	font-size: 16pt;
	font-weight: 600;
}

.ik .card a {

	color: #12284c;
	font-size: 12pt;
	background: #f8f9f9;
}


.hospital .card{

	border-radius: 10px;
	border: none;
	background: #eff0f2;
	margin-bottom: 30px;
	color: #12284c;
	
}

.hospital .card img {

	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.hospital .card .card-title {

	font-size: 25pt;
	font-weight: 600;
	color: #12284c;
}

.hospital .card .card-text {

	font-size: 12pt;
	font-weight: 500;
	color: #12284c;
}
