*:focus {
  outline: none !important;
}

.dnone {
  display: none;
}

.p0 {
  padding: 0;
}

.kutu {
  border: 1px solid lightgray;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 30px;
  padding: 15px;
  background-color: white;
  margin-top: 10px;
}

.rezerv_title {
  color: #165eaa;
  font-weight: bold;
}

.saatbtn {
  margin: 2px 1%;
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 5px !important;
  width: 95%;
  min-height: 36px !important;
}

.active {
  color: white !important;
  background-color: rgb(0, 177, 186) !important;
  border: none !important;
}

.saatbtn[disabled] {
  opacity: 0.2;
}

.rezerv_onay_btn {
  color: white;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      background-color: #165eaa !important;
      border: none !important;
}

#book-a-table {
  background-color: #FAFAFA;
  padding: 50px 0px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 50px 0px;
  float: left;
  width: 100%;
}
.book-a-table p {
  color: #9a9a9a;
}
.book-a-table textarea {
  min-height: 200px;
  max-width: 100%;
}

