/**
  * Name: Altech
  * Version: 1.3
  * Author: ThemetechMount
  * Author URI: http://www.themetechmount.com
  */

  @import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
  @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700&amp;display=swap');

/**

  1. General
     - Variables
     - Transition
     - Shadow
     - Extra-outer

  2. Spacing
     - Padding
     - Margin

  3. Color
     - Skin-color, Skin-bg-color, Skin-border-color
     - darkGrey-color, darkGrey-bg-color
     - white-color, white-bg-color, white-border-color
     - Grey-color, Grey-bg-color, grey-border-color
     - Extra-color

  4. Pre-loader

  5. TooltipTop

  6. TopBar

  7. Header
     - SiteBrand(logo)
     - SiteNavigation(Menu)
     - ttm-rt-contact(HeaderIcons - Search, Cart)
     - ttm-search-overlay

  8. Footer
     - FirstFooter
     - SecondFooter
     - menu-footer-services
     - mailchimp-inputbox
     - flicker-widget
     - Footer-nav-menu

  9. GoTop BUtton

  10. Page-Title-Row

  12. Inner-Pages
      - contact-us
      - error
      - portfolio
      - blog
      - team-member-details
      - element

      **/

/* ===============================================
    General
    ------------------------*/

    /** Variables **/
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
      display: block;
    }
    a:focus {
      text-decoration: none;
    }
    a:focus, a:hover {
      color: #2d4a8a;
      text-decoration: none;
    }
    a, button, input {
      outline: medium none;
      color: #2d4a8a;
    }
    ol, ul{
      padding: 0;
      margin: 0;
      list-style: none;
    }
    strong{
      font-weight: 700;
    }
    iframe{
      width: 100%;
      border: none;
      display: block;
    }
    p {
      margin: 0 0 15px;
    }

    *::-moz-selection {
      background: #2d4a8a;
      color: #fff;
      text-shadow: none;
    }
    ::-moz-selection {
      background: #2d4a8a;
      color: #fff;
      text-shadow: none;
    }
    ::selection {
      background: #2d4a8a;
      color: #fff;
      text-shadow: none;
    }
    .form-control{
      padding: 12px 10px;
      height: auto;
      border-radius: 0;
      border: 1px solid transparent;
      font-size: 14px;
      background-color: #fff!important;
    }
    .form-control:focus{
      background-color: transparent;
      box-shadow: none;
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus {
      border: 1px solid #fda02b;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    textarea:-moz-placeholder,
    textarea::-moz-placeholder,
    input:-moz-placeholder,
    input::-moz-placeholder,
    input:-ms-input-placeholder ,
    input::-ms-input-placeholder,
    textarea::-webkit-input-placeholder,
    input::-webkit-input-placeholde  {
      color: #fff;
    }

    menu, ol, ul {
      margin: 0;
      padding: 0 0 0 25px;
    }

    body {
      font-family: "Poppins",sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 25px;
      color: #1f1d1d;
      background-color: #fff;
      letter-spacing: 0px;
    }
    h1, h2, h3, h4, h5, h6{ font-family: "Poppins",sans-serif; margin-bottom: 15px; font-weight: 600; color: #114271;}
    h1 { font-size: 36px; line-height: 50px; text-transform: uppercase;}
    h2 { font-size: 35px; line-height: 40px; }
    h3 { font-size: 27px; line-height: 35px; }
    h4 { font-size: 24px; line-height: 30px; }
    h5 { font-size: 19px; line-height: 23px; }
    h6 { font-size: 16px; line-height: 18px;}


    /** Transition **/

    .featured-icon-box .featured-icon, .ttm-btn, button,
    .owl-item, img, span, .featured-icon-box,
    .featured-icon,#totop {
      -webkit-transition: all 0.5s ease-in-out 0s;
      -moz-transition: all 0.5s ease-in-out 0s;
      -ms-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;
    }
    a, .site-branding, #site-header-menu #site-navigation .menu ul li > a, .ttm-header-icon, .header-btn,
    a.ttm-btn, i.ttm-btn, a.nav-link , .social-icons li>a ,
    .ttm-menu-toggle .toggle-block,.accordion .toggle-title a,
    .widget-download ul.download li,
    .featured-icon-box.style6 .featured-desc p,
    .featured-icon-box.style6 .featured-title h5{
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    a.tp-caption:hover,
    .ttm-processbox-wrapper .featured-content,
    .ttm-processbox-wrapper .ttm-processbox .process-num{
      -webkit-transition: all 0.3s ease-in-out 0s !important;
      -moz-transition: all 0.3s ease-in-out 0s !important;
      -ms-transition: all 0.3s ease-in-out 0s !important;
      -o-transition: all 0.3s ease-in-out 0s !important;
      transition: all 0.3s ease-in-out 0s !important;
    }
    .ttm-btn span, .nav-link span, .cart-info a i,.site-branding img,.site-branding a, .panel-title > a span,
    .ttm-header-icon.ttm-header-cart-link .navbar-form span , ul.products li.product .ttm-shop-icon a i{
      -webkit-transition: all 0s ease-in-out 0s;
      -moz-transition: all 0s ease-in-out 0s;
      -ms-transition: all 0s ease-in-out 0s;
      -o-transition: all 0s ease-in-out 0s;
      transition: all 0s ease-in-out 0s;
    }
    .featured-imagebox .ttm-box-bottom-content,
    .ttm-box-bottom-content .ttm-icon,
    .ttm-box-bottom-content .featured-title h5,
    .ttm-box-bottom-content .featured-desc,
    .ttm-history-box-details,
    .ttm-history-box-wrapper .ttm-historybox-title h5,
    .ttm-historybox-description,
    .featured-desc p{
      transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
    }
    /**  Shadow **/
    .box-shadow,
    .featured-imagebox-blog{
      -webkit-box-shadow: 0 0 12px 0 rgba(32,46,60,.06);
      -moz-box-shadow: 0 0 12px 0 rgba(32,46,60,.06);
      box-shadow: 0px 1px 2px 3px rgba(32,46,60,.06);
    }
    .box-shadow2{
      -webkit-box-shadow: 0 0 15px 0 rgba(32,46,60,.12);
      -moz-box-shadow: 0 0 15px 0 rgba(32,46,60,.12);
      box-shadow: 0 0 15px 0 rgba(32,46,60,.12);
    }

    /** Extra-outer **/
    body .page {
      overflow: hidden;
      position: relative;
      z-index: 10;
    }
    body .page.sidebar-true .site-main{
      padding: 0;
      background-color: #fff;
    }

    .container-fluid {
      padding: 0 0;
      overflow: hidden;
    }

    a{ color: #263045; }

.btn-success{
  color: #fff;
    background-color: #165eaa!important;
    border-color: #165eaa!important;
}
.btn-success:hover{
  color: #fff;
    background-color: #154573!important;
    border-color: #154573!important;
}
    .z-1{z-index: 1 !important;}
    .z-0{z-index: 1 !important;}
    .z-11{z-index: 11 !important;}
    .fs-16{font-size: 16px !important;}
    .fs-18{font-size: 18px !important;}
    .fs-20{font-size: 20px !important;}
    .fs-30{font-size: 30px !important; line-height: 36px !important;}
    .fs-38{font-size: 38px !important;}
    .desc-line{
      width: 8% !important;
      margin: 0 auto;
      height: 2px !important;
      background-color: #fff;
    }

    .fw-500{font-weight: 500;}
    .pp_social {
      display: none !important;
    }
    .about-overlay-01{
      top: 100px;
      color: #fff;
      padding: 28px 30px;
      border-radius: 15px;
      font-size: 22px;
      line-height: 31px;
      width: 210px;
      text-align: center;
      position: absolute;
      right: 0px;
    }
    .about-overlay-02{
      position: absolute;
      bottom: 30px;
      left: 30px;
      padding: 15px 30px 15px 30px;
      border-left: 8px solid #263045;
    }
    .about-overlay-02 h3{
      font-size: 24px;
      line-height: 30px;
      font-style: italic;
      font-weight: 700;
      color: #fff;
      margin-bottom: 0;
    }
    .about-overlay-02 p{
      font-size: 13px;
      line-height: 26px;
      color: rgba(255,255,255,.85);
      margin-bottom: 0;
    }
    .about-overlay-03{
      position: absolute;
      right: 15px;
      bottom: 0px;
      padding: 10px 23px;
      width: max-content;
    }
    .about-overlay-03 h3{
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 0;
    }
    .with-border15 img{border:15px solid;}
/* ===============================================
    Spacing
    ------------------------*/

    .contain{
      box-shadow: 11px 112px 90px 1px rgba(40,61,88,.07);
    }

    .erisim{
     background-color: #2d4a8a;
     padding: 10px;
     color: #fff;
     border-radius: 6px;
   }
   .katminmax{
     min-height: 196px;
     max-height: 196px;
   }

   /** Padding **/
   .spacing-1{
    margin-top: 80px;
    margin-bottom: -80px;
    padding-top: 70px;
    padding-left: 70px;
    padding-bottom: 70px;
    padding-right: 15px;
  }

  .mb40{
    margin-bottom: 40px;
  }

  .spacing-2{padding: 50px 50px 50px 50px;}
  .spacing-3{padding: 40px 40px 30px 40px;}
  .spacing-4{padding: 45px 30px 45px 45px;}
  .spacing-5{ padding: 60px 0px 60px 0;}
  .spacing-6{padding: 50px 15px 50px 50px;}
  .spacing-7{padding: 50px 50px 50px 15px; }
  .spacing-8{padding: 80px 0px 80px 50px; }
  .spacing-9{padding: 80px 60px 80px 0px; }
  .spacing-10{padding: 20px 0px 20px 15px; }
  .spacing-11{padding: 40px 25px; }

  .white{
    color: #fff;
  }




  .mt40{
    margin-top: 40px;
  }


  .mavis{
    color: #263045!important;
  }

  .mb100{
    margin-bottom: 100px;
  }

  .p-12{padding: 12px !important;}

  .pr-5{ padding-right: 5px !important}
  .pr-10{ padding-right: 10px !important; }
  .pr-15{ padding-right: 15px !important; }
  .pr-20{ padding-right: 20px !important; }
  .pr-25{ padding-right: 25px !important; }
  .pr-30{ padding-right: 30px !important; }
  .pr-35{ padding-right: 35px !important; }
  .pr-40{ padding-right: 40px !important; }
  .pr-45{ padding-right: 45px !important; }
  .pr-50{ padding-right: 50px !important; }
  .pr-55{ padding-right: 55px !important; }
  .pr-60 { padding-right: 60px !important; }
  .pr-75{ padding-right: 75px !important}
  .pr-80{ padding-right: 80px !important; }


  .pl-0{ padding-left: 0px !important; }
  .pl-5 { padding-left: 5px !important; }
  .pl-10{ padding-left: 10px !important; }
  .pl-15{ padding-left: 15px !important; }
  .pl-20{ padding-left: 20px !important; }
  .pl-25{ padding-left: 25px !important; }
  .pl-30{ padding-left: 30px !important; }
  .pl-35{ padding-left: 35px !important; }
  .pl-40{ padding-left: 40px !important; }
  .pl-45{ padding-left: 45px !important; }
  .pl-50{ padding-left: 50px !important; }
  .pl-55{ padding-left: 55px !important; }
  .pl-60{ padding-left: 60px !important; }
  .pl-65{ padding-left: 65px !important; }
  .pl-70{ padding-left: 70px !important; }
  .pl-75{ padding-left: 75px !important; }
  .pl-80{ padding-left: 80px !important; }

  .pt-2{ padding-top: 2px !important; }
  .pt-5{ padding-top: 5px !important;}
  .pt-10{ padding-top: 10px !important; }
  .pt-15 { padding-top: 15px !important; }
  .pt-18{ padding-top: 18px !important; }
  .pt-20 { padding-top: 20px !important; }
  .pt-25 { padding-top: 25px !important; }
  .pt-30{ padding-top: 30px !important; }
  .pt-35{ padding-top: 35px !important; }
  .pt-40{ padding-top: 40px !important; }
  .pt-45{ padding-top: 45px !important; }
  .pt-50{ padding-top: 50px !important; }
  .pt-55{ padding-top: 55px !important; }
  .pt-60 { padding-top: 60px !important; }
  .pt-65{ padding-top: 65px !important; }
  .pt-70 { padding-top: 70px !important; }
  .pt-75 { padding-top: 75px !important; }
  .pt-80{padding-top: 80px !important;}


  .pb-5{ padding-bottom: 5px !important; }
  .pb-10{ padding-bottom: 10px !important; }
  .pb-15{ padding-bottom: 15px !important; }
  .pb-20{ padding-bottom: 20px !important; }
  .pb-25{ padding-bottom: 25px !important; }
  .pb-30{ padding-bottom: 30px !important; }
  .pb-35{ padding-bottom: 35px !important; }
  .pb-45{ padding-bottom: 45px !important; }
  .pb-50{ padding-bottom: 50px !important; }
  .pb-55{ padding-bottom: 55px !important; }
  .pb-60{ padding-bottom: 60px !important; }
  .pb-70{ padding-bottom: 70px !important; }
  .pb-80{ padding-bottom: 80px !important; }

  .ptb-50{padding-top: 50px !important;padding-bottom: 50px !important;}


  /** Margin **/
  .mt-5{ margin-top: 5px!important; }
  .mt-10 { margin-top: 10px !important; }
  .mt-15{ margin-top: 15px !important;}
  .mt-20{ margin-top: 20px !important;}
  .mt-23{ margin-top: 23px !important;}
  .mt-25{ margin-top: 25px !important;}
  .mt-30{ margin-top: 30px !important;}
  .mt-35{ margin-top: 35px !important;}
  .mt-37{ margin-top: 37px !important;}
  .mt-40{ margin-top: 40px !important;}
  .mt-45{ margin-top: 45px !important;}
  .mt-50{ margin-top: 50px !important;}
  .mt-60{ margin-top: 60px !important; }
  .mt-70{ margin-top: 70px !important; }
  .mt-80{margin-top: 80px !important;}
  .mt-90{margin-top: 90px !important;}
  .mt-100 { margin-top: 100px !important; }

  .mt_5{ margin-top: -5px!important; }
  .mt_10{ margin-top: -10px!important; }
  .mt_12{ margin-top: -12px!important; }
  .mt_15{ margin-top: -15px!important; }
  .mt_25{ margin-top: -25px!important; }
  .mt_30{ margin-top: -30px!important; }
  .mt_40{ margin-top: -40px!important; }
  .mt_50{ margin-top: -50px !important; }
  .mt_55{ margin-top: -55px !important; }
  .mt_60{ margin-top: -60px !important; }
  .mt_70{ margin-top: -70px !important; }
  .mt_72{ margin-top: -72px !important; }
  .mt_80{ margin-top: -80px !important; }
  .mt_90{ margin-top: -90px !important; }
  .mt_95{ margin-top: -95px!important; }
  .mt_100{ margin-top: -100px!important; }
  .mt_225{ margin-top: -225px!important; }
  .mt_230{ margin-top: -230px!important; }


  .ml-0{ margin-left: 0px !important }
  .ml-3{ margin-left: 3px !important }
  .ml-5{ margin-left: 5px !important }
  .ml-15 { margin-left: 15px!important; }
  .ml-20{ margin-left: 20px !important }
  .ml-30{ margin-left: 30px !important }
  .ml-35 { margin-left: 35px!important; }
  .ml-65 { margin-left: 65px!important; }
  .ml-287{ margin-left: 287px !important; }
  .mr-15 { margin-right: 15px!important; }
  .ml_30{ margin-left: -30px !important; }
  .ml_40{ margin-left: -40px !important; }



  .mr-0{ margin-right: 0px !important; }
  .mr-20{margin-right: 20px!important;}
  .mr-35{ margin-right: 35px !important; }
  .mr-70{margin-right: 70px!important;}
  .mr_40{ margin-right: -40px ;}
  .mr_60{ margin-right: -60px ;}
  .mr_80{ margin-right: -80px ;}

  .mb_1{ margin-bottom: -1px !important; }
  .mb-4{ margin-bottom: 4px !important; }
  .mb-5{ margin-bottom: 5px !important; }
  .mb-10{ margin-bottom: 10px !important; }
  .mb-15{ margin-bottom: 15px !important; }
  .mb-20{ margin-bottom: 20px !important; }
  .mb-25{ margin-bottom: 25px !important;}
  .mb-27{ margin-bottom: 27px !important; }
  .mb-30{ margin-bottom: 30px !important; }
  .mb-35{ margin-bottom: 35px !important; }
  .mb-40{ margin-bottom: 40px !important; }
  .mb-45{ margin-bottom: 45px !important; }
  .mb-50 { margin-bottom: 50px !important; }
  .mb-60 { margin-bottom: 60px !important; }
  .mb-55 { margin-bottom: 55px !important; }
  .mb-100 { margin-bottom: 100px !important; }
  .mb_30{ margin-bottom: -30px !important; }
  .mb_60{ margin-bottom: -60px !important; }
  .mb_80{ margin-bottom: -80px !important; }
  .mb_85{ margin-bottom: -85px !important; }

/* ===============================================
    Color
    ------------------------*/
    /** 1.Skin-color **/
    a:hover,
    .ttm-textcolor-skincolor,
    .ttm-textcolor-white a:hover,
    .ttm-btn-color-skincolor,
    .ttm-btn.ttm-btn-color-skincolor,
    .ttm-btn.ttm-btn-color-darkgrey.btn-inline:hover,
    .ttm-topbar-wrapper.ttm-textcolor-white a:hover,
    a.tp-caption.dark-text-button:hover,
    .section-title h5,
    .section-title h2.title span,
    .ttm-bgcolor-white .section-title h5,
    .ttm-textcolor-white.ttm-topbar-wrapper .social-icons li>a:hover,
    ul li .icon-box.icon-style-border i,
    #site-header-menu #site-navigation .menu ul.dropdown > li.active > a,
    #site-header-menu #site-navigation .menu ul.sub-menu > li.active > a,
    #site-header-menu #site-navigation .menu > ul > li > ul > li a:before,
    .ttm-header-style-01 #site-header-menu #site-navigation .menu ul.dropdown > li.active > a,
    .ttm-header-style-01 #site-header-menu #site-navigation .menu ul.dropdown > li:hover > a,
    #site-header-menu #site-navigation .menu ul > li:hover > a,
    #site-header-menu #site-navigation .menu ul.sub-menu li > a:hover,
    #site-navigation .menu ul > li:hover > a:before,
    .ttm-icon_element-color-skincolor,
    .ttm-icon_element-bgcolor-white i,
    .ttm-btn.ttm-btn-color-white:hover,
    .ttm-bgcolor-darkgrey .featured-title h6,
    .title-box .breadcrumb-wrapper span:last-child,
    .tp-caption.skin-flatborder-button,
    .sidebar .widget a:hover,
    .header-btn .ttm-btn.ttm-btn-bgcolor-skincolor:hover,
    .about-text-box span a,
    .featured-imagebox-portfolio .ttm-media-link a:hover,
    .post-meta i,
    .ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li i,
    .ttm-highlight-fid-style-1 .ttm-fid.inside h4,
    .ttm-ptablebox-price-w,
    .ttm-highlight-fid-style-2 .inside h4,
    .ttm-fid-view-lefticon.style2 .ttm-fid-icon-wrapper i,
    .accordion.style2 .toggle .toggle-title a:after,
    .accordion.style2 .toggle .toggle-title a.active:after,
    .ttm-pf-single-detail-box ul li i,
    .ttm-blog-classic .ttm-commentbox i,
    .coupon_toggle .coupon_code:before, #payment .payment_box:before,
    .ttm-fid-icon-wrapper i,
    .ttm-team-list-title i,
    .timing-box i,
    .widget_info .widget_icon{
      color: #2d4a8a ;
    }

    h1.ttm-textcolor-skincolor, h2.ttm-textcolor-skincolor, h3.ttm-textcolor-skincolor,
    h4.ttm-textcolor-skincolor, h5.ttm-textcolor-skincolor, h6.ttm-textcolor-skincolor {
      color: #2d4a8a ;
    }

    /** Skin-bg-color **/
    .ttm-bgcolor-skincolor,
    .ttm-bgcolor-skincolor > .ttm-bg-layer,
    .ttm-bgcolor-skincolor > .ttm-bg-layer > .ttm-bg-layer-inner,
    .tp-shapewrapper, .ttm-bg-highlight-skin,
    .tp-caption.skin-flatborder-button:hover,
    .top-contact.ttm-highlight-left:after,
    .top-contact.ttm-highlight-right:after,
    .ttm-header-icons .ttm-header-cart-link span.number-cart,
    .ttm-header-icons .ttm-header-search-link a:hover,
    #site-navigation .menu ul.dropdown > li > a:before,
    #site-header-menu #site-navigation .menu ul li a span,
    .ttm-icon_element-bgcolor-skincolor,
    .ttm-btn-bgcolor-skincolor,
    .ttm-tabs ul.tabs li.active a ,
    .widget .widget-title:after,
    .ttm-btn-bgcolor-darkgrey:hover,
    .ttm-btn.ttm-btn-color-skincolor.ttm-btn-style-border:hover,
    .ttm-btn.ttm-btn-bgcolor-darkgrey:hover,
    #totop.top-visible,
    .ttm-processbox-wrapper .ttm-processbox:hover .process-num,
    .ttm-tabs.ttm-tab-style-horizontal ul.tabs li.active a,
    .widget.widget-nav-menu ul li a:after,
    .mailchimp-inputbox button[type="submit"],
    a.checkout-button:hover, .coupon button:hover, .ttm-cart-form button:hover, .place-order button:hover,
    .ttm-btn-play:after, .ttm-btn-play:before,
    .tp-caption.skin-flat-button, .skin-flat-button,
    .ttm-video-play-btn,
    .ttm-video-btn .ttm-video-btn-play,
    .ttm-video-btn .ttm-video-btn-play:before,
    .ttm-video-btn .ttm-video-btn-play:after,
    .ttm-tabs.ttm-tab-style-classic ul.tabs li.active:after,
    .ttm-search-overlay .ttm-site-searchform button,
    .ttm-rt-contact .ttm-custombutton,
    .sidebar .widget .tagcloud a:hover,
    .color-trigger,
    .ttm-header-icons .ttm-header-search-link a,
    .tooltip:after, [data-tooltip]:after,
    .newsletter-form input[type="submit"],
    .footer .social-icons li>a:hover,
    .about-overlay-01,
    .ttm-history-box-wrapper:hover .ttm-history-box-details,
    .featured-imagebox-team .social-icons,
    .progress-bar-color-bar_skincolor,
    .progress-bar-color-bar_skincolor.progress-bar:before,
    .featured-imagebox-portfolio .ttm-media-link a,
    .featured-imagebox-blog .ttm-box-post-date,
    .featured-icon-box.style5:before,
    .ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li.active a:before,
    .ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li.active a,
    .testimonial-slide.owl-theme.ttm-bgcolor-white .owl-dots .owl-dot span,
    .featured-imagebox-portfolio.style2 .featured-content,
    .featured-icon-box.style6:hover,
    .about-overlay-02,
    .about-overlay-03,
    .ttm-btn-bgcolor-grey:hover,
    .featured-imagebox-services:hover .featured-content,
    .accordion .toggle-title a.active,
    .sidebar .widget .widget-title:before,
    .widget.widget-search .form-group i,
    .ttm-pagination .page-numbers.current,
    .ttm-pagination .page-numbers:hover,
    .ttm-box-view-left-image .featured-content .category> a:hover,
    .ttm-blog-single .ttm-blog-single-content blockquote:before,
    .ttm-tag-list span a:hover,
    .ttm-blog-single-content .social-icons li>a:hover,
    .comment-list a.comment-reply-link:hover,
    .ttm-shop-icon .product-btn:hover,
    .widget-top-rated-products ins,
    div.product ul.tabs li a:before {
      background-color: #16578c ;
    }

    /** Skin-border-color **/
    .skincolor-border,
    .ttm-btn.ttm-btn-color-skincolor.ttm-btn-style-border,
    .ttm-icon.ttm-icon_element-border.ttm-icon_element-color-skincolor,
    .sidebar .widget .tagcloud a:hover,
    .tp-caption.skin-flat-button, .skin-flat-button,
    .tp-caption.skin-flatborder-button,
    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .skin-border .with-top-border img,
    .ttm-bgcolor-skincolor .panel-title > a,
    .ttm-header-style-01 .ttm-header-icons .ttm-header-search-link a:hover,
    .ttm-tabs ul.tabs li.active a,
    .ttm-blog-classic .ttm-blog-classic-content  blockquote,
    .ttm-header-icons .ttm-header-search-link a:hover,
    .footer .social-icons li>a:hover,
    .footer .social-icons li>a:hover,
    .featured-imagebox-team.style1:hover .featured-content,
    .ttm-processbox:hover .ttm-box-image,
    .featured-imagebox-portfolio .ttm-media-link a,
    .accordion .toggle-title a.active,
    .widget.widget-search .form-group i,
    .ttm-box-view-left-image .featured-content .category> a:hover,
    .ttm-blog-single-content .social-icons li>a:hover,
    textarea:focus {
      border-color: #2d4a8a !important;
    }
    .ttm-search-overlay,
    .ttm-rounded-shadow-box, div.product ul.tabs li.active a:before,
    .coupon_toggle .coupon_code,
    #payment .payment_box,
    .tooltip-top:before, .tooltip:before, [data-tooltip]:before,
    .section-title.with-desc .title-header:before,
    #site-header-menu #site-navigation .menu > ul{
      border-top-color: #2d4a8a !important;
    }
    .ttm-search-overlay .w-search-form-row:before,
    .tooltip-bottom:before,
    .featured-imagebox-services.style1 .featured-content,
    .ttm-pf-single-detail-box { border-bottom-color: #2d4a8a !important; }

    .quicklink-box .featured-icon-box .ttm-icon:before,
    .ttm-blog-single .ttm-blog-single-content blockquote{ border-left-color: #16568b !important }


    /** 2.DarkGrey-color **/
    .ttm-textcolor-darkgrey h1, .ttm-textcolor-darkgrey h2, .ttm-textcolor-darkgrey h3,
    .ttm-textcolor-darkgrey h4, .ttm-textcolor-darkgrey h5, .ttm-textcolor-darkgrey h6,
    .ttm-bgcolor-white .section-title h2.title,
    .ttm-btn.ttm-btn-color-white.ttm-btn-style-border:hover,
    .ttm-bgcolor-skincolor .ttm-btn.ttm-btn-bgcolor-darkgrey:hover,
    .ttm-btn.ttm-btn-color-darkgrey,
    #site-header-menu #site-navigation .menu ul li > a,
    .sidebar .widget a, .ttm-pagination .page-numbers,
    .ttm-tabs ul.tabs li a,
    .ttm-list.ttm-list-style-icon li,
    .about-text-box,
    .accordion.style2 .toggle .toggle-title a,
    .accordion.style2 .toggle .toggle-title a.active,
    .ttm-pf-single-detail-box ul li span,
    .ttm-box-view-left-image .featured-content .category> a,
    .product-price,
    div.product ul.tabs li.active a,
    .ttm-team-details-list{
      color: #263045;
    }

    /** DarkGrey-bg-color **/
    .ttm-bgcolor-darkgrey,
    .ttm-bgcolor-darkgrey > .ttm-bg-layer,
    .ttm-bgcolor-darkgrey > .ttm-bg-layer > .ttm-bg-layer-inner,
    .ttm-btn-bgcolor-darkgrey,
    .ttm-btn-color-darkgrey:hover,
    .ttm-header-icons .ttm-header-cart-link a:hover,
    .ttm-icon_element-bgcolor-darkgrey,
    .ttm-btn-bgcolor-white:hover,
    .ttm-btn-bgcolor-skincolor:hover,
    .widget.widget-nav-menu ul li:hover a:before, .widget.widget-nav-menu ul li.active a:before,
    .ttm-btn.ttm-btn-bgcolor-darkgrey,
    .ttm-btn.ttm-btn-color-darkgrey.ttm-btn-style-border:hover,
    .ttm-header-icons .ttm-header-cart-link a,
    .progress-bar-color-bar_darkgrey,
    .progress-bar-color-bar_darkgrey.progress-bar:before,
    .featured-imagebox-portfolio.style1 .featured-content,
    .featured-imagebox-blog .ttm-box-view-overlay:before,
    .featured-imagebox-blog .ttm-box-view-overlay:after,
    .featured-icon-box.without-icon .featured-title h5:before,
    .ttm-bgcolor-skincolor .tooltip:after,
    .ttm-bgcolor-skincolor [data-tooltip]:after,
    .comment-list a.comment-reply-link,
    .ttm-shop-icon .product-btn,
    div.product ul.tabs li a,
    .ttm-tabs.ttm-tab-style-horizontal ul.tabs li a{
      background-color: #00b2bb00;
    }
    .darkgrey-border,
    .ttm-header-style-01 .ttm-header-icons .ttm-header-cart-link a:hover,
    .ttm-header-icons .ttm-header-cart-link a:hover,
    .ttm-box-view-left-image .featured-content .category> a,
    div.product ul.tabs li a{
      border-color: #263045;
    }
    .ttm-bgcolor-skincolor .testimonials .testimonial-content{border-bottom-color: #263045;}
    .ttm-bgcolor-skincolor .tooltip-top:before,
    .ttm-bgcolor-skincolor .tooltip:before,
    .ttm-bgcolor-skincolor [data-tooltip]:before{border-top-color: #263045 !important;}

    .sidebar .widget.widget-nav-menu ul li.active a:before,
    .sidebar .widget.widget-nav-menu ul li:hover a:before{border-right-color: #263045 !important;}
    /** 3.White-color **/
    .ttm-textcolor-white h1, .ttm-textcolor-white h2, .ttm-textcolor-white h3,
    .ttm-textcolor-white h4, .ttm-textcolor-white h5, .ttm-textcolor-white h6,
    .ttm-bgcolor-skincolor a, .ttm-textcolor-white a,
    #site-header-menu #site-navigation .menu ul li a span,
    .ttm-icon.ttm-icon_element-border.ttm-icon_element-color-white,
    .ttm-textcolor-white .ttm-fid-icon-wrapper i,
    .ttm-textcolor-white .featured-content .featured-title h5 a,
    .ttm-textcolor-white .ttm-social-links-wrapper ul li a,
    .ttm-textcolor-white .ttm-social-links-wrapper ul li a:hover,
    .ttm-btn-bgcolor-white:hover,
    .ttm-btn.ttm-btn-color-white.ttm-btn-bgcolor-white:hover,
    .ttm-btn.ttm-btn-color-white.ttm-btn-bgcolor-skincolor:hover,
    .ttm-btn.ttm-btn-color-skincolor.ttm-btn-bgcolor-white:hover,
    .ttm-btn.ttm-btn-color-skincolor.ttm-btn-bgcolor-skincolor:hover ,
    .ttm-btn.ttm-btn-color-darkgrey.ttm-btn-style-border:hover,
    .ttm-btn.ttm-btn-bgcolor-grey:hover,
    .ttm-btn.ttm-btn-color-skincolor.ttm-btn-style-border:hover,
    .ttm-btn-bgcolor-darkgrey, a.ttm-btn-bgcolor-darkgrey,
    .ttm-btn-bgcolor-darkgrey:hover, a.ttm-btn-bgcolor-darkgrey:hover,
    .ttm-btn-bgcolor-skincolor, a.ttm-btn-bgcolor-skincolor,
    .ttm-btn-bgcolor-skincolor:hover, a.ttm-btn-bgcolor-skincolor:hover{
      color: rgba(255,255,255,1);
    }

    .ttm-bgcolor-skincolor .testimonials .testimonial-content label,
    .ttm-bgcolor-darkgrey .testimonials .testimonial-content label,
    .ttm-textcolor-white .testimonials .testimonial-content label,
    .ttm-bgcolor-skincolor p,
    .ttm-bgcolor-darkgrey  p,
    .ttm-bgcolor-skincolor input::placeholder,
    .ttm-bgcolor-skincolor select::placeholder,
    .ttm-bgcolor-skincolor textarea::placeholder,
    .ttm-bgcolor-skincolor a:hover,
    .ttm-bgcolor-skincolor ul.top-contact li a:hover,
    .ttm-bgcolor-skincolor.ttm-topbar-wrapper ul.social-icons li>a:hover,
    .ttm-bgcolor-skincolor .section-title .title-desc,
    .ttm-bgcolor-darkgrey .section-title .title-desc,
    .top-contact li a:hover,.ttm-topbar-wrapper .social-icons li>a:hover,
    .mailchimp-inputbox input::placeholder,
    .ttm-bgcolor-skincolor .testimonial-content h6,
    .ttm-bgcolor-darkgrey .testimonial-content h6,
    .ttm-bgcolor-skincolor .testimonials .testimonial-content blockquote,
    .ttm-bgcolor-darkgrey .testimonials .testimonial-content blockquote,
    .banner-img-box .featured-content ul li,
    .banner-img-box .featured-content ul li a,
    .banner-img-box .featured-content .featured-desc p {
      color: rgba(255,255,255,.80);
    }

    .heilight-white-text,
    .ttm-textcolor-white,
    .ttm-textcolor-white a,
    .ttm-btn.ttm-btn-color-white,
    .ttm-highlight-right li,
    .ttm-icon_element-color-white i,
    .ttm-icon_element-bgcolor-skincolor i,
    .ttm-icon_element-bgcolor-darkgrey i,
    .ttm-bgcolor-skincolor .section-title h2.title,
    .ttm-bgcolor-darkgrey .section-title h2.title,
    .ttm-bgcolor-skincolor .section-title h2.title span,
    .ttm-bgcolor-darkgrey .section-title h2.title span,
    .ttm-bgcolor-darkgrey .ttm-bgcolor-skincolor,
    .ttm-bgcolor-skincolor .section-title h5,
    .ttm-bgcolor-darkgrey .section-title h5,
    .ttm-bgcolor-skincolor .featured-title h5,
    .ttm-bgcolor-darkgrey .featured-title h5,
    .ttm-bgcolor-skincolor .inside h3, .ttm-bgcolor-darkgrey .inside h3,
    .ttm-tabs ul.tabs li.active a,
    .ttm-btn.ttm-btn-bgcolor-darkgrey,
    .ttm-bgcolor-skincolor .featured-title h6,
    .ttm-bgcolor-darkgrey .ttm-progress-bar .progress-bar-title,
    .ttm-bgcolor-skincolor .ttm-progress-bar .progress-bar-title,
    .ttm-bgcolor-darkgrey .ttm-progress-bar .progress-bar-percent,
    .ttm-bgcolor-skincolor .ttm-progress-bar .progress-bar-percent,
    .ttm-btn.ttm-btn-color-darkgrey.ttm-btn-style-border:hover,
    .ttm-rt-contact .ttm-custombutton a,
    .ttm-rt-contact .ttm-custombutton a:hover,
    .footer .social-icons li>a,
    .ttm-tag-list span a:hover,
    .ttm-bgcolor-skincolor .ttm-fid-icon-wrapper i,
    .ttm-bgcolor-skincolor .ttm-fid.inside h4,
    .ttm-bgcolor-darkgrey .ttm-fid.inside h4,
    .ttm-header-style-02 .top-contact li,
    .ttm-header-style-02 .top-contact li a,
    .ttm-header-style-02 .ttm-topbar-wrapper .social-icons li>a,
    .ttm-header-style-01 .top-contact li,
    .ttm-header-style-01 .top-contact li a,
    .ttm-header-style-01 .ttm-topbar-wrapper .social-icons li>a,
    .footer .social-icons li>a:hover,
    .ttm-history-box-wrapper:hover .ttm-historybox-title h5,
    .ttm-history-box-wrapper:hover .ttm-historybox-description,
    .ttm-history-box-wrapper:hover .ttm-btn.ttm-btn-color-skincolor,
    .featured-imagebox-portfolio .featured-title h5 a,
    .featured-imagebox-portfolio .ttm-media-link a,
    .featured-icon-box.style5 .ttm-btn.ttm-btn-color-white:hover,
    .ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li.active i,
    .featured-icon-box.style6:hover .featured-title h5,
    .featured-icon-box.style6:hover .featured-desc p,
    .featured-icon-box.style6:hover .ttm-icon_element-color-skincolor,
    .featured-icon-box.style6:hover .ttm-btn.ttm-btn-color-skincolor,
    .featured-imagebox-services.style1:hover .featured-title h5 a,
    .featured-imagebox-services.style1:hover .featured-desc p,
    .featured-imagebox-services.style1:hover .ttm-btn,
    .accordion .toggle-title a.active,
    .sidebar .widget.widget-nav-menu ul li.active a,
    .sidebar .widget.widget-nav-menu ul li:hover a,
    .widget.widget-search .form-group i,
    .sidebar .widget .tagcloud a:hover,
    .ttm-pagination .page-numbers.current,
    .ttm-pagination .page-numbers:hover,
    .ttm-box-view-left-image .featured-content .category> a:hover,
    .social-icons li>a:hover,
    .widget-top-rated-products ins,
    .featured-imagebox-team.style2 .featured-content p.category,
    .ttm-header-style-02 .ttm-custombutton a {
      color: #fff;
    }


    /** White-bg-color **/
    .ttm-bgcolor-white,
    .ttm-bgcolor-white > .ttm-bg-layer,
    .ttm-bgcolor-white > .ttm-bg-layer > .ttm-bg-layer-inner,
    .ttm-bgcolor-skincolor .ttm-btn.ttm-btn-bgcolor-darkgrey:hover,
    .ttm-btn.ttm-btn-style-border.ttm-bgcolor-white,
    .ttm-btn.ttm-btn-color-white.ttm-btn-style-border:hover,
    .ttm-bgcolor-darkgrey .ttm-custombutton.ttm-btn-bgcolor-skincolor:hover,
    .ttm-btn-bgcolor-white,
    .ttm-col-bgcolor-skincolor .inside.ttm-fid-view-topicon h3:after,
    .ttm-bgcolor-skincolor .inside.ttm-fid-view-topicon h3:after,
    .ttm-header-style-01 .ttm-stickable-header.fixed-header,
    .header-btn .ttm-btn.ttm-btn-bgcolor-skincolor:hover,
    .ttm-icon_element-bgcolor-white{
      background-color: #fff;
    }

    /** White-border-color **/
    .white-border,
    .ttm-bgcolor-skincolor .featured-icon-box .featured-icon.ttm-icon_element-border,
    .ttm-bgcolor-darkgrey .featured-icon-box .featured-icon.ttm-icon_element-border,
    .ttm-icon.ttm-icon_element-border.ttm-icon_element-color-white,
    .ttm-btn.ttm-btn-color-white.ttm-btn-style-border:hover,
    .ttm-bgcolor-grey .ttm-pagination .page-numbers,
    .header-btn .ttm-btn.ttm-btn-bgcolor-skincolor:hover{
      border-color: #fff;
    }

    .ttm-bgcolor-skincolor .heading-seperator span:after,
    .ttm-bgcolor-skincolor .heading-seperator:after{
      border-bottom-color: #fff !important;
    }
    .ttm-bgcolor-darkgrey .separator .sep-line,
    .ttm-bgcolor-skincolor .separator .sep-line{
      border-color: rgba(255, 255, 255, .07);
    }
    .ttm-bgcolor-skincolor .section-title.with-desc .title-header:before,
    .ttm-bgcolor-darkgrey .section-title.with-desc .title-header:before{
      border-top-color: #fff !important;
    }

    .ttm-bgcolor-darkgrey .section-title.style2 .title-header:after,
    .ttm-bgcolor-skincolor .section-title.style2 .title-header:after{
      background-color: rgba(240,240,240,.09);
    }
    .banner-img-box .featured-content ul li:not(:last-child){
      border-bottom-color: rgba(255, 255, 255, .2);
    }
    /** 4.Grey-color **/
    .ttm-bgcolor-grey>.ttm-bg-layer,
    .ttm-bgcolor-grey, .ttm-btn-bgcolor-grey,
    .ttm-search-overlay .ttm-site-searchform input[type="search"],
    .ttm-icon_element-bgcolor-grey,
    .sidebar .ttm-bgcolor-grey>.ttm-bg-layer,
    .ttm-blog-single-content .social-icons li>a {
      background-color: #f7f9fe;
    }
    .grey-boder{border-color: #f7f9fe !important;}
    /* Extra-color*/
    .grey-bg-shape{
      background-color: #b6bfd5;
    }

    .ttm-ratting-star{color: #f5cc26!important;}

    .about-overlay-02 h3{
      font-family: 'Playfair Display',Arial,Helvetica;
    }
    .about-overlay-03 h3{
      font-family: "Poppins",sans-serif;
    }
/* ===============================================
Pre-loader ------------------------*/

#preloader  {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -30px 0 0 -30px;
}
#status {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: #fff;
  background-image: url(../images/pre-loader-1.gif);
  background-repeat: no-repeat;
  background-position: center;
}

/*  ===============================================
    SocialIcon
    ------------------------*/
    .social-icons ul{ margin: 0; padding: 0; }
    .social-icons {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 15px;
    }
    .social-icons li {
      display: inline-block;
      border: none;
      margin: 0 3px;
    }
    .social-icons.circle li>a,
    .social-icons.square li>a {
      border: 1px solid #e8ecef;
      height: 33px;
      width: 33px;
      line-height: 33px;
      text-align: center;
      display: block;
      font-size: 13px;
      border-radius: 50%;
      transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
    }
    .social-icons.square li>a{border-radius: 0;}
    .ttm-bgcolor-darkgrey .social-icons.circle li>a,
    .ttm-bgcolor-skincolor .social-icons.circle li>a {
      border: none;
      color: #2c2c2c;
    }
    .ttm-bgcolor-darkgrey .social-icons.circle li>a,
    .ttm-bgcolor-skincolor .social-icons.circle li>a{
      background-color: #fff;
    }

/*  ===============================================
    TooltipTop
    ------------------------*/
    .tooltip-top,
    .tooltip-bottom{ position: relative; }
    .tooltip:after, .tooltip:before, [data-tooltip]:after, [data-tooltip]:before {
      position: absolute;
      visibility: hidden;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(Opacity=0);
      opacity: 0;
      -webkit-transition: opacity .2s ease-in-out,visibility .2s ease-in-out,-webkit-transform .2s cubic-bezier(.71,1.7,.77,1.24);
      -moz-transition: opacity .2s ease-in-out,visibility .2s ease-in-out,-moz-transform .2s cubic-bezier(.71,1.7,.77,1.24);
      transition: opacity .2s ease-in-out,visibility .2s ease-in-out,transform .2s cubic-bezier(.71,1.7,.77,1.24);
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      pointer-events: none;
    }
    .tooltip:before, [data-tooltip]:before {
      z-index: 1001;
      border: 6px solid transparent;
      background: 0 0;
      content: "";
    }
    .tooltip-top:before, .tooltip:before, [data-tooltip]:before {
      margin-left: -6px;
      margin-bottom: -12px;
      border-top-color: #000;
      border-top-color: rgba(24,35,51,1);
    }
    .tooltip-top:after, .tooltip-top:before, .tooltip:after, .tooltip:before, [data-tooltip]:after, [data-tooltip]:before {
      bottom: 78%;
      left: 50%;
    }
    .tooltip-top:focus:after, .tooltip-top:focus:before, .tooltip-top:hover:after, .tooltip-top:hover:before,
    .tooltip:focus:after, .tooltip:focus:before, .tooltip:hover:after, .tooltip:hover:before, [data-tooltip]:focus:after,
    [data-tooltip]:focus:before, [data-tooltip]:hover:after, [data-tooltip]:hover:before {
      -webkit-transform: translateY(-16px);
      -moz-transform: translateY(-16px);
      transform: translateY(-16px);
    }
    .tooltip-top:after, .tooltip:after, [data-tooltip]:after {
      margin-left: -20px;
    }
    .tooltip:after, [data-tooltip]:after {
      z-index: 1000;
      padding: 8px;
      width: 160px;
      color: #fff;
      content: attr(data-tooltip);
      font-size: 14px;
      line-height: 1.2;
      text-align: center;
      border-radius: 5px;
    }
    .tooltip:focus:after, .tooltip:focus:before, .tooltip:hover:after, .tooltip:hover:before,
    [data-tooltip]:focus:after, [data-tooltip]:focus:before, [data-tooltip]:hover:after, [data-tooltip]:hover:before {
      visibility: visible;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(Opacity=100);
      opacity: 1;
    }
    .tooltip-bottom:after{
      bottom: -68px;
      left: 0;
      margin-left: -10px;
    }
    .tooltip-bottom:before{
      margin-left: -6px;
      margin-bottom: -12px;
      border-top-color: transparent!important;
    }
    .tooltip-bottom:before{
      bottom: -24px;
    }

/*  ===============================================
    TopBar
    ------------------------*/
    .ttm-topbar-wrapper{
      line-height: 51px;
      height: 52px;
    }
    .ttm-topbar-wrapper .top-contact.text-left {
      position: relative;
      float: left;
      line-height: 52px;
    }
    .ttm-topbar-wrapper .top-contact.text-left li:not(:last-child):before {
      content: "";
      height: 18px;
      width: 1px;
      background-color: rgba(255,255,255,.09);
      display: block;
      position: absolute;
      right: 0;
      top: 17px;
    }
    .top-contact li{
      position: relative;
      z-index: 1;
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;
    }
    .top-contact li:first-child {
      padding-left: 0px !important;
    }
    .top-contact li strong{font-weight: 500;}
    .top-contact {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 13px;
      display: inline-block;
      position: relative;
    }
    .topbar-right .top-contact li:before {
      content: "";
      height: 18px;
      width: 1px;
      background-color: rgba(255,255,255,.09);
      display: block;
      position: absolute;
      right: 0;
      top: 17px;
    }
    .topbar-right .top-contact.ttm-highlight-right li:last-child:after { content: unset;}
    .ttm-topbar-wrapper .ttm-social-links-wrapper{ margin: 0; position: relative; padding-left: 5px;padding-right: 15px;}
    .ttm-topbar-wrapper .social-icons li{ margin: 0 3px; }
    .ttm-topbar-wrapper .social-icons li>a {
      display: block;
      border: none;
      width: 16px;
      height: 25px;
      line-height: 25px;
      font-size: 13px;
      font-weight: 500;
      background-color: transparent;
      text-align: center;
    }
    .ttm-topbar-wrapper .social-icons li>a:hover{ color: rgba(255,255,255,.80) !important;}
    .ttm-topbar-content .topbar-right .list-inline {
      display: inline-block;
      line-height: 52px;
    }
    .top-contact.ttm-highlight-left {
      margin-right: 15px;
      padding-right: 5px;
    }
    .top-contact.ttm-highlight-right{
      margin-left: 15px;
      padding-left: 15px;
      position: relative;
    }
    .top-contact.ttm-highlight-left:after ,
    .top-contact.ttm-highlight-right:after{
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      width: 5000px;
      height: 100%;
    }
    .top-contact.ttm-highlight-right:after {
      right: 0;
    }
    .top-contact.ttm-highlight-right:after {
      left: 0;
    }
    .top-contact strong {
      font-weight: 600;
    }
    .top-contact i {
      margin-right: 9px;
    }

/*  ===============================================
    Header
    ------------------------*/

    /** SiteBrand(logo) **/
    .site-branding{
      float: left;
      height: 100px;
      line-height: 100px;
      position: relative;
      display: block;
      z-index: 1;
    }
    .ttm-header-top-wrapper{
      position: relative;
    }
    .site-branding img {
    }
    .ttm-header-style-01 .site-branding img {
      height: 75px;
    }
    .ttm-header-style-01 .fixed-header .site-branding img {
      max-height: 42px;
    }
    /** SiteNavigation(Menu) **/
    .site-navigation {  position: relative;}
    #site-header-menu #site-navigation .menu ul li ul > li:not(:last-child){
      border-bottom: 1px solid transparent;
      border-bottom-color: rgba(0,0,0,0.04);
    }
    #site-header-menu #site-navigation .menu ul {  padding: 0px;  margin: 0px; }
    .ttm-menu-toggle{ float: right; }
    .ttm-menu-toggle input[type=checkbox] { display: none; }
    #site-header-menu #site-navigation .menu > ul > li { display: inline-block; position: relative;}
    #site-header-menu #site-navigation .menu ul li:hover > ul {
      opacity: 1;
      display: block;
      visibility: visible;
      height: auto;
      transform:translate(0,0);
    }
    #site-header-menu #site-navigation .menu ul ul > li { position: relative; }
    #site-header-menu #site-navigation .menu ul ul ul {
      position: absolute;
      left: 100%;
      top: 0;
    }
    #site-header-menu #site-navigation .menu ul li > a {
      font-weight: 600;
      text-transform: capitalize;
      font-size: 14px;
      line-height: 19px;
      color: #263045;
    }
    #site-header-menu #site-navigation ul ul li {
      position: relative;
      border-bottom: 1px solid transparent;
    }
    #site-header-menu #site-navigation .menu ul li > ul li > a{
      margin: 0;
      display: block;
      padding: 15px 20px;
      position: relative;
      font-weight: 400;
      font-size: 13px;
      text-transform: capitalize;
      height: auto;
      line-height: 18px;
    }
    #site-header-menu #site-navigation .menu ul > li> ul li.has-submenu > a:after {
      content: "\f105";
      position: absolute;
      background-color: transparent;
      right: 12px;
      top: 16px;
      display: inline-block;
      font-family: "FontAwesome";
      font-size: 15px;
      margin-left: 4px;
      opacity: 0.8;
    }
    #site-header-menu #site-navigation .menu ul li a span {
      padding: 1px 3px 2px;
      border-radius: 2px;
      font-size: 10px;
      line-height: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-left: 7px;
    }

    /** ttm-rt-contact(HeaderIcons - Search, Cart) **/
    .ttm-header-icons {  position: relative;  }
    .ttm-header-icons .ttm-header-cart-link a, .ttm-header-icons .ttm-header-search-link a {
      position: relative;
      border: none;
      border-radius: 5px;
      display: inline-block;
      text-align: center;
      height: 31px;
      width: 31px;
      line-height: 31px;
      color: rgba( 11,12,38,1);
      border-color: rgba( 11,12,38,1);
      font-size: 12px!important;
      z-index: 9;
      color: #fff;
    }
    .ttm-header-icons .ttm-header-cart-link a:hover,
    .ttm-header-icons .ttm-header-search-link a:hover{color: rgba(255, 255, 255, .8) !important;}
    .ttm-header-icons .ttm-header-cart-link a i,
    .ttm-header-icons .ttm-header-search-link a i{ font-weight: 900;font-size: 11px; }
    .ttm-header-icons .ttm-header-cart-link{
      padding-left: 4px;
      padding-right: 0px;
    }
    .ttm-header-icons .ttm-header-icon{ margin-left: 7px; }
    .ttm-header-icons .ttm-header-cart-link span.number-cart {
      position: absolute;
      bottom: 20px;
      left: 18px;
      width: 18px;
      height: 18px;
      text-align: center;
      line-height: 18px;
      font-size: 9px;
      display: block;
      color: #fff;
      border-radius: 50%;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    .header-btn .ttm-btn.ttm-btn-size-md{
      font-size: 14px;
      padding: 13px 11px 7px 10px;
      background-color: #1e1f1f54;
      height: 52px;
      line-height: 25px;
    }
    .ttm-header-style-01 .header-btn .ttm-btn.ttm-btn-bgcolor-skincolor:hover{background-color: #fff !important;}
    .ttm-header-icons, .ttm-header-icon{
      height: 100px;
      line-height: 100px;

    }

    /**  ttm-search-overlay **/
    .ttm-header-icon{ position: relative; }
    .ttm-search-overlay {
      position: absolute;
      top: 100%;
      right: -24px;
      width: 400px;
      background: #fff;
      border-top: 3px solid;
      opacity: 0;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all ease .3s;
      -ms-transition: all ease .3s;
      transition: all ease .3s;
      -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.1);
      -ms-box-shadow: 0 3px 5px rgba(0,0,0,.1);
      box-shadow: 0 3px 5px rgba(0,0,0,.1);
      z-index: 111;
    }
    .ttm-header-style-01 .ttm-search-overlay .w-search-form-row:before{
      right:27px;
    }
    .ttm-search-overlay .w-search-form-row {
      display: table;
      vertical-align: middle;
      text-align: center;
      width: 100%;
      position: relative;
      padding: 20px;
    }
    .ttm-search-overlay .w-search-form-row:before {
      position: absolute;
      right: 17px;
      top: -8px;
      width: 47px;
      height: 47px;
      text-align: center;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 8px solid;
      content: " ";
    }
    .ttm-search-overlay .ttm-site-searchform input[type="search"] {
      font-size: 14px;
      text-align: left;
      height: 45px;
      border: none;
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      box-shadow: none!important;
      color: #333;
      width: 88%;
      line-height: 45px;
      float: left;
      padding: 9px 15px;
    }
    .ttm-search-overlay .ttm-site-searchform button {
      font-size: 14px;
      width: 12%;
      padding: 0;
      border: 0;
      border-radius: 0;
      height: 45px;
      text-align: center;
      display: block;
      line-height: 50px;
      color: #fff;
      float: left;
    }
    .ttm-header-search-link .ttm-tectxon-icon-search:before {
      font-weight: 600;
    }
    .ttm-tectxon-icon-search:before {
      content: '\e825';
      font-family: "themify";
    }
    .ttm-search-overlay.st-show {
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }

    /* .widget_info */
    .widget_info{
      position: relative;
    }
    .widget_info:not(:last-child) {
      padding-right: 50px;
    }
    .widget_info .widget_icon {
      font-size: 34px;
    }
    .widget_info .widget_content {
      margin-left: 14px;
      position: relative;
    }
    .widget_info:not(:last-child) .widget_content:after {
      content: "";
      height: 100%;
      width: 1px;
      background-color: rgba(243,243,243,1);
      display: block;
      position: absolute;
      right: -25px;
      top: 0px;
    }
    .widget_info .widget_title{
      font-size: 17px;
      line-height: 25px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    .widget_info .widget_desc{
      font-size: 15px;
      line-height: 1;
      margin-bottom: 0;
    }
/* ===============================================
    Footer
    ------------------------*/
    .footer .widget { margin: 55px 0 55px; }
    .footer .ttm-textcolor-white { color: rgba(255,255,255,.8); }
    .footer .widget .ttm-btn.ttm-btn-size-md{ padding: 14px 27px 14px 27px; }
    .footer .widget ul>li { padding: 0 0 9px 0;}

    /** FirstFooter **/
    .first-footer{padding: 40px 0 40px 0;}
    .footer-logo img {  }
    .first-footer .featured-icon-box .ttm-icon.ttm-icon_element-size-md{
      height: 30px;
      width: 30px;
      line-height: 30px;
    }
    .first-footer .featured-content{padding-left: 12px !important;}
    .first-footer .ttm-btn{font-weight: 500;font-size: 15px;}
    .first-footer .ttm-btn i{font-size: 15px;}

    /** SecondFooter **/
    .second-footer .quicklink-box {
      padding: 17px 15px;
      border: 1px solid rgba(46,56,77,1);
      background-color: rgba(34,44,64,1);
      margin: 22px 0 0px;
      position: relative;
    }
    .quicklink-box .featured-icon-box .ttm-icon.ttm-icon_element-size-md{
      height: 50px;
      width: 50px;
      line-height: 51px;
    }
    .quicklink-box .featured-icon-box .ttm-icon:before{
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      z-index: 1;
      top: 19px;
      right: -7px;
      border: 7px solid transparent;
      border-right: 0;
      border-left-color: #000;
    }
    .quicklink-box .featured-icon-box .ttm-icon span{font-size: 23px;}
    .quicklink-box .featured-title h5{font-size: 17px;line-height: 24px;margin-bottom: 0;}
    .quicklink-box .featured-content{padding-left: 15px !important;}
    /** bottom-footer **/
    .bottom-footer-text{background-color: #222c40;}

    /* newsletter-form */
    .newsletter-form {
      position: relative;
      margin-bottom: 30px;
      margin-top: 25px;
    }
    .newsletter-form input[type="email"] {
      border: 1px solid rgba(46,56,77,1);
      background-color: rgba(34,44,64,1);
      height: 47px;
      width: 100%;
      font-size: 14px;
      outline: none;
      padding: 9px 40px;
      color: rgba(255,255,255,1);
    }
    .newsletter-form input[type="submit"] {
      position: absolute;
      content: "\e628";
      top: 0px;
      right: 0px;
      font-family: "themify";
      font-style: normal;
      font-weight: 400;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      font-size: 14px;
      color: #fff;
      z-index: 1;
      height: 47px;
      width: 55px;
      padding: 0;
      line-height: 47px;
      text-align: center;
      border: 0;
      cursor: pointer;
    }
    .newsletter-form i {
      padding-right: 1px;
      position: absolute;
      left: 15px;
      top: 17px;
    }
    .mailchimp-inputbox:after {
      position: absolute;
      content: "\f1d9";
      top: 10px;
      right: 18px;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: 400;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      font-size: 16px;
      color: #fff;
      z-index: 1;
    }
    /** SecondFooter **/
    .widget ul{ margin: 0; padding: 0; }
    .widget ul>li {
      padding: 0 0 13px 0;
      position: relative;
    }
    .widget .widget-title {
      position: relative;
      margin-bottom: 20px;
      display: inline-block;
      font-size: 19px;
      line-height: 23px;
      text-transform: capitalize;
    }

    /** footer-social-icons **/
    .footer .social-icons li {
      margin-left: 3px;
      margin-right: 3px;
      min-width: auto;
      padding-bottom: 0 !important;
    }
    .footer .social-icons li:first-child{margin-left: 0;}
    .footer .social-icons li>a {
      border: 1px solid #fff ;
      font-size: 14px;
    }

    /** .widget.link-widget **/
    .widget.link-widget ul li:last-child {padding-bottom: 0;}

    /** Footer-nav-menu **/
    .copyright{
      padding-top: 18px;
      padding-bottom: 18px;
    }

    /** Footer-nav-menu **/
    .footer-nav-menu {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .footer-nav-menu li {
      display: inline-block;
      padding-left: 2px;
      padding-right: 16px;
      font-size: 14px;
      padding-bottom: 0;
    }
    .footer-nav-menu li:last-child { padding-right: 0; }
    .footer-nav-menu li:first-child { padding-left: 0; }
    ul.footer-nav-menu li:not(:last-child):after {
      position: absolute;
      content: "|";
      padding-left: 7px;
    }
    .widget ul#menu-footer-services li a {
      padding-left: 16px;
      position: relative;
    }
    .widget ul#menu-footer-services li a:before {
      font-family: 'FontAwesome';
      content: "\f101";
      position: absolute;
      top: 0px;
      left: 0;
      line-height: 18px;
      font-size: 15px;
    }
/* ===============================================
    GoTop BUtton
    ------------------------*/
    #totop{
      font-weight: 900;
      color: #fff;
      display: none;
      position: fixed;
      right: 34px;
      bottom: 34px;
      z-index: 999;
      height: 0;
      width: 0;
      font-size: 0;
      text-align: center;
      padding-top: 3px;
      line-height: 34px;
      border-radius: 3px;
    }
    #totop.top-visible {
      height: 40px;
      width: 40px;
      font-size: 22px;
      display: inline;
    }

/* ===============================================
    Page-Title-Row
    ------------------------*/

    .slidertext{
     color: #fff!important;
     background-color: #08090b82;
     padding: 15px!important;
         margin-top: 24%!important;
   }

   .ttm-page-title-row {
    position: relative;
    background-image: url(../images/ttm-pagetitle-bg.jpg);

    background-repeat: no-repeat;
    background-position: center;
  }
  div.ttm-page-title-row > .ttm-bg-layer { background-color: rgba(24,35,51,0.85); }
  .ttm-page-title-row {
    display: block;
    padding-top: 255px;
    padding-bottom: 110px;
    z-index: 11;
  }
  .title-box .page-title-heading h1 {
    text-transform: capitalize;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 700;
  }
  .title-box .page-title-heading{ position: relative; }
  .breadcrumb-wrapper span {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 25px;
  }

/* ===============================================
    Inner-Pages
    ------------------------*/

    /*------------------------------------------------------------------------------*/
/*  Contact_Us
/*------------------------------------------------------------------------------*/

#map_canvas { margin: 0; padding: 0; height: 100%; }
.map-wrapper{
  height: 450px;
}

/*------------------------------------------------------------------------------*/
/*  Error_page
/*------------------------------------------------------------------------------*/
.error-404{   position: relative; }
.page-header { margin: 40px 0 20px; }
section.error-404 {
  padding: 300px 0 150px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section.error-404 .ttm-big-icon { font-size: 150px; }
section.error-404 h1 { font-size: 95px; text-transform: uppercase; line-height: 100%; }
section.error-404 .page-content p { font-size: 18px; margin-bottom: 30px; }


/* ===   link-list ==
------------------------*/
.list-style-disc {list-style-type: disc !important;}
.list-style-decimal {list-style-type: decimal!important;}
ul.ttm-list {
  list-style: none;
  padding: 0;
  padding-left: 0;
}
.ttm-list.ttm-list-style-icon li i {
  position: absolute;
  left: 0px;
  top: 5px;
}
.ttm-list.ttm-list-style-icon li {
  padding-left: 27px;
  list-style: none;
  position: relative;
  padding-bottom: 10px;
}
.ttm-list.ttm-list-textsize-medium li{font-size: 16px;padding-bottom: 9px;}

/* ===   ttm-history-box-wrapper ==
------------------------*/
.ttm-history-box-wrapper {position: relative;text-align: center;margin-top: 5px;}
.ttm-history-box-wrapper .ttm-history-box-icon-wrapper {position: relative}
.ttm-history-box-wrapper .ttm-icon.ttm-icon_element-size-md{
  height: 70px;
  width: 70px;
  line-height: 70px;
  border:1px solid #e5e5e5;
}
.ttm-history-box-wrapper .ttm-icon.ttm-icon_element-size-md i{font-size: 35px;}
.ttm-history-box-icon-wrapper:before {position: absolute;content: ' ';top: 74px;height: 90px;width: 1px;background-color: #e8eaed}
.ttm-history-box-wrapper .ttm-history-box-border {position: relative;margin: 39px 0 43px;border: 1px dashed #e5e5e5;width: 111%}
.ttm-history-box-border:before{
  position: absolute;
  content: ' ';
  left: 50%;
  margin-left: -19px;
  height: 12px;
  width: 12px;
  z-index: 1;
  border-radius: 50px;
  background-color: #e8eaed;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  top: -7px;
}
.ttm-history-box-details {
  text-align: center;
  background-color: #fff;
  padding: 40px 30px 40px;
  -webkit-box-shadow: 0 0 12px 0 rgba(32, 46, 60, .06);
  -moz-box-shadow: 0 0 12px 0 rgba(32, 46, 60, .06);
  box-shadow: 0 0 12px 0 rgba(32, 46, 60, .06)
}
.ttm-history-box-wrapper .ttm-historybox-title h5 {font-size: 19px;line-height: 26px;margin-bottom: 8px}
.ttm-history-box-wrapper:hover .ttm-icon.ttm-icon_element-size-md {
  -ms-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15)
}

/* ===   project single ==
------------------------*/

.ttm-pf-single-detail-box{
  padding: 35px 35px 25px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 0 rgba(40,61,88,.07);
  -moz-box-shadow: 0 0 15px 0 rgba(40,61,88,.07);
  box-shadow: 0 0 15px 0 rgba(40,61,88,.07);
  border-bottom: 3px solid #000;
}
.ttm-pf-single-title h5{
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 11px;
}
.ttm-pf-single-detail-box ul li{
  position: relative;
  display: block;
  padding: 15px 0 15px 0px;
  font-size: 15px;
  margin-left: 3px;
}
.ttm-pf-single-detail-box ul{margin: 0;padding: 0;}
.ttm-pf-single-detail-box ul li i{margin-right: 10px;font-size: 16px;}
.ttm-pf-single-detail-box ul li span{font-weight: 500;margin-right: 5px;}
.ttm-pf-single-detail-box ul li:not(:last-child){
  border-bottom: 1px solid #e8ecef;
}
.ttm-nextprev-bottom-nav .nav-next a:after,
.ttm-nextprev-bottom-nav .nav-previous a:after {
  position: absolute;
  font-size: 15px;
  top: 10px
}
.ttm-nextprev-bottom-nav .nav-previous a {
  padding-right: 25px;
  padding-left: 44px
}
.ttm-nextprev-bottom-nav .nav-previous a:after {
  content: '\f100';
  font-family: FontAwesome;
  left: 25px
}
.ttm-nextprev-bottom-nav .nav-next a {
  padding-right: 50px;
  padding-left: 32px
}
.ttm-nextprev-bottom-nav .nav-next a:after {
  content: '\f101';
  font-family: FontAwesome;
  right: 25px
}
.ttm-pf-single-related-wrapper {margin-top: 50px;}




/*------------------------------------------------------------------------------*/
/*  Classic_Blog
/*------------------------------------------------------------------------------*/
article.ttm-blog-classic {
  margin-bottom: 35px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 0 rgba(40,61,88,.07);
  -moz-box-shadow: 0 0 15px 0 rgba(40,61,88,.07);
  box-shadow: 0 0 15px 0 rgba(40,61,88,.07);
}
article.ttm-blog-classic:last-child{
  margin-bottom: 15px;
}
article.ttm-blog-classic, .post-featured-wrapper{
  position: relative;
}
.ttm-blog-classic .ttm-box-post-date .entry-month, .ttm-blog-classic .ttm-box-post-date .entry-date{
  display: block;
  font-size: 22px;
  line-height: 18px;
}
article.ttm-blog-classic .ttm-blog-classic-content {
  padding: 45px 30px 30px;
  background: #fff;
  z-index: 1;
  position: relative;
}
article.ttm-blog-classic .ttm-post-entry-header{
  position: absolute;
  top: -20px;
  left: auto;
}
.ttm-blog-classic .post-meta{
  padding: 6px 15px;
  display: inline-block;
  margin-bottom: 0;
  -webkit-box-shadow: 0 0 15px 0 rgba(40,61,88,.07);
  -moz-box-shadow: 0 0 15px 0 rgba(40,61,88,.07);
  box-shadow: 0 0 15px 0 rgba(40,61,88,.07);
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  margin: 0;
}
.ttm-blog-classic .post-meta .ttm-meta-line, .ttm-blog-single-content .post-meta .ttm-meta-line {
  font-size: 13px;
  line-height: 15px;
  display: inline-block;
  padding-right: 25px;
  position: relative;
}
.ttm-blog-classic .post-meta .ttm-meta-line:not(:last-child):after,
.ttm-blog-single-content .post-meta .ttm-meta-line:not(:last-child):after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  top: 0;
  right: 10px;
  display: block;
  background-color: rgba(0,0,0,0.2);
}
.ttm-blog-classic .post-meta .ttm-meta-line i, .ttm-blog-single-content .post-meta .ttm-meta-line i {
  padding-right: 7px;
  font-size: 13px;
}
.ttm-blog-classic .entry-header .entry-title {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 10px;
}
.ttm-blog-classic .ttm-blogbox-desc-footer {
  margin-top: 15px;
  clear: both;
  overflow: hidden;
}
.ttm-blog-classic .ttm-commentbox i{margin-right: 5px;}

.ttm-blog-single .ttm-blog-single-content blockquote {
  display: block;
  background: #fff;
  -webkit-box-shadow: 0 0 15px 0 rgba(40,61,88,.07);
  -moz-box-shadow: 0 0 15px 0 rgba(40,61,88,.07);
  box-shadow: 0 0 15px 0 rgba(40,61,88,.07);
  padding: 32px 60px 16px 40px;
  position: relative;
  font-weight: 500;
  margin: 35px 0 50px 0;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-style: italic;
  color: #6e6e6e;
  border-left: 4px solid;
}
.ttm-blog-single .ttm-blog-single-content blockquote:before{
  content: '\f10d';
  font-family: "FontAwesome";
  display: inline-block;
  position: absolute;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  line-height: 70px;
  top: auto;
  bottom: -30px;
  right: 35px;
  width: 70px;
  height: 70px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
}
.ttm-tag-list span a {
  padding: 7px 15px;
  background-color: #f7f9fe;
  display: inline-block;
  margin-right: 6px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 7px;
}
/*blog-comment*/
.comments-area {
  margin-top: 50px;
  margin-bottom: 0;
}
.comments-area h2,
.comment-reply-title{
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
}
.comment-list li { position: relative; margin-top: 30px; }
.comment-list, .comment-list .children {
  list-style-type: none;
  padding: 0;
}
.single-post .comments-area { margin-top: 50px; margin-bottom: 0; }
.single-post .comments-area .comments-title { font-size: 33px; font-weight: 600; }
.comment-body {
  margin-left: 105px;
  margin-top: 35px;
  margin-bottom: 30px;
  padding: 20px 20px;
  position: relative;
  background-color: #f5faff;
  border: 1px solid #f5faff;
}
.comment-body:before {
  position: absolute;
  top: 17px;
  width: 0;
  height: 0;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #f5faff transparent #f5faff;
  z-index: 1;
  content: "";
  left: -12px;
}
.comment-author {
  float: left;
  text-align: center;
  width: 87px;
  height: 87px;
  display: block;
  margin-right: 25px;
  overflow: hidden;
  margin-left: -125px;
  margin-top: -20px;
}
.comment-author img { max-width: 100%; height: auto; }
.comment-meta {
  font-size: 14px;
  padding: 0;
  position: relative;
}
.comment-meta, .comment-meta a { color: #6e6e6e; font-size: 13px; }
.comment-meta .ttm-comment-owner h5, .ttm-comment-owner {
 display: block;
 font-size: 18px;
 line-height: 18px;
 font-weight: 600;
 color: #182333;
 font-style: normal;
}
.comment-box .author-content-wrap p{margin-top: 10px;}
.single article.post .comment-body p { margin-top: 10px;margin-bottom: 0; }
.comment-list a.comment-reply-link {
  border: none;
  color: #fff;
  font-size: 13px;
  padding: 2px 30px 3px 17px;
  position: relative;
  margin-top: 5px;
  display: inline-block;
}
.comment-list a.comment-reply-link:after {
  position: absolute;
  top: 6px;
  font-family: 'themify';
  content: "\e649";
  font-weight: 400;
  display: inline-block;
  margin-right: .2em;
  text-align: center;
  opacity: 1;
  line-height: 22px;
  font-size: 10px;
  margin-left: 8px;
}
.comments-area .comment-respond { padding-top: 10px; }
#respond .comment-reply-title { margin: 0 0 20px!important; }
.comments-area .comment-form textarea,
.comments-area .comment-form input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-radius: 0;
  padding-left: 0;
}

/*------------------------------------------------------------------------------*/
/*  Elements_page
/*------------------------------------------------------------------------------*/
.element-row{ padding: 40px 0 0px; position: relative;}
.element-row .section-title h2.title{ margin-top: 22px; margin-bottom: 25px;}
.element-row .ttm-row{padding: 50px 0;}

/** element-progressbar **/
.ttm-progress-bar .progress-bar.progress-bar-color-bar_blue,
.ttm-progress-bar .progress-bar-color-bar_blue.progress-bar:before  { background-color: #0074cc; }
.ttm-progress-bar .progress-bar.progress-bar-color-bar_green,
.ttm-progress-bar .progress-bar-color-bar_green.progress-bar:before { background-color: #5bb75b; }
.ttm-progress-bar .progress-bar.progress-bar-color-bar_pink,
.ttm-progress-bar .progress-bar-color-bar_pink.progress-bar:before { background-color: #f4524d; }
.ttm-progress-bar .progress-bar.progress-bar-color-bar_turquoise,
.ttm-progress-bar .progress-bar-color-bar_turquoise.progress-bar:before { background-color: #00c1cf; }
.ttm-progress-bar .progress-bar.progress-bar-color-bar_yellow,
.ttm-progress-bar .progress-bar-color-bar_yellow.progress-bar:before { background-color: #ffb300; }

/** icon_element-style-fill **/
.ttm-icon.ttm-icon_element-fill {color: #fff; }
.ttm-icon.ttm-icon_element-fill.ttm-icon_element-background-yellow  { background-color: #ffb300; }
.ttm-icon.ttm-icon_element-fill.ttm-icon_element-background-orange  { background-color: #ff4c00; }
.ttm-icon.ttm-icon_element-fill.ttm-icon_element-background-red  { background-color: #ff0a26; }
.ttm-icon.ttm-icon_element-fill.ttm-icon_element-background-dark_pink  { background-color: #ff0061; }
.ttm-icon.ttm-icon_element-fill.ttm-icon_element-background-mulled_wine  { background-color: #50485b; }
.ttm-icon.ttm-icon_element-fill.ttm-icon_element-background-aqua{ background-color: #39c8df; }
.ttm-icon.ttm-icon_element-fill.ttm-icon_element-color-aqua{ color: #39c8df; }

/** icon_element-style-border **/
.ttm-icon.ttm-icon_element-border.ttm-icon_element-color-mulled_wine { border-color: #50485b; color: #50485b; }
.ttm-icon.ttm-icon_element-border.ttm-icon_element-color-blue { border-color: #5472d2; color: #5472d2; }
.ttm-icon.ttm-icon_element-border.ttm-icon_element-color-white { border-color: #fff; color: #fff; }
.ttm-icon.ttm-icon_element-border.ttm-icon_element-color-yellow { border-color: #ffb300; color: #ffb300; }
.ttm-icon.ttm-icon_element-border.ttm-icon_element-color-orange { border-color: #ff4c00; color: #ff4c00; }
.ttm-icon.ttm-icon_element-border.ttm-icon_element-color-red { border-color: #ff0a26; color: #ff0a26; }

/** icon_element-bgcolor **/
.element-style .icon-box-wrapper { padding-top: 15px; }
.element-style .row .col-md-6 .featured-icon-box:not(:last-child){ padding: 0; margin-bottom: 40px; }

/** team-member-details **/
.ttm-team-member-single-title {
  font-size: 28px;
  line-height: 37px;
  margin-bottom: 0
}
.ttm-team-member-single-position {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 20px;
  display: block;
}
.ttm-team-details-list{margin: 0;padding: 0;}
.ttm-team-details-list li{width: 50%;float: left;padding-bottom: 10px;}
.ttm-team-details-list .ttm-team-list-title {
  margin-right: 3px;
  position: relative;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding-left: 24px
}
.ttm-team-extra-details-wrapper .ttm-team-details-list .ttm-team-list-title {
  text-indent: 0;
  width: auto;
  margin-right: 3px
}
.ttm-team-details-list .ttm-team-list-title,
.ttm-team-details-list .ttm-team-list-value {
  display: inline-block
}
.ttm-team-list-title i {
  position: absolute;
  text-align: center;
  text-indent: 0;
  font-size: 16px;
  top: 0;
  margin-right: 3px;
  display: inline;
  left: 0px
}
.ttm-team-details-list {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px
}
.member-info-box{padding: 30px;}
.timing-box{position: relative;}
.timing-box i{
  font-size: 25px;
  position: absolute;
  left: 0;
  font-weight: normal;
}
.timing-box h5{padding-left: 35px}
ul.timing-list,ul.info-list{padding: 0;margin: 0;}
ul.timing-list li{
  padding: 2px 0;
  font-size: 15px;
  line-height: 23px;
}
ul.timing-list li span{}
ul.timing-list li span.day{}
ul.timing-list li span.time{float: right;}

ul.info-list li{
  padding: 15px 0;
  font-size: 15px;
  line-height: 23px;
}
ul.info-list li:first-child{padding-top: 0;}
ul.info-list li:not(:last-child){
  border-bottom: 1px solid #eaeaea;
}
ul.info-list li:last-child{padding-bottom: 0;}
ul.timing-list,ul.info-list{padding-top: 10px;}
ul.info-list li i{margin-right: 10px;font-size: 15px;}
.member-contact-form{padding: 30px;}

.dnone{
  display: none!important;
}
