@media only screen and (min-width: 1801px){

	/* Bg-Layer */
	.ttm-left-span .ttm-col-wrapper-bg-layer {
		margin-left: -500px;
	}
	.ttm-right-span .ttm-col-wrapper-bg-layer
	{
		margin-right: -500px;
	}
}

@media only screen and (max-width: 1800px) and (min-width: 1601px){

	/* Bg-Layer */
	.ttm-left-span .ttm-col-wrapper-bg-layer {
		margin-left: -400px;
	}
	.ttm-right-span .ttm-col-wrapper-bg-layer,
	.col-bg-img-one .ttm-right-span .ttm-col-wrapper-bg-layer {
		margin-right: -400px;
	}
}

@media only screen and (max-width: 1600px) and (min-width: 1401px){

	/* Bg-Layer */
	.ttm-left-span .ttm-col-wrapper-bg-layer {
		margin-left: -300px;
	}
	.ttm-right-span .ttm-col-wrapper-bg-layer,
	.col-bg-img-one .ttm-right-span .ttm-col-wrapper-bg-layer {
		margin-right: -300px;
	}
}

@media only screen and (max-width: 1400px) and (min-width: 1171px){

	/* Bg-Layer */
	.ttm-left-span .ttm-col-wrapper-bg-layer {
		margin-left: -200px;
	}
	.ttm-right-span .ttm-col-wrapper-bg-layer ,
	.col-bg-img-one .ttm-right-span .ttm-col-wrapper-bg-layer{
		margin-right: -200px;
	}
}

@media only screen and (min-width: 1200px){

	/*topbar*/
	.ttm-header-style-01 .ttm-topbar-wrapper,
	.ttm-header-style-02 .ttm-topbar-wrapper{background-color: #124970f0;}
	.site-header-menu{background-color: rgba(255,255,255,0.8);height: 93px;}
	#site-header-menu #site-navigation .menu ul > li > a {
		display: block;
		margin: 0px;
		padding: 0px 17px 0px 17px;
		text-decoration: none;
		position: relative;
		z-index: 1;
		height: 100px;
		line-height: 100px;
	}
	.ttm-header-style-01 #site-header-menu #site-navigation .menu ul.dropdown > li > a:before{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background-color: #2d4a8a;
		height: 2px;
		transform-origin: right center;
		-webkit-transform-origin: right center;
		-webkit-transform: scale(0,1);
		-khtml-transform: scale(0,1);
		-moz-transform: scale(0,1);
		-ms-transform: scale(0,1);
		-o-transform: scale(0,1);
		transform: scale(0,1);
		-webkit-transition: transform .25s cubic-bezier(.37,.31,.2,.85);
		-khtml-transition: transform .25s cubic-bezier(.37,.31,.2,.85);
		-moz-transition: transform .25s cubic-bezier(.37,.31,.2,.85);
		-ms-transition: transform .25s cubic-bezier(.37,.31,.2,.85);
		-o-transition: transform .25s cubic-bezier(.37,.31,.2,.85);
		transition: transform .25s cubic-bezier(.37,.31,.2,.85);
	}
	.ttm-header-style-01 #site-header-menu #site-navigation .menu ul.dropdown > li:hover > a:before,
	.ttm-header-style-01 #site-header-menu #site-navigation .menu ul.dropdown > li.active > a:before{
		transform-origin: left center;
		-webkit-transform-origin: left center;
		-webkit-transform: scale(1,1);
		-khtml-transform: scale(1,1);
		-moz-transform: scale(1,1);
		-ms-transform: scale(1,1);
		-o-transform: scale(1,1);
		transform: scale(1,1);
	}
	#site-header-menu #site-navigation .menu > ul > li > ul > li a{
		font-weight: 400;
		font-size: 13px;
		line-height: 16px;
		-webkit-transition: all .3s linear;
		transition: all .3s linear;
	}
	#site-header-menu #site-navigation .menu > ul > li ul a{
		-webkit-transition: all .3s linear;
		transition: all .3s linear;
	}
	#site-header-menu #site-navigation .menu > ul ul li:hover > a{
		padding-left: 25px;
	}
	#site-header-menu #site-navigation .menu > ul > li ul a:before{
		font-size: 24px;
		line-height: 9px;
		content: "";
		margin-right: 5px;
		position: absolute;
		width: 6px;
		height: 2px;
		opacity: 0;
		left: 0px;
		-webkit-transition: .5s all;
		-o-transition: .5s all;
		-moz-transition: .5s all;
		-ms-transition: .5s all;
		transition: .5s all;
		background-color: #2d4a8a;
		top: 22px;
	}
	#site-header-menu #site-navigation .menu > ul > li ul a:hover:before{
		opacity: 1;
		left: 10px;
	}
	.ttm-header-style-01 .ttm-header-icons:before,
	.ttm-header-style-classic .ttm-header-icons:before {
		display: block;
		content: "";
		position: absolute;
		height: 30px;
		width: 1px;
		left: 10px;
		top: 50%;
		margin-top: -14px;
		background-color: rgba( 11,12,38,0.06);
	}
	.ttm-header-style-01 .ttm-header-icons:before {
		background-color: rgba( 38,48,69,0.09);
	}
	.ttm-stickable-header.fixed-header {
		z-index: 111;
		background-color: #fff;
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.06);
	}
	.ttm-header-style-01 #site-header-menu .ttm-stickable-header.fixed-header #site-navigation > .menu > ul > li > a,
	.ttm-header-style-01 .ttm-stickable-header.fixed-header .site-branding,
	.ttm-header-style-01 .ttm-stickable-header.fixed-header .ttm-header-icons,
	.ttm-header-style-01 .ttm-stickable-header.fixed-header .ttm-header-icon,
	.ttm-header-style-01 .ttm-stickable-header.fixed-header .header-btn{
		height: 70px;
		line-height: 70px;
	}
	.fixed-header {
		position: fixed !important;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9;
	}
	.menu, .ttm-rt-contact, .ttm-header-icon, .header-btn,.ttm-custombutton{ float: right; }

	/*ttm-header-style-01*/
	.ttm-header-style-01 .ttm-topbar-wrapper{ border-bottom: 1px solid rgba(255,255,255,0.09);}
	.ttm-header-style-01 .site-branding,
	.ttm-header-style-01 #site-header-menu #site-navigation .menu > ul > li > a,
	.ttm-header-style-01 .ttm-header-icons, .ttm-header-style-01 .ttm-header-icon	 {
		height: 93px;
		line-height: 93px;
	}
	.ttm-header-style-01 .ttm-stickable-header-w,
	.ttm-header-style-03 .ttm-stickable-header-w {
		position: absolute;
		height: 93px;
		z-index: 21;
		width: 100%;
		box-shadow: none;
		-khtml-box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		-o-box-shadow: none;
	}

	#site-header-menu #site-navigation .menu > ul > li:last-child:after{ display: none; }
	#site-header-menu #site-navigation > ul li > a,
	#site-header-menu #site-navigation .menu ul > li ul li > a {
		margin: 0;
		display: block;
		padding: 15px 15px 15px 15px;
		position: relative;
	}
	#site-header-menu #site-navigation .menu > ul > li > ul > li.active > a,
	#site-header-menu #site-navigation .menu > ul > li > ul > li:hover > a,
	#site-header-menu #site-navigation .menu > ul > li > ul > li> ul > li.active > a,
	#site-header-menu #site-navigation .menu > ul > li > ul > li> ul > li:hover > a{
		background-color: #f7f9fe;
	}
	#site-header-menu #site-navigation .menu ul ul {
		text-align: left;
		position: absolute;
		visibility: hidden;
		display: block;
		opacity: 0;
		line-height: 14px;
		left: 0;
		top: auto;
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
		transition: all .2s ease;
		z-index: 99;
		background-color: #fff;
		width: 250px;
		transform: translate(0, 10px);
		transition: opacity 200ms ease-in, transform 200ms ease-in, visibility 200ms ease-in;
	}
	#site-header-menu #site-navigation .menu > ul > li:last-child > ul{
		right: 0;
		left: auto;
	}
	#site-header-menu #site-navigation div.menu > ul > li:nth-child(2) ul {
		background-position: 0% 0%;
		background-size: auto;
		background-repeat: repeat;
		background-attachment: scroll;
	}
	#site-header-menu #site-navigation > ul > li ul a:before {
		font-family: "FontAwesome";
		display: inline;
		text-decoration: inherit;
		text-align: center;
		font-size: 24px;
		line-height: 9px;
		content: "-";
		margin-right: 5px;
		transform: translateY(-50%) translateX(-10px);
		left: 0px;
		-webkit-transition: .3s all;
		-o-transition: .3s all;
		transition: .3s all;
	}
	/* ttm-header-style 02*/
	.ttm-header-style-02 .site-branding {
		padding: 34px 0;
	}
	.ttm-header-style-02 .widget_info {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.ttm-header-style-02 .site-branding {
		display: block;
		position: relative;
		z-index: 10;
		height: auto;
		line-height: 1;
	}
	.ttm-header-style-02 .site-branding:before {
		left: auto;
		right: 100%;
		width: 1200px;
	}
	.ttm-header-style-02 #site-header-menu {
		border-top: 1px solid #eaeff5;
	}
	.ttm-header-style-02 #site-header-menu {
		height: 60px;
		background-color: #f7f9fe;
	}
	.ttm-header-style-02 .ttm-stickable-header.fixed-header{background-color: #f7f9fe;}
	.ttm-header-style-02 #site-header-menu .site-navigation .header_extra .search_btn{
		position: relative;
	}
	.ttm-header-style-02 #site-header-menu .site-navigation .menu ul.dropdown > li > a {
		margin: 0px 22px 0px 22px !important;
		padding: 0 !important;
	}
	.ttm-header-style-02 #site-header-menu .site-navigation .menu ul.dropdown > li:first-child > a{margin-left: 0 !important;}
	.ttm-header-style-02 #site-header-menu .site-navigation ul.dropdown > li:not(:last-child) >a:after{
		content: "";
		position: absolute;
		height: 20px;
		width: 1px;
		right: -22px;
		top: 50%;
		-khtml-transform: translateX(0%) translateY(-50%);
		-moz-transform: translateX(0%) translateY(-50%);
		-ms-transform: translateX(0%) translateY(-50%);
		-o-transform: translateX(0%) translateY(-50%);
		transform: translateX(0%) translateY(-50%);
		background-color: rgba( 38,48,69,0.06);
		display: inline-block;
	}
	.ttm-header-style-02 #site-header-menu .site-navigation ul.dropdown > li >a:before{
		width: 0;
		height: 2px;
		left: 2%;
		bottom: 16px;
		right: auto;
		display: block;
		opacity: 0;
		position: absolute;
		content: "";
		background-color: #2d4a8a;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.ttm-header-style-02 #site-header-menu .site-navigation ul.dropdown > li:hover >a:before{
		width: 15px;
		opacity: 1;
	}
	.ttm-header-style-02 #site-header-menu .site-navigation .header_extra .search_btn:after{
		height: 75px;
		top: 20px;
		right: -25px;
	}
	.ttm-header-style-02 #site-header-menu .site-navigation .header_extra > div {
		margin: 0 25px;
	}
	.ttm-header-style-02 .menu{float: none;}
	.ttm-header-style-02 #site-header-menu #site-navigation .menu ul.dropdown > li > a,
	.ttm-header-style-02 .ttm-header-icons,
	.ttm-header-style-02 .ttm-header-icon,
	.ttm-header-style-02 .ttm-custombutton{
		height: 60px;
		line-height: 60px;
	}
	.ttm-header-style-02 .ttm-custombutton {
		position: relative;
		padding-left: 30px;
		font-weight: 500;
	}
	.ttm-header-style-02 .ttm-custombutton:after {
		content: "";
		width: 5000px;
		height: 100%;
		background-color: rgba( 45,74,138,1);
		left: 100%;
		top: 0px;
		position: absolute;
	}
	.ttm-header-style-02 .ttm-header-icons {padding-right: 15px;}

	/* header-style-03 */
	.ttm-header-style-03 .site-header-menu{background-color: transparent;}
	.ttm-header-style-03 nav.menu{float: none;}
	.ttm-header-style-03 nav.menu > ul{float: right;}
	.ttm-header-style-03 .site-branding {
		height: 108px;
		line-height: 108px;
		padding-right: 50px;
	}
	.ttm-header-style-03 .site-branding:before{
		position: absolute;
		content: '';
		right: 0;
		width: 1px;
		height: 145px;
		top: -21px;
		background-color: rgba(0,0,0,0.06);
	}
	.ttm-header-style-03 .site-navigation {position: relative;}
	.ttm-header-style-03 .site-navigation:after{
		position: absolute;
		bottom: 0;
		content: '';
		width: auto;
		border-bottom: 1px solid rgba(0,0,0,0.06);
		left: -3000px;
		right: -3000px;
	}
	.ttm-header-style-03 .ttm-topbar-wrapper{height: 50px;line-height: 50px;position: relative;}
	.ttm-header-style-03 .ttm-topbar-wrapper:before{
		position: absolute;
		content: "";
		height: 1px;
		bottom: 0;
		left: -15%;
		right: -3000px;
		background-color: rgba(0,0,0,0.06);
	}
	.ttm-header-style-03 #site-header-menu #site-navigation .menu > ul > li > a,
	.ttm-header-style-03 .header-btn,
	.ttm-header-style-03 .ttm-header-icons,
	.ttm-header-style-03 .ttm-header-icon{height: 93px;line-height: 93px;}
	.ttm-header-style-03 .header-btn{padding-left: 30px;}
	.ttm-header-style-03 .fixed-header .ttm-topbar-wrapper{display: none;}

	.ttm-header-style-03  #site-header-menu .fixed-header .menu > ul > li > a,
	.ttm-header-style-03 .fixed-header .header-btn,
	.ttm-header-style-03 .fixed-header .ttm-header-icons,
	.ttm-header-style-03 .fixed-header .ttm-header-icon,
	.ttm-header-style-03 .fixed-header .site-branding{height: 70px !important;line-height: 70px !important;}

	.ttm-header-style-03 .fixed-header .site-branding:before { height: 70px; top: 0;}

	/*Footer*/
	.second-footer>div>.row .widget-area:first-child .widget { margin-right: 10px; }
	.second-footer>div>.row .widget-area:first-child .widget:not(:first-child) { padding: 0; margin-top: -20px; }
}

@media all and (max-width: 1199px) {

	/* Header */
	header .container{ max-width: 100%; }

	.ttm-menu-toggle {
		position: absolute;
		height: 31px;
		width: 31px;
		float: left;
		top: 29px;
	}
	.ttm-menu-toggle label {
		cursor: pointer;
		position: absolute;
		z-index: 99;
		height: 100%;
		width: 100%;
		top: 33px;
		left: 0;
		margin : 0;
	}
	.ttm-menu-toggle .toggle-block {
		position: absolute;
		height: 2px;
		width: 100%;
		padding: 0;
		background-color: #262626;
	}
	.ttm-menu-toggle .toggle-blocks-1 {
		position: relative;
		float: left;
	}
	.ttm-menu-toggle .toggle-blocks-2 {
		position: relative;
		float: left;
		margin-top: 6px;
	}
	.ttm-menu-toggle .toggle-blocks-3 {
		position: relative;
		float: left;
		margin-top: 6px;
	}
	.ttm-menu-toggle input[type=checkbox]:checked ~ .ttm-menu-toggle-block > .toggle-blocks-2 { opacity: 0; }
	.ttm-menu-toggle input[type=checkbox]:checked ~ .ttm-menu-toggle-block > .toggle-blocks-1 {
		transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		margin-top: 10px;
	}
	.ttm-menu-toggle input[type=checkbox]:checked ~ .ttm-menu-toggle-block > .toggle-blocks-3 {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
		margin-top: -10px;
	}
	#site-header-menu #site-navigation .menu {
		clear: both;
		min-width: inherit;
		float: none;
	}
	#site-header-menu #site-navigation .menu > li > ul.sub-menu {
		padding: 0px;
		border: none;
	}
	#site-header-menu #site-navigation .menu, #site-header-menu #site-navigation .menu > ul ul ,
	#site-header-menu #site-navigation .menu ul li > ul li a:before{ display: none;}
	#site-header-menu #site-navigation .menu.active,
	#site-header-menu #site-navigation .menu > ul ul.active { max-height: 55em; display: block;}
	#site-header-menu #site-navigation .menu > ul > li:last-of-type a { border: none; }
	#site-header-menu #site-navigation .menu li a {
		color: #fff;
		display: block;
		padding: 0.8em;
		position: relative;
	}
	#site-header-menu #site-navigation .menu ul ul > li a {
		padding: 10px 18px 10px 30px;
	}
	#site-header-menu #site-navigation .menu ul li:hover > ul {
		display: block;
	}
	#site-header-menu #site-navigation .menu ul li > ul{ padding-left: 15px; }
	#site-header-menu #site-navigation .menu ul.dropdown li a.active:after { content: '\f106'; font-family: 'FontAwesome'; }
	#site-header-menu #site-navigation .menu ul ul, #site-header-menu #site-navigation .menu ul ul ul {
		display: inherit;
		position: relative;
		left: auto;
		top: auto;
		border: none;
	}

	/* header */
	.site-header-menu-inner.ttm-stickable-header{ width: auto; display: block; position: relative;}
	.site-branding{ float: none; text-align: center; }
	.site-branding  {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;
		height: 80px;
		line-height: 80px;
	}
	.header-btn{ display: none;}
	#site-header-menu #site-navigation .menu ul > li ul li > a { padding : 15px 15px 15px 0; font-size: 13px;}
	#site-header-menu #site-navigation .menu > ul {
		position: absolute;
		padding: 10px 20px;
		box-shadow: rgba(0,0,0,0.12) 3px 3px 15px;
		z-index: 100;
		width: 100%;
		top: auto;
		background-color: #fff;
		border-top: 3px solid;
	}
	.ttm-header-style-03 #site-header-menu #site-navigation .menu > ul{top: 80px;}
	.ttm-header-style-03 .ttm-rt-contact{display: none;}
	#site-header-menu #site-navigation .menu ul.dropdown > li > ul > li.has-submenu > a:after{ content: '\f107'; }
	#site-header-menu #site-navigation .menu ul.dropdown > li > ul > li.has-submenu > a.active:after{ content: '\f106'; }
	#site-navigation .menu > ul li:not(:last-child){
		border-bottom: 1px solid rgba(93,101,118,0.15);
	}
	#site-header-menu #site-navigation .menu ul.dropdown > li > a:after{
		position: absolute;
		right: 0;
		font-size: 16px;
		opacity: .8;
	}
	#site-header-menu #site-navigation .menu ul > li.has-submenu > a:after {
		content: "\f107";
		display: inline-block;
		font-family: "FontAwesome";
		position: relative;
		font-size: 20px;
		position: absolute;
		right: 5px;
	}
	#site-header-menu #site-navigation .menu ul li a {
		display: block;
		padding: 15px 0px;
		text-decoration: none;
		line-height: 18px !important;
		height: auto;
		line-height: 18px;
	}
	#site-header-menu #site-navigation .menu li, #site-header-menu #site-navigation .menu > ul > li {
		display: block;
	}
	#site-header-menu #site-navigation .menu,#site-header-menu #site-navigation .menu > ul ul{
		overflow: hidden;
		max-height: 0;
		background-color: #fff;
	}
	.ttm-search-overlay .w-search-form-row:before{ right: 7px; }

	/* ttm-menu-toggle */
	.ttm-menu-toggle .spinner {
		position: absolute;
		height: 2px;
		width: 100%;
		padding: 0;
		background-color: #262626;
	}

	.ttm-topbar-wrapper,.ttm-custombutton{
		display: none;
	}
	.ttm-menu-toggle .toggle-block{ background-color: #263045; }
	.ttm-stickable-header-w { background-color: #fff; height: 80px; line-height: 80px;}
	.header-btn, .ttm-header-icons, .ttm-header-icon{ height: 80px; line-height: 80px;}

	/* ttm-header-style-02 */
	.widget_info {
		display: none !important;
		visibility: hidden;
	}

	/* width */
	.width-36, .width-64{ width: 100%; }

	/* tabs */
	.ttm-tabs ul.tabs.text-right{ text-align: left !important; }

	/* padding */
	.res-1199-ptb-0{ padding: 0px !important; }
	.res-1199-pt-0{ padding-top: 0px !important; }
	.res-1199-pb-30{ padding-bottom: 30px !important; }
	.res-1199-pl-30{ padding-left: 30px !important; }
	.res-1199-pb-50{ padding-bottom: 50px !important; }
	.res-1199-mt-0{ margin-top: 0 !important; }
	.res-1199-mt-10{ margin-top: 10px !important; }
	.res-1199-mt-20{ margin-top: 20px !important; }
	.res-1199-mt-30{ margin-top: 30px !important; }
	.res-1199-mb-10{ margin-bottom: 10px !important; }
	.res-1199-mb-20{ margin-bottom: 20px !important; }
	.res-1199-mtb-0{ margin-top: 0 !important; margin-bottom: 0px !important;}
	.res-1199-mr-0{ margin-right: 0 !important; }
	.res-1199-plr-0{ padding-left: 0px !important; padding-right: 0px !important; }
	.res-1199-plr-15{ padding-left: 15px !important; padding-right: 15px !important; }
	.res-1199-ml_30{margin-left: -30px!important;}
	.res-1199-mlr-15{margin-left: 15px !important; margin-right: 15px !important;}



	/* ttm-bg-layer */
	.ttm-row .container, .ttm-row .container-fluid, .ttm-page-title-row .container, footer .container, .element-row .container,.sidebar .container{ max-width: 100%; }
	.ttm-row .container, .ttm-page-title-row .container, footer .container, .element-row .container, .sidebar .container{ padding: 0; }
	.ttm-row .container > .row, .ttm-page-title-row .container > .row, footer .container .row, .element-row .container > .row , .sidebar .container > .row{ margin: 0; }

	.ttm-fid-view-topicon-row {margin-left: 15px !important;margin-right: 15px!important;}

	.ttm-page-title-row { padding-top: 110px; padding-bottom: 110px;}

	/* featured-imagebox */
	.featured-imagebox-services.style1 .featured-content { padding: 20px 20px 20px;}

	section.error-404 {  padding: 150px 0 150px;}
	.spacing-11 { padding: 20px 0px;}

	/* sidebar */
	.sidebar .widget-area .widget { padding: 20px 20px !important;}
	.sidebar .widget .widget-title:before {margin-left: -20px;}
}

@media only screen and (max-width: 1199px) and (min-width: 992px){
	.spacing-5 { padding: 60px 15px 60px 15px;}
	.spacing-9{padding-left: 15px;}
	.spacing-10{padding-right: 15px;}
	.ttm-row.aboutus-section-style3 { padding-bottom: 170px;}
}

@media only screen and (max-width: 991px) and (min-width: 768px){
	.about-overlay-01{left: 0;}
	.about-overlay-03 {left: 15px;}
	.featured-imagebox-team.style1 .featured-content { margin: -25px 15px 5px;}
}

@media (min-width: 992px){

	/* sidebar-right*/
	.sidebar .col-lg-9.content-area{flex: 0 0 70%;max-width: 70%;}
	.sidebar .col-lg-3.widget-area{flex: 0 0 30%;max-width: 30%;}
}

@media (max-width: 991px){


	.ttm-equal-height-image{
		display: block;
		width: 100%;
	}

	/* ttm-btn */
	.ttm-btn.float-right{ float: none!important; }

	/* title */
	.section-title h2.title {font-size: 26px !important;line-height: 36px;}
	.section-title h5{margin-bottom: 5px;}
	.section-title.with-desc .title-header {  margin-bottom: 45px;}
	.section-title.style2 .title-header{ width: 100%; display: block; margin-bottom: 10px; padding-right: 0; }
	.section-title.style2 .title-header:after { position: unset;}


	/* ttm-row */
	.ttm-row { padding: 40px 0 !important; }
	.ttm-row.zero-padding-section,
	.ttm-row.map-section,
	.ttm-row.our-client-section,
	.ttm-row.our-partner-section{padding: 0 0 !important;}
	.ttm-row.bottomzero-padding-section,
	.ttm-row.aboutus-section-style2{padding-bottom: 0 !important;}
	.ttm-row.first-row-title-section,
	.ttm-row.second-row-title-section{padding-top: 80px !important;padding-bottom: 80px !important;}
	.ttm-row.services-section,
	.ttm-row.only-testimonial-section,
	.ttm-row.grid-section{padding-bottom: 20px !important;}
	.ttm-row.price-text-section { padding-bottom: 110px !important;}
	.ttm-row.services-slide-section { padding-bottom: 270px !important;}
	.ttm-row.contact-box-section{padding-top: 75px !important; padding-bottom: 0px !important;}
	.ttm-row.project-single-section{padding-bottom: 30px !important;}

	/* spacing */
	.spacing-1 { margin: 0; padding: 50px 15px 50px; }
	.spacing-2 { padding: 50px 15px 50px 15px;}

	.spacing-4 {padding: 45px 15px 45px 15px;}
	.spacing-5 { padding: 40px 15px 40px 15px;}
	.spacing-6 { padding: 40px 15px 40px 15px;}
	.spacing-7 { padding: 40px 15px 40px 15px;}
	.spacing-8 { padding: 40px 15px 40px 15px;}
	.spacing-9 { padding: 40px 15px 40px 15px;}
	.spacing-10{ padding: 40px 15px 40px 15px;}

	/* featured-box */
	.featured-title h5,
	.ttm-history-box-wrapper .ttm-historybox-title h5 { font-size: 16px; line-height: 22px;}
	.featured-thumbnail img{ width: 100%; }
	.featured-imagebox-team .featured-content { margin: -25px 10px 5px !important;}
	.featured-imagebox-blog .featured-content { padding: 40px 15px 20px 15px;}

	/* featured-icon-box */
	.featured-icon-box.style5 { padding: 20px 20px;}
	.featured-icon-box.style7{margin-bottom: 20px;}
	.featured-icon-box.style8 { margin-bottom: 60px;}

	/* footer */
	.footer .widget { margin: 35px 0 0px; }
	.first-footer { padding: 40px 0 40px;}

	.footer .second-footer {padding: 10px 0 40px;}
	.second-footer .widget.widget_nav_menu ul li:last-child,
	.second-footer .widget ul.ttm-recent-post-list>li:last-child{padding-bottom: 0px !important;}

	/* ttm-tab */
	.ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li {margin: 0 10px;}
	.ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li a { padding: 15px 15px;}
	/* element-page */
	.element-row  { padding: 0 0 30px; }
	.element-row > .section-title h2.title{ margin-top: 0px ;}

	/* shop */
	.ttm-product-image-box img{ width: 100%; }
	div.product .summary .product-rating{ float: none; }

	/* processbox */
	.ttm-processbox-wrapper { display: block;}
	.ttm-processbox-wrapper .ttm-processbox { width: 100%;}
	.ttm-processbox-wrapper .ttm-processbox:not(:last-child){ padding-bottom: 20px;}
	.ttm-processbox-wrapper .ttm-processbox .ttm-box-image:before{content: unset;}

	/* testimonial */
	.testimonial-slide.style1 { padding: 40px 15px 30px 15px;}

	/* ttm-fid */
	.ttm-highlight-fid-style-2 {
		bottom: 20px;
		right: 0;
		left: 0;
		margin: 0 auto;
	}

	/* client */
	.client-box.ttm-box-view-boxed-logo {
		padding: 35px 0;
		margin-top: 0px;
		margin-bottom: 0;
	}

	/* margin */
	.res-991-ml-0{ margin-left: 0 !important ; }
	.res-991-mr-0{ margin-right: 0 !important; }
	.res-991-mt-0{ margin-top: 0 !important; }
	.res-991-mb-0{ margin-bottom: 0 !important; }
	.res-991-mt-10{ margin-top: 10px !important; }
	.res-991-mtb-0{ margin-top: 0 !important; margin-bottom: 0px !important;}
	.res-991-mtb-20{ margin-top: 20px !important; margin-bottom: 20px !important;}
	.res-991-mt_15{ margin-top: -15px !important;}
	.res-991-mt-30{ margin-top: 30px !important;}
	.res-991-mt-40{ margin-top: 40px !important; }
	.res-991-mt-50{ margin-top: 50px !important; }
	.res-991-mb-20{ margin-bottom: 20px !important;}
	.res-991-mb-30{ margin-bottom: 30px !important;}
	.res-991-mb-40{ margin-bottom: 40px !important;}
	.res-991-mb-50{ margin-bottom: 50px !important;}
	.res-991-mlr-15{ margin-left: 15px !important; margin-right: 15px !important; }
	.res-991-ml_30{margin-left: -30px!important;}

	/* padding */
	.res-991-p-0{ padding: 0 ! important;}
	.res-991-pt-15{ padding-top: 15px !important; }
	.res-991-pt-30{ padding-top: 30px !important; }
	.res-991-pt-40{ padding-top: 40px !important; }
	.res-991-pt-45{ padding-top: 45px !important; }
	.res-991-pt-50{ padding-top: 50px !important; }
	.res-991-ptb-0{ padding-top: 0px !important ; padding-bottom: 0px !important ; }
	.res-991-ptb-20{ padding-top: 20px !important ; padding-bottom: 20px !important ; }
	.res-991-pt-0 { padding-top: 0px !important; }
	.res-991-pl-0 { padding-left: 0px !important; }
	.res-991-pr-0 {padding-right: 0!important;}
	.res-991-pl-15 { padding-left: 15px !important; }
	.res-991-pb-0{ padding-bottom: 0px !important }
	.res-991-pb-5{ padding-bottom: 5px !important }
	.res-991-pb-30{ padding-bottom: 30px !important }
	.res-991-pb-50{ padding-bottom: 50px !important }
	.res-991-pb-60{ padding-bottom: 60px !important }
	.res-991-pb-70{ padding-bottom: 70px !important }
	.res-991-pb-80{ padding-bottom: 80px !important }
	.res-991-pb-90{ padding-bottom: 90px !important }
	.res-991-pb-100{ padding-bottom: 100px !important }
	.res-991-plr-0{ padding-left: 0px  !important; padding-right: 0px !important;	}
	.res-991-plr-15{ padding-left: 15px !important; padding-right: 15px !important;	}
	.res-991-ptb-35{ padding-top: 35px !important; padding-bottom: 35px !important;	}

	.ttm-video-btn.ttm-right-center-video-btn{left: 0; right: 0;text-align: center;}
	.sidebar div.widget-area{margin-top: 0; margin-bottom: 40px;}
	.sidebar .widget-area .widget:last-child{margin-bottom: 0!important;}

	.sidebar .content-area{ padding-top: 40px; padding-bottom: 15px; }
	.banner-img-box:before{content: unset;}
	.banner-img-box .featured-content { padding: 15px;}

	.res-991-h-auto{height: auto;}
	.ttm-pf-single-detail-box { padding: 20px 20px 10px;}

	/* ttm-blog-classic */
	article.ttm-blog-classic .ttm-blog-classic-content { padding: 25px 15px 15px;}
	.ttm-blog-classic .entry-header .entry-title { font-size: 24px; line-height: 30px;}

}

@media (min-width: 768px){

	/* featured-icon-box */
	.featured-icon-box.iconalign-before-heading.style1{
		border-right: 1px solid rgba(255,255,255,.15);
	}
	div.product.ttm-single-product-details div.summary{width: 57%;}
	div.product.ttm-single-product-details div.images{width: 40%;}
	.comment-body .reply {
		position: absolute;
		top: 10px;
		right: 15px;
	}

}

@media (max-width: 767px){

	/* Page-Title */
	.title-box .page-title-heading h1{ font-size: 38px ; line-height: 42px; }
	.ttm-row.price-text-section { padding-bottom: 70px !important;}

	/* footer */
	.footer-logo { margin-bottom: 25px;}
	.copyright { padding-top: 25px; padding-bottom: 25px;}
	.footer-nav-menu{margin-bottom: 7px;}

	/* featured-icon-box */
	.featured-icon-box-style1-row{padding: 0;}

	/* featured-imagebox */

	/* margin */
	.res-767-mb-0{	margin-bottom: 0px!important; }
	.res-767-mb-15{	margin-bottom: 15px!important; }
	.res-767-mb-30{	margin-bottom: 30px!important; }
	.res-767-mt-0{ margin-top: 0px !important; }
	.res-767-mt-10{ margin-top: 10px !important; }
	.res-767-mt-20{ margin-top: 20px !important; }
	.res-767-mt-30{	margin-top: 30px !important; }
	.res-767-mt-40{	margin-top: 40px !important; }
	.res-767-mt-50{	margin-top: 50px !important; }
	.res-767-ml-10{	margin-left: 10px!important; }
	.res-767-ml-0{	margin-left: 0px!important; }


	/* padding */
	.res-767-plr-15{ padding: 0 15px !important; }
	.res-767-pl-15{ padding-left: 15px !important; }
	.res-767-pr-15{ padding-right: 15px !important; }
	.res-767-pl-0{ padding-left: 0px !important; }
	.res-767-pr-0{ padding-right: 0px !important; }
	.res-767-p-30{ padding: 30px; }
	.res-767-pb-30{	padding-bottom: 30px!important;	}
	.res-767-pt-30{	padding-top: 30px!important; }
	.res-767-pt-15{	padding-top: 15px!important; }

	.res-767-fnone{float: none !important;}

	/* tab */
	.ttm-tabs.ttm-tab-style-vertical .content-tab{ padding: 10px 20px; }

	.ttm-tabs.ttm-tab-style-horizontal ul.tabs li a{ border-radius: 0; }
	.ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li { margin: 0 2px;}
	.ttm-tabs.ttm-tab-style-classic .content-tab { padding: 20px 15px;}

	/* cart */
	table.shop_table:not(.checkout-review-order-table) tr td{ display: block; text-align: right; }
	table .cart_item .product-thumbnail,
	.shop_table_responsive thead{ display: none; }
	table.shop_table:not(.checkout-review-order-table) tbody tr{ display: block; }
	table.shop_table_responsive tr.cart_item td:not(.product-remove)::before {
		content: attr(data-title) ": ";
		font-weight: 600;
		float: left;
	}
	.coupon{ float: none; padding-bottom: .5em; }
	td.actions button{ width: 100%; }
	.coupon input, td.actions .coupon .button{ width: auto; }

	.panel-row{display: block;}
	.tab-row{display: none;}

	/* ttm-single-product */
	div.product.ttm-single-product-details div.images,
	div.product.ttm-single-product-details div.summary{ width: 100%; float: none; }
	.quantity { display: inline-block;}
	.cart-collaterals .cart_totals { width: 100%; float: none;}
	.cart-collaterals { margin-top: 0px;}
	.checkout .billing-fields h3, .checkout .additional-fields h3 { font-size: 24px;}
	.ttm-single-product-info { padding: 30px 15px;}
	.ttm-tabs.tabs-for-single-products { padding: 0 15px 15px 15px;}
	div.product .ttm-tabs .content-tab { padding: 20px;}

	.ttm-tag-list span a{margin-top: 15px;}
	.res-767-h-auto{height: auto;}

	.ttm-pricing-plan{margin-bottom: 20px !important; margin: 0 15px;}
	.ttm-pricing-plan .ttm-featured-title {position: relative;}
	.ttm-pricing-plan.ttm-pricing-plan-col { padding: 50px 30px 30px;}

	.ttm-blog-single .ttm-blog-single-content blockquote { padding: 20px 20px 16px 20px; font-size: 17px;}

}

@media (max-width: 624px){

	div.product ul.tabs li { margin-bottom: 5px;}
}

@media (min-width: 576px){
	.ttm-tabs.ttm-tab-style-classic ul.tabs {
		display: -webkit-flex;
		display: flex;
		width: 100%;
	}
	.ttm-tabs.ttm-tab-style-classic.style2 ul.tabs{display: block;}
	.ttm-tabs.ttm-tab-style-classic.style1 ul.tabs { border: 1px solid #f0f0f0;}
}
@media (max-width: 575px){

	.site-branding img { max-height: 48px;}
	.ttm-header-icons .ttm-header-icon { margin-left: 0;}
	.ttm-header-icons .ttm-header-cart-link a,
	.ttm-header-icons .ttm-header-search-link a {
		height: 25px;
		width: 25px;
		line-height: 25px;
	}

	/* single-blog */
	.ttm-post-prev-next-buttons{ text-align: center; }
	.ttm-post-prev-next-buttons a.float-right{ float: none !important; }

	/* footer */
	.first-footer .featured-icon-box.left-icon{margin-bottom: 30px;}
	.footer-logo img { max-height: 44px;}

	/* featured-icon-box */
	.featured-icon-box.style1.without-icon { padding-top: 30px;}
	.row > [class*='col-']:not(:last-child) > .ttm-fid-view-lefticon.style1:before{content: unset;}


	.res-575-mt-30{margin-top: 30px !important;}
	/* ttm-tab */
	.ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li i { display: none;}
	.ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li a { margin-bottom: 15px;}
	.ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li a { border: 1px solid #f0f0f0;}
	.ttm-tabs .content-tab { margin-top: 5px;}

	.ttm-tabs.ttm-tab-style-horizontal ul.tabs li,
	.ttm-tabs.ttm-tab-style-horizontal ul{ display: block; margin-right: 0; }

	.ttm-team-details-list li{width: 100%;float: none;}
}
@media (max-width: 480px){

	/* ttm-search-overlay */
	.ttm-search-overlay {width: 292px;}

	/* blog-comment */
	.comment-author img{display: none;}
	.comment-body,
	.comment-list .children{margin-left: 0;}
	.res-480-mt-0{margin-top: 0 !important;}
}

@media (max-width: 375px){

}
