/** 
      1. ttm-row 

      2. Row-Equal-Height

      3. Bg-Layer 

      4. Row-Bg-Image

      5. Col-Bg-Image

      6. Section-Title 

      7. Separator

      8. Buttons

      9. Icons

      10. Fid

      11. featured-icon-box

      12. Featured-imagebox

      13. Processbox

      14. Progress-Bar 

      15. Testimonial

      16. Client-row

      17. Accordion

      18. Wrap-Form

      19. Tab

      20. Boxes-Spacing

      21. Pricing-Plan

      22. Sidebar

      23. products
      

      **/


/* ===============================================
    1.ttm-row
    ------------------------*/

    .ttm-row{ padding: 90px 0;}
    .ttm-row.zero-padding-section,
    .ttm-row.map-section{padding: 0 0;}
    .ttm-row.topzero-padding-section{padding: 0 0 90px;}
    .ttm-row.bottomzero-padding-section{padding: 90px 0 0px;}
    .ttm-row.history-section{padding-bottom: 170px;}
    .ttm-row.first-row-title-section{padding-top: 120px;padding-bottom: 190px;}
    .ttm-row.team-section{padding-top: 50px;}
    .ttm-row.services-section{ }
    .ttm-row.second-row-title-section{padding-top: 180px;}
    .ttm-row.our-partner-section{padding-bottom: 20px;padding-top: 120px;}
    .ttm-row.fid-section{padding-top: 315px;}
    .ttm-row.only-testimonial-section,
    .ttm-row.grid-section{padding-bottom: 60px;}
    .ttm-row.third-row-title-section{padding-top: 320px;}
    .ttm-row.price-text-section{padding-bottom: 155px;}
    .ttm-row.our-client-section{padding-top: 30px;padding-bottom: 20px;}
    .ttm-row.aboutus-section-style3{padding-bottom: 230px;}
    .ttm-row.services-slide-section{padding-bottom: 320px;}
    .ttm-row.contact-box-section{padding-top: 120px;}
    .ttm-row.project-single-section{padding-bottom: 70px;}

/* ===============================================
    2.Row-Equal-Height
    ------------------------*/

    .row-equal-height{ display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex;}
    .row-equal-height > [class*='col-'] { 
        display: -webkit-box; 
        display: -webkit-flex; 
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

/* ===============================================
    3.Bg-Layer 
    ------------------------*/

    .ttm-bg{ position: relative;}
    .ttm-col-bgimage-yes, .bg-layer-equal-height .ttm-col-bgcolor-yes{ height: 100%; z-index: 9;}
    .ttm-bg-layer , .ttm-titlebar-wrapper .ttm-titlebar-wrapper-bg-layer,
    .ttm-bg-layer .ttm-bg-layer-inner {
        position: absolute;
        height: 100%;
        width: 100%; 
        top: 0;
        left: 0;
    }
    .ttm-left-span .ttm-col-wrapper-bg-layer {
        width: auto;
        margin-left: -100px;
        right: 0;
    }
    .ttm-right-span .ttm-col-wrapper-bg-layer {
        width: auto;
        margin-right: -100px;
        right: 0;
    }
    .ttm-bg.ttm-bgimage-yes>.ttm-bg-layer,
    .ttm-bg.ttm-col-bgimage-yes .ttm-bg-layer-inner { opacity: .90; }

    .layer-content{ position: relative ; z-index: 9; height: 100%; }

    .bg-layer > .container > .row { margin: 0; }
    .bg-layer > .container > .row > [class*='col-'] ,
    .bg-layer > .container-fluid > .row > [class*='col-'] { padding: 0; }

    .ttm-bg.ttm-bgcolor-grey:not(.ttm-col-bgcolor-yes)>.ttm-bg-layer,
    .ttm-bg.ttm-bgcolor-grey:not(.ttm-col-bgcolor-yes)>.ttm-bg-layer .ttm-bg-layer-inner {
        opacity: .7;
    }
    .ttm-bg.ttm-bgcolor-darkgrey>.ttm-bg-layer,
    .ttm-bg.ttm-bgcolor-darkgrey>.ttm-bg-layer .ttm-bg-layer-inner{
        opacity: .8;
    }
    .ttm-equal-height-image {
        display: none;
    }
/* ===============================================
    4.Row-Bg-Image  
    ------------------------*/

    .bg-img1{
        background-image: url(../images/bg-image/row-bgimage-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .bg-img2{
        background-image: url(../images/bg-image/row-bgimage-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .bg-img3{
        background-image: url(../images/bg-image/row-bgimage-3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .bg-img4{
        background-image: url(../images/bg-image/row-bgimage-4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .bg-img5{
        background-image: url(../images/bg-image/row-bgimage-5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .bg-img6{
        background-image: url(../images/bg-image/row-bgimage-6.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .bg-img7{
        background-image: url(../images/bg-image/row-bgimage-7.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .bg-img8{
        background-image: url(../images/bg-image/row-bgimage-8.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .bg-img9{
        background-image: url(../images/bg-image/row-bgimage-9.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .bg-img10{
        background-image: url(../images/bg-image/row-bgimage-10.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .bg-img11{
        background-image: url(../images/bg-image/row-bgimage-11.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .bg-img12{
        background-image: url(../images/bg-image/row-bgimage-12.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .bg-img13{
        background-image: url(../images/bg-image/row-bgimage-13.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .bg-img14{
        background-image: url(../images/bg-image/row-bgimage-14.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
/* ===============================================
    5.Col-Bg-Image  
    ------------------------*/

    .ttm-equal-height-image{ display: none; }

    .col-bg-img-one.ttm-col-bgimage-yes .ttm-col-wrapper-bg-layer{
        background-image: url(../images/bg-image/col-bgimage-1.jpg) !important;
        background-position: center center!important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        margin-right: -570px !important;
    }
    .col-bg-img-two.ttm-col-bgimage-yes .ttm-col-wrapper-bg-layer{
        background-image: url(../images/bg-image/col-bgimage-2.jpg) !important;
        background-position: center center!important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    .col-bg-img-three.ttm-col-bgimage-yes .ttm-col-wrapper-bg-layer{
        background-image: url(../images/bg-image/col-bgimage-3.jpg) !important;
        background-position: center center!important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    .col-bg-img-four{
        background-image: url(../images/bg-image/col-bgimage-4.jpg) !important;
        background-position: center center!important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
/* ===============================================
    7.Section-Title  
    ------------------------*/

    .section-title{ position: relative; }
    .section-title h5{
        font-weight: 500;
        text-transform: capitalize;
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 5px;
    }
    .section-title h2.title{
        font-size: 34px;
        line-height: 44px;
        margin-bottom: 0;
    }
    .section-title h2.title span{font-style: italic;  font-weight: 700; font-family: 'Playfair Display', serif; letter-spacing: 1.2px;}
    .section-title .title-desc{
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 15px;
        color: #687076;
    }
    .section-title.with-desc .title-header{margin-bottom: 52px;}
    .section-title .title-header{ 
        margin-bottom: 40px;
        position: relative;
    }
    .section-title.with-desc .title-header:before{
        width: 52px;
        bottom: -20px;
        height: 4px;
        left: 0;
        top: auto;
        position: absolute;
        content: '';
        border: 4px solid transparent;
        border-bottom: 0;
    }
    .section-title.with-desc.text-center .title-header:before{left: 50%;margin-left: -26px;}
    .section-title.text-left.with-desc .title-header:before{left: 0; margin-left: 0;}
    .section-title.style2 {margin-bottom: 40px;}
    .section-title.style2 .title-header{
        width: 52%;
        padding-right: 80px;
        margin-bottom: 0;
    }
    .section-title.style2 .title-header:after {
        content: "";
        right: 55px;
        height: 90%;
        position: absolute;
        top: 10%;
        width: 1px;
        border-right-width: 1px;
        background-color: #f0f0f0;
    }
    .section-title.style2 .title-header,
    .section-title.style2 .title-desc{
        display: table-cell;
        vertical-align: middle;
    }
    .row-title h2.title {
        font-size: 40px;
        line-height: 52px;
        margin-bottom: 0px;
        padding: 0;
        text-transform: capitalize;
    }
    .section-title.row-title .title-header{margin-bottom: 20px;}
/* ===============================================
    8.separator
    ------------------------*/

    .separator .sep-line {
        height: 1px;
        border-top: 1px solid #ebebeb;
        display: block;
        position: relative;
        width: 100%;
    }
    .ttm-bgcolor-darkgrey .separator .sep-line{
        border-color: rgba(255,255,255,0.14);
    }
    .ttm-bgcolor-white .separator .sep-line{
        border-color: #f1f1f1;
    }

/* ===============================================
    9.Buttons
    ------------------------*/
    .ttm-btn{ 
        display: inline-block;
        font-size: 16px;
        line-height: normal;
        padding: 11px 32px 11px 31px;
        background: transparent;
        border: 1px solid transparent;
        position: relative;
        font-weight: 600;
        overflow: hidden;
        z-index: 9;
        vertical-align: middle;
        text-transform: capitalize;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .ttm-btn.ttm-icon-btn-left{ padding-left: 44px; }
    .ttm-btn.ttm-icon-btn-right{ padding-right: 44px; }
    .ttm-btn.ttm-icon-btn-left i{ left: 20px;}
    .ttm-btn.ttm-icon-btn-right i{ right: 20px;}
    .ttm-btn.ttm-icon-btn-right{ padding-right: 22px; }
    .ttm-btn.ttm-icon-btn-right i{ right: 2px; }

    .ttm-bgcolor-darkgrey .ttm-btn:hover.btn-inline.ttm-btn-color-skincolor{
        background-color: transparent;
        color: #fff;
    }
    .ttm-btn.ttm-btn-style-border.ttm-btn-color-darkgrey{
        color: #263045!important;
        border-color: #263045;
    }
    .ttm-btn.ttm-btn-style-border.ttm-btn-color-darkgrey:hover{
        background-color: #263045;
        color: #fff !important;
    }
    .ttm-btn.ttm-btn-style-border.ttm-btn-color-white{
        color: #fff!important;
        border-color: #fff;
    }
    .ttm-btn.ttm-btn-style-border.ttm-btn-color-white:hover{
        background-color: #fff;
        color: #263045 !important;
    }
    /** btn-with-icon **/
    .ttm-btn i{
        display: block;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
    }
    .ttm-btn.ttm-icon-btn-right{ text-align: right; }
    .ttm-btn.ttm-icon-btn-left { text-align: left; }

    /** btn-size-xs **/
    .ttm-btn.ttm-btn-size-xs { font-size: 12px; padding: 7px 22px;}
    .ttm-btn.ttm-btn-size-xs.ttm-icon-btn-right{ padding-right: 31px; }
    .ttm-btn.ttm-btn-size-xs.ttm-icon-btn-left{ padding-left: 31px; }
    .ttm-btn.ttm-btn-size-xs.ttm-icon-btn-left i{ left: 12px; }
    .ttm-btn.ttm-btn-size-xs i {
        font-size: 14px;
        height: 11px;
        line-height: 11px;
        right: 12px;
    }

    /** btn-size-sm **/
    .ttm-btn.ttm-btn-size-sm { font-size: 14px; padding: 10px 24px 10px 24px; }
    .ttm-btn.ttm-btn-size-sm.ttm-icon-btn-right{ padding-right: 35px; }
    .ttm-btn.ttm-btn-size-sm.ttm-icon-btn-left{ padding-left: 39px; }
    .ttm-btn.ttm-btn-size-sm.ttm-icon-btn-left i{ left: 16px;}
    .ttm-btn.ttm-btn-size-sm i {
        font-size: 11px;
        right: 16px;
        margin-top: 1px;
        line-height: 1;
    }

    /** btn-size-md **/
    .ttm-btn.ttm-btn-size-md { font-size: 14px; padding: 10px 30px 10px 30px; }
    .ttm-btn.ttm-btn-size-md.ttm-icon-btn-right { padding-right: 48px; }
    .ttm-btn.ttm-btn-size-md.ttm-icon-btn-left{ padding-left: 48px; }
    .ttm-btn.ttm-btn-size-md.ttm-icon-btn-left i{ left: 20px;}
    .ttm-btn.ttm-btn-size-md i {
        font-size: 11px;
        height: 11px;
        line-height: 11px;
        right: 20px;
    }

    /** btn-size-lg **/
    .ttm-btn.ttm-btn-size-lg { font-size: 20px; line-height: 20px; padding: 18px 45px;}
    .ttm-btn.ttm-btn-size-lg.ttm-icon-btn-right { padding-right: 60px; }
    .ttm-btn.ttm-btn-size-lg.ttm-icon-btn-left{ padding-left: 60px; }
    .ttm-btn.ttm-btn-size-lg.ttm-icon-btn-left i{ left: 25px;}
    .ttm-btn.ttm-btn-size-lg i {
        font-size: 20px;
        height: 16px;
        line-height: 16px;
        right: 25px;
    }

    /** btn-shape **/
    .ttm-btn.ttm-btn-shape-round { border-radius: 2em; }
    .ttm-btn.ttm-btn-shape-rounded { border-radius: 5px; }
    .ttm-btn.ttm-btn-shape-square { border-radius: 0; }

    /** btn-style-border **/
    .ttm-btn.ttm-btn-style-border{ background-color: transparent; border: 1px solid; }
    .ttm-btn.ttm-btn-color-white.ttm-btn-style-border {
        color: #fff;
        border-color: #fff;
        background: transparent;
    }

    /** btn-inline **/
    .ttm-btn.btn-inline{
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 600;
        padding: 0;
        border: 1px solid transparent;
        background-color: transparent;
        overflow: visible;
    }
    .ttm-btn.btn-inline.style2{font-weight: 400;font-size: 15px;}
    .ttm-btn.btn-inline.style2:before{
        position: absolute;
        content: '';
        background: #fff;
        height: 2px;
        width: 15px;
        left: 0;
        top: 11px;
        transform: scaleX(0);
        opacity: 0;
        transition: .5s ease;
    }
    .ttm-btn.btn-inline.style2:hover{
        padding-left: 25px;
        transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
    }
    .ttm-btn.btn-inline.style2:hover:before{
        opacity: 1;
        transform: scaleX(1);
    }
    /* play-btn / play-icon */
    .ttm-play-icon-btn{display: inline-block;}
    .ttm-play-icon {
        color: #fff;
        display: block;
        position: relative;
    }
    .ttm-play-icon .ttm-icon.ttm-icon_element-size-md{
        height: 95px;
        width: 95px;
        line-height: 95px;
        margin: 0;
    }
    .ttm-play-icon .ttm-play-icon-animation{ 
        display: inline-block;
        position: relative;
    }
    .ttm-play-icon .ttm-play-icon-animation:after, .ttm-play-icon .ttm-play-icon-animation:before {
        content: '';
        border: 1px solid;
        border-color: inherit;
        width: 150%;
        height: 150%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        position: absolute;
        left: -25%;
        top: -25%;
        opacity: 1;
        -webkit-animation: 1s videoplay-anim linear infinite;
        animation: 1s videoplay-anim linear infinite;
    }
    .ttm-play-icon .ttm-play-icon-animation:after, .ttm-play-icon .ttm-play-icon-animation:before {
        -webkit-animation:videoplay-anim 1.05s infinite;
        -moz-animation:videoplay-anim 1.05s infinite;
        -ms-animation:videoplay-anim 1.05s infinite;
        -o-animation:videoplay-anim 1.05s infinite;
        animation:videoplay-anim 1.05s infinite;
    }
    .ttm-play-icon .ttm-play-icon-animation:after{
        border-color: #bfbfbf;
    }
    .ttm-play-icon .ttm-play-icon-animation:before {
        border-color: #e4e4e4;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
    }

    .ttm-play-icon-btn .ttm-icon.ttm-icon_element-size-sm{
        display: block;
        height: 64px;
        width: 64px;
        line-height: 64px;
        margin: 0;
        z-index: 2;
    }
    .ttm-play-icon-btn .ttm-icon.ttm-icon_element-size-sm i.fa-play{ 
        padding-left: 5px;
        font-size: 25px;
        display: inline-block;
        vertical-align: middle;
        line-height: 0;
    }
    .ttm-play-icon-btn .ttm-play-icon-animation{
        position: relative;
        display: inline-block;
    }
    .ttm-play-icon-btn .ttm-play-icon-animation .ttm-icon{ margin-bottom: 0; }
    .ttm-play-icon-btn .ttm-play-icon-animation:after, .ttm-play-icon-btn .ttm-play-icon-animation:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
    }
    .ttm-play-icon-btn .ttm-play-icon-animation:after{
        z-index: 1;
        width: 95px;
        height: 95px;
        opacity: .1;
        background-color: #fff;
    }
    .ttm-play-icon-btn .ttm-play-icon-animation:before {
        width: 80px;
        height: 80px;
        opacity: .2;
        background-color: #fff;
    }
    .ttm-play-icon-btn:hover .ttm-play-icon-animation:after, .ttm-play-icon-btn:hover .ttm-play-icon-animation:before{
        -webkit-animation:scaling 1.05s infinite;
        -moz-animation:scaling 1.05s infinite;
        -ms-animation:scaling 1.05s infinite;
        -o-animation:scaling 1.05s infinite;
        animation:scaling 1.05s infinite;
    }
    @-webkit-keyframes scaling{ 100% { width:200%;height:200%;opacity:0 } }
    @keyframes scaling{ 100% { width:200%;height:200%;opacity:0 } }

    .ttm-play-icon-btn.ttm-play-icon-btn-center{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        margin-top: -50px;
    }

/* ===============================================
    10.Icons
    ------------------------*/
    .ttm-icon{
        margin-bottom: 35px;
        display: inline-block;
        text-align: center;
        border: 1px solid transparent;
        position: relative;
        transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        box-sizing: content-box;
        position: relative;
    }

    .ttm-icon i{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    /** icon-size-xs **/
    .ttm-icon.ttm-icon_element-size-xs { height: 40px; width: 40px; line-height: 40px; }
    .ttm-icon.ttm-icon_element-size-xs i { font-size: 16px; }

    /** icon-size-sm **/
    .ttm-icon.ttm-icon_element-size-sm { height: 50px; width: 50px; line-height: 50px; }
    .ttm-icon.ttm-icon_element-size-sm i { font-size: 28px; }

    /** icon-size-md **/
    .ttm-icon.ttm-icon_element-size-md { height: 56px; width: 56px; line-height: 56px; }
    .ttm-icon.ttm-icon_element-size-md i { font-size: 30px; }

    /** icon-size-lg **/
    .ttm-icon.ttm-icon_element-size-lg { height: 62px; width: 62px; line-height: 62px; }
    .ttm-icon.ttm-icon_element-size-lg i { font-size: 45px; }

    /** icon-shape **/
    .ttm-icon.ttm-icon_element-style-rounded { border-radius: 5px; }
    .ttm-icon.ttm-icon_element-style-round { border-radius: 50%; }
    .ttm-icon.ttm-icon_element-style-square { border-radius: 0;}

    /** icon-style-border **/
    .ttm-icon.ttm-icon-color-darkgrey.ttm-icon-style-border { background-color: transparent; }


/* ===============================================
    11.Fid
    ------------------------*/
    .inside {
        text-align: center;
        position: relative;
        padding: 29px 15px 25px 15px;
    }
    .inside h4 {
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 37px;
        line-height: 40px;
    }
    .ttm-fid-view-righticon.inside h4, 
    .ttm-fid-view-lefticon.inside h4 { margin-bottom: 0; float: left; display: inline-block;}
    .inside h3 {
        margin-bottom: 0;
        bottom: -11px;
        width: 100%;
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        padding-top: 0;
        display: inline-block;
    }
    .ttm-fid-view-righticon .ttm-fid-left, .ttm-fid-view-lefticon .ttm-fid-left {
        position: relative;
        display: block;
        width: 100%;
    }
    .ttm-fid-view-righticon .ttm-fid-icon-wrapper, .ttm-fid-view-lefticon .ttm-fid-icon-wrapper {
        position: absolute;
        top: 0;
    }
    .ttm-fid-icon-wrapper i { font-size: 48px; }

    .ttm-fid-view-lefticon.inside .ttm-fid-contents { padding-left: 60px; }
    .ttm-fid-view-righticon .ttm-fid-contents, .ttm-fid-view-lefticon .ttm-fid-contents {
        clear: both;
        overflow: hidden;
    }
    /*  topicon */
    .ttm-fid-view-topicon .ttm-fid-icon-wrapper .ttm-icon{
        margin-bottom: 0;
        display: inline-block;
        position: relative;
    }
    .ttm-fid-view-topicon .ttm-fid-icon-wrapper .ttm-icon.ttm-icon_element-size-lg {
        margin-bottom: 10px;
        width: 90px;
        height: 90px;
        line-height: 90px;
        border-radius: 5px;
    }
    .ttm-fid-view-topicon .ttm-fid-icon-wrapper .ttm-icon.ttm-icon_element-size-lg i{font-size: 40px;}
    .ttm-fid-view-topicon h4{font-size: 46px;line-height: 56px;}
    .ttm-fid-view-topicon h3{font-weight: 500;font-size: 16px;padding-top: 10px;}
    /*  style1 */
    .ttm-fid-view-lefticon.style1{margin-bottom: 0; padding:0 0;margin-top: 35px;}
    .ttm-fid-view-lefticon .ttm-fid-icon-wrapper{margin-top: 20px;}
    .row > [class*='col-']:not(:last-child) >  .ttm-fid-view-lefticon.style1:before{
        position: absolute;
        content: '';
        background-color: rgba(243,243,243,.06);
        width: 1px;
        height: 100%;
        bottom: 0;
        right: 0px;
    }
    /*  style2 */
    .ttm-fid-view-lefticon.style2{margin-bottom: 0; padding:30px 15px;}
    .ttm-highlight-fid-style-1 {
        position: absolute;
        background: #fff;
        padding: 24px 25px 19px;
        border: 3px solid #e8e9ea;
        max-width: 250px;
        top: 0;
        left: 0;
        z-index: 9;
        margin-bottom: 0;
    }
    .ttm-highlight-fid-style-1 .inside,
    .ttm-highlight-fid-style-2 .inside{margin-bottom: 0;padding: 0;}
    .ttm-highlight-fid-style-1 .ttm-fid.inside h4 {
        font-size: 80px;
        line-height: 72px;
        padding-right: 10px;
        float: left;
        display: block;
    }
    .ttm-highlight-fid-style-1 .ttm-fid.inside h3 {
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        color: #1e2637;
        display: inline;
    }
    .ttm-highlight-fid-style-1:before{
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        z-index: 1;
        bottom: 11px;
        left: 113px;
        border: 10px solid transparent;
        border-bottom: 0;
        border-top-color: #fff;
        margin-bottom: -19px;
    }
    .ttm-highlight-fid-style-1:after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        top: 118px;
        left: 110px;
        border: 13px solid transparent;
        border-bottom: 0;
        border-top-color: #e8e9ea;
    }
    .ttm-highlight-fid-style-2{
        position: absolute;
        background: #f7f9fe;
        padding: 25px 25px 25px;
        max-width: 160px;
        bottom: -60px;
        right: 5px;
        border: 1px solid #dfe5f3;
        text-align: center;
    }
    .ttm-highlight-fid-style-2:before{
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        z-index: 1;
        top: -13px;
        left: 30px;
        border: 13px solid transparent;
        border-top: 0;
        border-bottom-color: #f7f9fe;
    }
    .ttm-highlight-fid-style-2:after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        top: -17px;
        left: 27px;
        border: 16px solid transparent;
        border-top: 0;
        border-bottom-color: #e8e9ea;
    }
    .ttm-highlight-fid-style-2 .inside h4{ font-size: 46px;line-height: 56px; }
    .ttm-highlight-fid-style-2 .inside h3{color: #6e6e6e}
/* ===============================================
    12.featured-icon-box ( only contents )
    ------------------------*/
    .featured-icon-box { position: relative;}
    .featured-icon-box .ttm-icon{ margin-bottom: 0px; }
    .featured-icon-box.top-icon .featured-content{ padding-top: 14px; }
    .featured-icon-box.left-icon .featured-icon:not(.ttm-icon_element-border),
    .featured-icon-box.left-icon .featured-icon, 
    .featured-icon-box.left-icon .featured-content{
        display: table-cell;
        vertical-align: middle; 
    }

    .featured-icon-box.iconalign-before-heading .featured-content{ display: table; }
    .featured-icon-box.iconalign-before-heading .ttm-icon.ttm-icon_element-size-md { height: auto; width: auto; }
    .featured-icon-box.iconalign-before-heading .ttm-icon,
    .featured-icon-box.iconalign-before-heading .featured-title{ display: table-cell; vertical-align: middle; padding-left: 20px;}
    .iconalign-before-heading .ttm-icon.style1{width: 40px; height: 50px;}
    .iconalign-before-heading .ttm-icon.style1 .ttm-num:before{font-size: 20px;font-weight: 600; color: #263045;}
    .featured-icon-box.iconalign-before-heading .featured-desc{padding-top: 10px;}

    .featured-icon-box.left-icon.icon-align-top .featured-icon{ vertical-align: top; padding-top: 5px; }
    .featured-icon-box.left-icon .featured-content { padding-left: 24px; }
    .featured-title h5{ font-size: 19px; line-height: 26px; margin-bottom: 0px;}
    .featured-desc p{margin-bottom: 0;}

    body{ counter-reset: section; }
    .ttm-num:before{ 
        counter-increment: section; 
        content: counter(section, decimal-leading-zero) " " ;
        font-size: 14px;
        font-family: "Poppins",Arial,Helvetica,sans-serif;
    } 
    /*  style1 */
    .featured-icon-box-style1-row{margin-top: -35px;padding-left: 10px;padding-right: 10px;}
    .featured-icon-box.style1{ padding: 28px 20px;}
    .featured-icon-box.style1 .featured-title h5{font-weight: 500;}
    .featured-icon-box.style1 .featured-desc p{font-weight: 300;}
    /*  style2 */
    .featured-icon-box.style2 .ttm-icon.ttm-icon_element-size-md i { font-size: 24px;}
    .featured-icon-box.style2 .featured-title h5{margin-bottom: 5px;}
    /*  style3 */
    .featured-icon-box.style3 .ttm-icon.ttm-icon_element-size-lg{
        height: 45px;
        width: 45px;
        line-height: 45px;
    }
    .featured-icon-box.style3 {padding-top: 15px;}
    .featured-icon-box.style3 .featured-content{padding-left: 12px;}
    /*  without-icon */
    .featured-icon-box.without-icon .featured-title h5{padding-left: 26px;position: relative;}
    .featured-icon-box.without-icon .featured-title h5:before{
        content: "";
        position: absolute;
        width: 18px;
        height: 1px;
        margin: auto;
        top: 50%;
        left: 0;
    }
    /*  style4 */
    .featured-icon-box.style4 .ttm-icon.ttm-icon_element-size-md{
        height: 35px;
        width: 35px;
        line-height: 35px;
    }
    .featured-icon-box.style4 .ttm-icon.ttm-icon_element-size-md i{font-size: 35px;}
    .featured-icon-box.style4 .featured-content{padding-left: 12px;}

    /*  style5 */
    .featured-icon-box.style5{position: relative;z-index: 1;overflow: hidden;}
    .featured-icon-box.style5{
        border:1px solid rgba(255,255,255,0.15) !important;
        padding: 40px 35px;
        border-radius: 5px;
    }
    .featured-icon-box.style5 .ttm-icon.ttm-icon_element-size-lg{height: 45px;width: 45px; line-height: 45px;}
    .featured-icon-box.style5 .featured-content{padding-top: 10px;}
    .featured-icon-box.style5 .featured-title h5{margin-bottom: 10px;}
    .featured-icon-box.style5:before{
        position: absolute;
        content: '';
        bottom: 100%;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        -webkit-transition: .55s cubic-bezier(.68,1.55,.265,.55);
        -moz-transition: .55s cubic-bezier(.68,1.55,.265,.55);
        -ms-transition: .55s cubic-bezier(.68,1.55,.265,.55);
        -o-transition: .55s cubic-bezier(.68,1.55,.265,.55);
        transition: .55s cubic-bezier(.68,1.55,.265,.55);
    }
    .featured-icon-box.style5:hover:before{
        bottom: 0;
    }
    /*  style6 */
    .featured-icon-box.style6{
        border: 1px solid #ebeef0;
        padding: 30px 30px 30px 30px;
        height: 100%;
        position: relative;
        background-color: #fff;
        margin-right: -1px;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
    }
    .featured-icon-box.style6 .ttm-icon.ttm-icon_element-size-lg {
        height: 50px;
        width: 50px;
        line-height: 50px;
    }
    .featured-icon-box.style6 .ttm-icon.ttm-icon_element-size-lg i{font-size: 50px;}

    /*  style7 */
    .featured-icon-box.style7{padding: 30px 20px;border:1px solid #ebedf2 !important;}
    .featured-icon-box.style7 .ttm-icon.ttm-icon_element-size-md{
        height: 70px;
        width: 70px;
        line-height: 70px;
    }
    .featured-icon-box.style7 .ttm-icon.ttm-icon_element-size-md i{font-size: 58px;}
    .featured-icon-box.style7 .featured-title h5{margin-bottom: 5px;}

    /*  style8 */
    .featured-icon-box.style8{
        padding: 60px 30px 40px;
        background-color: #fff;
        position: relative;
    }
    .featured-icon-box.style8 .ttm-icon{
        position: absolute;
        top: -32px;
        left: 50%;
        margin-left: -33px;
        background-color: #fff;
        -webkit-box-shadow: 0 0 12px 0 rgba(32,46,60,.06);
        -moz-box-shadow: 0 0 12px 0 rgba(32,46,60,.06);
        box-shadow: 0 0 12px 0 rgba(32,46,60,.06);
        text-align: center;
        height: 70px;
        width: 70px;
        line-height: 70px;
    }
/* ===============================================
    13.featured-imagebox ( contents with image)
    ------------------------*/

    /*  Team  */
    .featured-imagebox-team{position: relative;overflow: hidden;}
    .featured-imagebox-team:hover .featured-thumbnail img{
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -moz-transform: scale(1.05);
        transform: scale(1.05);
    }
    .featured-imagebox-team .featured-thumbnail{position: relative;overflow: hidden;}
    .featured-imagebox-team.style1 .featured-content{
        text-align: center;
        position: relative;
        z-index: 2;
        margin: -25px 40px 5px;
        padding: 18px 0 22px;
        background-color: #fff;
        border-bottom: 5px solid transparent;
        -webkit-transition: .5s cubic-bezier(.3,.57,.55,1);
        transition: .5s cubic-bezier(.3,.57,.55,1);
    }
    .featured-imagebox-team .social-icons{
        position: absolute;
        top: 0;
        left: -40px;
        right: auto;
        padding: 10px;
        margin-top: 0;
        opacity: 0;
        z-index: 9;
        background-color: #000;
        -webkit-transition: .5s all ease;
        -ms-transition: .5s all ease;
        -moz-transition: .5s all ease;
        -o-transition: .5s all ease;
        transition: .5s all ease;
    }
    .featured-imagebox-team ul.social-icons li{display: block;}
    .featured-imagebox-team ul.social-icons a {
        font-size: 14px;
        color: #fff;
        position: relative;
    }
    .featured-imagebox-team:hover .social-icons{opacity: 1;left: 0;}
    .featured-imagebox-team .featured-content p.category{margin-bottom: 0;}
    /*  style2  */
    .featured-imagebox-team.style2 .ttm-box-view-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        text-align: center;
        opacity: 0;
        transition: opacity .5s;
        background: linear-gradient(to bottom,rgba(4,62,76,0) 0%,rgba(38,48,69,.9) 100%);
        transition-property: top,opacity;
    }
    .featured-imagebox-team.style2:hover .ttm-box-view-overlay{opacity: 1;}
    .featured-imagebox-team.style2 .featured-content{
        position: absolute;
        transition-duration: 0.5s;
        transform: translateY(130px);
        color: #fff;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
    }
    .featured-imagebox-team.style2:hover .featured-content{
        top: 50px;
    }
    .featured-imagebox-team.style2 .featured-title h5 a{color: #fff;}

    /*  Portfolio  */
    .featured-imagebox-portfolio{position: relative;overflow: hidden;} 
    .featured-imagebox-portfolio .featured-thumbnail{
        position: relative;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-property: -webkit-transform,-webkit-box-shadow;
        transition-property: -webkit-transform,-webkit-box-shadow;
        transition-property: transform,box-shadow;
        transition-property: transform,box-shadow,-webkit-transform,-webkit-box-shadow;
    }
    .featured-imagebox-portfolio.style1:hover .featured-thumbnail{
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    .featured-imagebox-portfolio .ttm-box-view-overlay{
        position: absolute;
        top: 0;
        opacity: 0;
        z-index: 1;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.75);
    }
    .featured-imagebox-portfolio:hover .ttm-box-view-overlay{ opacity: 1;}
    .featured-imagebox-portfolio .ttm-media-link a{
        display: inline-block;
        font-size: 17px;
        position: absolute;
        top: 42%;
        right: 50%;
        margin-top: -17px;
        height: 45px;
        width: 45px;
        line-height: 45px;
        border: 1px solid #fff;
        border-radius: 0;
        text-align: center;
        margin-right: 3px;
        transform: translateX(-20px);
        -webkit-transition: .5s;
        transition: .5s;
    }
    .featured-imagebox-portfolio .ttm-media-link a.ttm_link{
        transform: translateX(20px);
        -webkit-transition: 1s;
        margin-right: -51px;
    }
    .featured-imagebox-portfolio:hover .ttm-media-link a{
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    .featured-imagebox-portfolio .ttm-media-link a:hover{background-color: transparent;}
    .featured-imagebox-portfolio .featured-content{
        position: absolute;
        bottom: 0;
        width: 100%;
        max-height: 100%;
        overflow: hidden;
        padding: 15px;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
        z-index: 2;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        text-align: center;
    }
    .featured-imagebox-portfolio:hover .featured-content{
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
    .featured-imagebox-portfolio .category p{margin-bottom: 0;color: #fff;}
    /*  style2  */
    .featured-imagebox-portfolio.style2 .featured-thumbnail:before{
        position: absolute;
        content: '';
        background-color: rgba(255,255,255,.75);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: .9s ease;
        z-index: 1;
        opacity: 0;
    }
    .featured-imagebox-portfolio.style2:hover .featured-thumbnail:before{opacity: 1;}
    .featured-imagebox-portfolio.style2 .featured-content{
        position: absolute;
        bottom: 30px;
        left: 30px;
        opacity: 0;
        width: 84%;
        z-index: 1;
        transform: translateY(100%);
        -webkit-transition: all 0.9s;
        -moz-transition: all 0.9s;
        -o-transition: all 0.9s;
        -ms-transition: all 0.9s;
        transition: all 0.9s;
        padding: 23px 25px 24px;
        text-align: left;
    }
    .featured-imagebox-portfolio.style2:hover .featured-content{
        opacity: 1;
        transform: translateY(0);
    }
    /*  blog  */
    .featured-imagebox-blog{
        background-color: #fff;
        margin-bottom: 10px;
    }
    .featured-imagebox-blog:hover{
        -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,.10);
        box-shadow: 1px 2px 10px rgba(0,0,0,.10);
    }
    .featured-imagebox-blog .featured-thumbnail{position: relative;overflow: hidden;}
    .featured-imagebox-blog:hover .featured-thumbnail img{
        -webkit-transform: scale(1.075);
        -ms-transform: scale(1.075);
        transform: scale(1.075);
        -webkit-transition: all 3s ease-out;
        transition: all 3s ease-out;
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    }

    .ttm-blog-overlay-iconbox a{
        opacity: 0;
        position: absolute;
        text-align: center;
        z-index: 1;
        top: 50%;
        left: 50%;
        margin-top: -12px;
        margin-left: -17px;
        display: inline-block;
        height: 25px;
        width: 25px;
        line-height: 25px;
        color: #fff;
        font-size: 25px;
        background: transparent;
        -webkit-transition: all .9s ease;
        -o-transition: all .9s ease;
        -moz-transition: all .9s ease;
        transition: all .9s ease;
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    .featured-imagebox-blog:hover .ttm-blog-overlay-iconbox a{
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    .featured-imagebox-blog .featured-content{padding: 45px 25px 25px 25px; position: relative;}
    .post-meta{
        display: block;
        padding: 5px 0;
        margin: 10px 0;
    }
    .featured-imagebox-blog .post-meta{
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
    }
    .featured-imagebox-blog .post-meta .ttm-meta-line:not(:last-child){  padding-right: 23px;}
    .post-meta i{padding-right: 5px;}
    .post-meta .ttm-meta-line{position: relative;}
    .post-meta .ttm-meta-line:not(:last-child):after{
        position: absolute;
        content: "";
        height: 16px;
        width: 1px;
        right: 10px;
        top: 0;
        background-color: #dce1e9;
    }
    .ttm-box-post-date{
        position: absolute;
        left: 15px;
        top: 15px;
        border-radius: 5px;
        text-align: center;
        font-weight: 500;
        font-size: 17px;
        color: #fff;
    }

    .ttm-box-post-date{
        background-color: #2d4a8aa8!important;
    }
    .ttm-box-post-date .entry-date{
        height: 60px;
        width: 120px;
        display: block;
        line-height: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .featured-imagebox-blog .ttm-box-post-date{
        left: 25px;
        top: -35px;
        border-radius: unset;
    }
    .ttm-entry-date span{display: block;}
    .featured-imagebox-blog .ttm-box-view-overlay:after{
        content: '';
        position: absolute;
        left: 0!important;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        -webkit-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    .featured-imagebox-blog .ttm-box-view-overlay:before{
        content: '';
        position: absolute;
        right: 0!important;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        -webkit-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }
    .featured-imagebox-blog:hover .ttm-box-view-overlay:before,
    .featured-imagebox-blog:hover .ttm-box-view-overlay:after{
        opacity: .6;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    /*  style2  */
    .featured-imagebox-blog.style2{padding: 15px;}
    .featured-imagebox-blog.style2 .featured-content{ padding: 25px 5px 5px;}
    .featured-imagebox-blog.style2 .ttm-box-post-date {
        left: 15px;
        top: -80px;
    }
    .featured-imagebox-blog.style2 .ttm-entry-date span {
        display: block;
        background-color: #fff;
        color: #000;
        font-size: 14px;
        font-weight: 500;
    }
    .featured-imagebox-blog.style2 .ttm-box-post-date .entry-date{display: block;line-height: 30px;}

    /*  services  */
    .featured-imagebox-services.style1 .featured-content{
        padding: 10px 7px 18px;
        margin: -55px 20px 0;
        text-align: center;
        border-bottom: 3px solid #263045;
        position: relative;
        transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        background-color: #fff;
    }
    .featured-imagebox-services .featured-title h5{margin-bottom: 10px;}

    /* post */
    .featured-imagebox-post{
        background-color: #fff;
        padding: 0;
        margin-bottom: 20px;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        -moz-transition: 0.5s;
        transition: 0.5s;
    }
    .featured-imagebox-post .featured-content{ padding: 22px 27px 22px 27px; }
    .ttm-box-view-left-image.featured-imagebox-post{padding: 15px;}
    .ttm-box-view-left-image .ttm-featured-img-left { padding: 0;}
    .ttm-box-view-left-image.featured-imagebox-post .featured-content {
        padding-left: 25px !important;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 0 !important;
    }
    .featured-imagebox-post.ttm-box-view-left-image .featured-content {
        padding: 15px 17px 11px 17px;
    }
    .featured-imagebox .featured-content .category, 
    .featured-imagebox .featured-content .category a {
        color: #9dabaf;
    }
    .ttm-box-view-left-image .featured-content .category {
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
    }
    .featured-imagebox .featured-content .category, 
    .featured-imagebox .featured-content .category a {
        font-size: 15px;
    }
    .ttm-box-view-left-image .featured-content .category> a {
        display: inline-block;
        border: 1px solid;
        padding: 5px 10px;
        margin-right: 1px;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        margin-bottom: 5px;
    }
    .ttm-box-view-left-image .featured-content .ttm-box-desc, 
    .ttm-box-view-left-image .featured-content .featured-desc {
        border-top: 1px solid #f2f2f2;
        margin-top: 7px;
        padding-top: 15px;
    }
/* ===============================================
    14.Processbox
    ------------------------*/
    .ttm-processbox-wrapper {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        padding-top: 8px;
    }
    .ttm-processbox-wrapper .ttm-processbox {
        width: calc(100% / 3);
        padding: 0 15px;
        position: relative;
        text-align: center;
    }
    .ttm-processbox-wrapper .ttm-processbox .ttm-box-image {
        border: 3px solid #f0f0f0;
        border-radius: 50%;
        margin-bottom: 35px;
        position: relative;
        display: inline-block;
        transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
    }

    .ttm-processbox-wrapper .ttm-box-image  img {
        border: 10px solid #fff;
        box-shadow: 0 0 9px 0 rgba(24,35,51,.09);
        border-radius: 50%;
        transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        height: 185px;
        width: 185px;
    }
    .ttm-processbox-wrapper .ttm-processbox .ttm-box-image:before {
        display: block;
        content: '';
        position: absolute;
        right: -95px;
        top: 45%;
        height: 22px;
        width: 72px;
        background-image: url(../images/process-arrow.png);
        background-repeat: no-repeat;
    }
    .ttm-processbox-wrapper .ttm-processbox .process-num {
        margin-right: 5px;
        font-size: 16px;
        font-weight: 500;
        background-color: #263045;
        color: #fff;
        width: 40px;
        height: 40px;
        line-height: 41px;
        border-radius: 50%;
        border: none;
        display: block;
        text-align: center;
        position: absolute;
        left: 50%;
        margin-left: -20px;
        bottom: -15px;
        z-index: 10;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }
    .ttm-processbox-wrapper .featured-content {
        text-align: center;
        padding: 0 15px;
    }
    .ttm-processbox-wrapper .ttm-processbox .featured-title h5 {
        margin-bottom: 10px;
    }
    .ttm-processbox-wrapper .ttm-processbox:last-child .ttm-box-image:before{content:unset}

/* ===============================================
    15.Progress-Bar
    ------------------------*/
    .ttm-progress-bar {
        position: relative
    }
    .ttm-progress-bar:not(:last-child) {
        margin-bottom: 24px
    }
    .ttm-progress-bar .progress-bar-title {
        top: -35px;
        left: 0;
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        margin-bottom: 11px
    }
    .ttm-progress-bar .progress-bar-percent {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        text-shadow: none
    }
    .ttm-progress-bar .progress-bar {
        border-radius: 0;
        height: 6px;
        position: relative
    }
    .ttm-progress-bar .progress-bar-inner {
        height: 6px;
        width: 100%;
        background-color: #e9e9e9
    }
    .progress-bar:before {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        bottom: -6px;
        right: -1px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #fff;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .06)
    }


/* ===============================================
    16.Testimonial
    ------------------------*/
    .testimonials{
        position: relative;
    }
    .testimonials .testimonial-content{ text-align: center;}
    .testimonial-content .testimonial-avatar{display: block;margin: 0 auto;}
    .testimonials .testimonial-content h6{
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 0;
    }
    .testimonials .testimonial-content label {
        display: block;
        font-size: 13px;
        margin-bottom: 0;
        color: #687076;
    }
    .testimonials .testimonial-content blockquote {
        padding: 0;
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        background-color: transparent;
        line-height: 26px;
        position: relative;
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .testimonials .testimonial-avatar .testimonial-img img {
        height: 91px;
        width: 91px;
        border-radius: 50%;
        border: 5px solid #f0f0f0;
    }
    .testimonial-slide.style1{padding: 40px 40px 30px 40px;}
    .testimonial-slide.style1 .ttm-ratting-star {
        padding-top: 12px;
        padding-bottom: 10px;
    }

/* ===============================================
    17.Client-row  
    ------------------------*/
    .client-box{ 
        margin-bottom: 20px;
        padding: 15px 12px 30px;
    }
    .ttm-client-logo-tooltip{ position: relative; }
    .ttm-box-view-separator-logo .client-box .client:after {
        border-right: 1px solid #eaeaea;
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        right: -25px;
        top: 0;
    }
    .ttm-box-view-separator-logo .row .col-sm-4:nth-child(3n+3) .client-box .client:after{ display: none; }
    .client-box.ttm-box-view-boxed-logo{ 
        padding: 0;
        margin-top: 30px; 
        margin-bottom: 30px;
    }
    .client-box.ttm-box-view-boxed-logo .ttm-client-logo-tooltip{
        margin-right: 13px;
        margin-left: 13px;
        padding: 18px 12px;
        display: table-cell;
        text-align: center;
        align-items: center;
        vertical-align: middle;
    }
    .client-box.ttm-box-view-boxed-logo .client{
        width: 100%;
        display: table;
    }
    .client-box.ttm-box-view-boxed-logo .client:hover img{
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
        -ms-filter: grayscale(1);
    }
    .client-box.ttm-box-view-boxed-logo{position: relative;display: block;}

/* ===============================================
    18.Accordion
    ------------------------*/
    .accordion .toggle{  margin-bottom: 15px;}
    .accordion .toggle-title a{ 
        color: #263045;
        font-size: 17px;
        padding: 17px 20px;
        font-weight: 400;
        cursor: pointer;
        display: block;
        border: 1px solid rgba(227,227,227,.7);
        background-color: transparent;
        position: relative;
    }
    .accordion .toggle .toggle-title a:after {
        position: absolute;
        font-family: "themify";
        right: 19px;
        top: 15px;
        content: "\e61a";
        color: #263045;
        font-size: 14px;
        font-weight: bold;
    }
    .accordion .toggle .toggle-title a.active:after {
        content: "\e622";
        font-family: "themify";
        color: #fff;
    }
    .accordion .toggle-content {
        display: none;
        padding: 14px 20px;
        overflow: hidden;
    }
    .accordion .toggle.active .toggle-title:after { color: #fff; }

    /* accordion.style2 */
    .accordion.style2 .toggle:not(:last-child){  border-bottom: 1px solid #eaeaea !important;}
    .accordion.style2 .toggle .toggle-title a{
        padding-bottom: 15px;
        border:0;
        padding: 0 15px 15px 35px;
        font-weight: 600;
        font-size: 16px;
    }
    .accordion.style2 .toggle .toggle-title a:after {
        position: absolute;
        font-family: "FontAwesome";
        left: 0;
        top: 0;
        content: "\f055";
        font-size: 14px;
        font-weight: bold;
    }
    .accordion.style2 .toggle .toggle-title a.active:after {
        content: "\f056";
        font-family: "FontAwesome";
    }
    .accordion.style2 .toggle .toggle-title a.active{background-color: transparent;}
/* ===============================================
    19.Wrap-Form
    ------------------------*/
    /* quote-form */
    .ttm-quote-form .form-group{margin-bottom: 30px;}
    .form-group .input-group-icon{ position: absolute; top: 8px; left: 17px; font-size: 16px; color: #4d5257;}
    .ttm-quote-form .form-control.with-white-bg{border:none;background-color: #fff;}
    .ttm-quote-form .form-control.with-grey-bg{border:none;background-color: #f7f9fb;}


/* ===============================================
    20.Tab
    ------------------------*/
    .ttm-tabs {
        width:100%; 
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .ttm-tabs .section-title{ padding-bottom: 0; }
    .ttm-tabs ul{ margin: 0; padding: 0; }
    .ttm-tabs ul.tabs li{ display: inline-block; }
    .ttm-tabs ul.tabs li a{
        display: block;
        cursor: pointer;
        padding: 8px 22px;
        margin-bottom: 5px;
        line-height: 22px;
        width: auto;
        position: relative;
        z-index: 3;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        border: 1px solid #263045;
    }
    .ttm-tabs ul.tabs li a i{
        font-size: 18px;
        margin-right: 9px;
        position: relative;
        top: 2px;
    }
    .ttm-tabs ul.tabs li a span{
        font-size: 18px;
        font-weight: normal;
    }
    .tab-padding-box{
        padding-top: 105px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 70px;
    }
    .ttm-tabs .content-tab{ margin-top: 20px; width: 100%;}
    .ttm-tabs .content-tab h6{ font-size: 15px; line-height: 28px; margin-bottom: 29px; padding-bottom: 7px; }

    /* ttm-tab-style-vertical */
    .ttm-tabs.ttm-tab-style-vertical .content-tab{ padding: 0; margin: 0;}
    .ttm-tabs.ttm-tab-style-vertical ul.tabs li { margin-top: 1px; width: 100%; display: block;}
    .ttm-tabs.ttm-tab-style-vertical ul.tabs li a{ background-color: #2a2a2a; color: #fff; letter-spacing: 1.2px; 
        padding: 14px 20px; text-transform: uppercase; font-size: 18px; line-height: 27px; margin: 0; border-radius: 0;}

        /* ttm-tab-style-horizontal */
        .ttm-tabs.ttm-tab-style-horizontal ul{ margin: 0; padding: 0; display: -webkit-flex; display: flex; }
        .ttm-tabs.ttm-tab-style-horizontal ul.tabs li{ margin-right: 6px; display: inline-block; }
        .ttm-tabs.ttm-tab-style-horizontal ul.tabs li:last-child{ margin-right: 0; }
        .ttm-tabs.ttm-tab-style-horizontal ul.tabs li a{ padding: 16px 18px 15px 18px; font-size: 15px; border-radius: 5px; 
            letter-spacing: 1.2px; border: none; color: #fff; display: block; text-align: left;}
            .ttm-tabs.ttm-tab-style-horizontal .content-tab img{ height: 150px; width: 150px; }

            /* ttm-tab-style-classic-style1*/

            .ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li{
                -webkit-flex: 1 1 auto;
                flex: 1 1 auto;
                text-align: center;
                position: relative;
            }
            .ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li:not(:first-child):before{
                content: "";
                position: absolute;
                left: 0;
                width: 1px;
                height: 76%;
                background-color: red;
                z-index: 9;
                top: 12%;
                background-color: #f0f0f0;
            }
            .ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li.active:before{content: unset;}
            .ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li:first-child{margin-left: 0;}
            .ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li:last-child{margin-right: 0;}
            .ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li i,
            .ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li span{display: block;}
            .ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li i{
                font-size: 42px;
                line-height: 60px;
                margin: 0;
            }
            .ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li a{
                padding: 15px 15px 23px;
                background-color: #fff;
                border: none;
                border-radius: 0;
                margin-bottom: 0;
            }
            .ttm-tabs.ttm-tab-style-classic.style1 ul.tabs li a:before{
                display: block;
                content: "";
                position: absolute;
                bottom: -7px;
                left: 50%;
                width: 13px;
                height: 13px;
                border-width: 0 0 1px 1px;
                -webkit-transform: translateX(-50%) rotate(-45deg);
                -moz-transform: translateX(-50%) rotate(-45deg);
                -ms-transform: translateX(-50%) rotate(-45deg);
                -o-transform: translateX(-50%) rotate(-45deg);
                transform: translateX(-50%) rotate(-45deg);
                -webkit-transition-delay: 0.07s;
                -moz-transition-delay: 0.07s;
                -o-transition-delay: 0.07s;
                transition-delay: 0.07s;
            }
            .ttm-tabs.ttm-tab-style-classic .content-tab{padding: 30px;}
            /* ttm-tab-style-classic-style2*/
            .ttm-tabs.ttm-tab-style-classic.style2 ul.tabs li{
                margin-right: 5px;
                margin-bottom: 5px;
            }
            .ttm-tabs.ttm-tab-style-classic.style2 .content-tab {
                padding: 0;
                margin: 0;
            }
/* ===============================================
    21.Boxes-Spacing
    ------------------------*/
    .row.ttm-boxes-spacing-10px {
        margin: 0 0;
        padding: 0 5px;
    }
    .ttm-boxes-spacing-10px .ttm-box-col-wrapper {
        padding-right: 5px;
        padding-left: 5px;
        margin: 0 0 10px;
        margin-top: 50px;
    }
    .row.ttm-boxes-spacing-10px.style2{ padding: 10px 0 0; margin: 0 -5px; }

    .row.ttm-boxes-spacing-5px{ padding: 10px 5px 0px; margin: 0;}
    .ttm-boxes-spacing-5px .ttm-box-col-wrapper {
        padding-right: 5px;
        padding-left: 5px;
        margin-bottom: 10px;
    }
    .row.ttm-boxes-spacing-5px.style2{ padding: 5px 0 0; margin: 0 -5px; }

/* ===============================================
    22.Pricing-Plan
    ------------------------*/
    .ttm-pricing-plan {
        -webkit-border-radius: 0;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 0;
        -moz-background-clip: padding;
        border-radius: 0;
        background-color: #fff;
        background-clip: padding-box;
        position: relative;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        padding: 50px 30px 30px;
    }
    .ttm-pricing-plan.ttm-pricing-plan-col{
        z-index: 1;
        padding: 50px 30px 69px;
    }
    .ttm-ptablebox-title h3 {
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .ttm-ptablebox-price-w {
        position: relative;
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .ttm-pricing-plan .ttm-ptablebox-price {
        padding-left: 20px;
        font-size: 50px;
        line-height: 55px;
        font-weight: 700;
    }
    .ttm-pricing-plan .ttm-ptablebox-frequency:before {content: '/ ';}
    .ttm-pricing-plan .ttm-ptablebox-cur-symbol-after,
    .ttm-pricing-plan .ttm-ptablebox-cur-symbol-before {font-size: 20px; font-weight: 600;}
    .ttm-pricing-plan .ttm-ptablebox-cur-symbol-before { position: absolute; top: 0; }
    .ttm-currency-before .ttm-ptablebox-price {
        padding-left: 20px;
        font-size: 50px;
        line-height: 40px;
        font-weight: 600;
    }
    .ttm-pricing-plan .ttm-ptablebox-frequency {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 27px;
        color: #6e6e6e;
        font-style: italic;
    }
    .ttm-ptablebox-price, .ttm-ptablebox-frequency, 
    .ttm-pricing-plan .ttm-ptablebox-cur-symbol-after, 
    .ttm-pricing-plan .ttm-ptablebox-cur-symbol-before {
        display: inline-block;
    }
    .ttm-ptablebox-features .ttm-feature-lines {
        list-style-type: none;
        margin: 0;
        padding: 12px 0 20px 0;
    }
    .ttm-ptablebox-features .ttm-feature-lines li {
        padding: 0;
        margin: 0;
        font-size: 15px;
        padding-top: 12px;
        padding-bottom: 13px;
    }
    .ttm-ptablebox-features .ttm-feature-lines li:not(:last-child){ border-bottom: 1px solid #f1f1f1;;}
    .price_btn{ display: block; padding-top: 5px; text-align: center;}
    .price_btn .ttm-btn.ttm-btn-size-md{
        font-size: 15px;
    }
    .ttm-ptablebox-featured-col{
        box-shadow: 0 0 30px rgba(24,35,51,.06);
        padding: 50px 40px 68px;
        z-index: 1;
        background-color: #fff;
        overflow: visible;
    }
    .ttm-pricing-plan .ttm-featured-title {
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        text-align: center;
        font-weight: 600;
        font-size: 15px;
        width: 100%;
        color: #fff;
        padding: 12px 15px;
        background-color: #263045;
    }
    .ttm-pricing-plan .ttm-featured-title i {
        margin-right: 10px;
    }
/* ===============================================
    23.Sidebar
    ------------------------*/
    .sidebar .widget-area .widget {
        position: relative;
        margin: 35px 0 35px;
        padding: 10px;
        -webkit-box-shadow: 0 0 15px 0 rgba(40,61,88,.07);
        -moz-box-shadow: 0 0 15px 0 rgba(40,61,88,.07);
        box-shadow: 0 0 15px 0 rgba(40,61,88,.07);
    }
    .sidebar .widget-area .widget:first-child{margin-top: 0;}
    .sidebar .widget a {
        font-weight: 500;
        font-size: 14px;
    }
    .sidebar .widget .widget-title{ margin-bottom: 15px;}
    .sidebar .widget .widget-title:before{
        display: block;
        height: 5px;
        content: '';
        position: absolute;
        left: 0;
        width: 10px;
        top: 0;
        margin-top: 10px;
        margin-left: -30px;
        margin-bottom: 0;
    }
    .sidebar .widget ul>li:last-child{
        padding-bottom: 0 !important;
    }
    .sidebar .content-area{
        padding-top: 65px;
        padding-bottom: 55px;
    }
    .sidebar div.widget-area{
        position: relative;
        margin-top: 65px;
    }
    .sidebar .sidebar-right, .sidebar .sidebar-left{
        margin-top: -37px;
        padding-top: 60px;
        padding-bottom: 70px;
        float: right;
    }
    .sidebar .sep_holder .sep_line{ border-color: #ebebeb; }

    /*author-widget*/
    .ttm-author-widget .author-widget_img img{ 
        margin-bottom: 20px;
    }
    .ttm-author-widget .author-name {
        font-size: 22px;
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 10px;
        display: none;
    }
    .ttm-author-widget .author-widget_text {margin-bottom: 0;}

    /*widget-search*/
    .widget.widget-search{padding: 0 !important;box-shadow: unset !important;}
    .widget-search .form-group{margin: 0;position: relative;}
    .widget-search .form-group input{padding: 14px;padding-bottom: 14px; border: 1px solid transparent;}
    .widget.widget-search .form-group i{
        position: absolute;
        right: 0;
        cursor: pointer;
        font-size: 18px;
        z-index: 1;
        top: 0;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        background-color: #000;
        border: 1px solid #000;
    }

    /*widget-categories*/
    .sidebar .widget_product_categories li, .sidebar .widget_categories li {
        position: relative;
        margin: 5px 0;
        padding-bottom: 5px!important;
    }
    .sidebar .widget_product_categories li span, .sidebar .widget-Categories li span {
        position: absolute;
        right: 0;
        top: 13px;
        width: 22px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        border-radius: 50%;
        display: block;
        font-size: 13px;
        font-weight: 400;
    }

    /** ttm-recent-post-list **/
    ul.ttm-recent-post-list>li {
        padding: 5px 0 15px !important;
        display: inline-block;
        width: 100%;
        line-height: 20px;
    }
    ul.ttm-recent-post-list>li:last-child{padding-bottom: 0 !important;}
    ul.ttm-recent-post-list>li img {
        display: block;
        width: 70px;
        height: 70px;
        float: left;
        margin-right: 10px;
        padding: 4px;
        border: 1px solid rgba(46,56,77,1);
    }
    ul.ttm-recent-post-list>li .post-date {
        display: block;
        font-size: 11px;
        line-height: 14px;
        margin-top: 5px;
    }
    ul.ttm-recent-post-list>li .post-date i{margin-right: 7px;font-size: 11px;}
    .sidebar ul.ttm-recent-post-list>li,
    .sidebar .widget-top-rated-products ul >li{
        padding: 15px 0 !important;
    }
    .sidebar ul.ttm-recent-post-list>li:first-child,
    .sidebar .widget-top-rated-products ul >li:first-child{padding-top: 0 !important;}
    .sidebar ul.ttm-recent-post-list>li:last-child,
    .sidebar .widget-top-rated-products ul >li:last-child{padding-bottom: 0 !important;}
    .sidebar ul.ttm-recent-post-list>li:not(:last-child),
    .sidebar .widget-top-rated-products ul >li:not(:last-child){border-bottom: 1px solid #f0f0f0}
    .sidebar ul.ttm-recent-post-list>li img {
        padding: 0px !important;
        border: unset!important;
    }
    /* widget_media_gallery */
    .widget.widget_media_gallery .gallery-item{
        display: inline-block;
        max-width: 32%;
        padding: 0 1% 2% 0%;
        text-align: center;
        vertical-align: top;
        width: 100%;
    }
    /* tagcloud-widget */
    .sidebar .widget .tagcloud a {
        display: inline-block;
        padding: 4px 10px;
        margin: 0 5px 10px;
        border: 1px solid #f0f0f0;
        border-radius: 0;
        background-color: transparent;
    }

    /* widget-nav-menu */
    .widget.widget-nav-menu ul li{ 
        margin-bottom: 2px;
        padding: 0;
    }
    .widget.widget-nav-menu ul li a{
        display: block;
        padding: 15px 8px 15px 40px;
        margin: 5px 0;
        position: relative;
        background-color: transparent;
        border: 1px solid #f0f0f0;
        color: #263045;
        z-index: 1;
        font-weight: 500;
        font-size: 14px;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    .widget.widget-nav-menu ul li a:before {
        font-family: "FontAwesome";
        content: "\f101";
        position: absolute;
        top: 0;
        left: 0;
        border-right: 1px solid #f0f0f0;
        line-height: 50px;
        font-size: 14px;
        height: 100%;
        width: 35px;
        text-align: center;
        background-color: transparent;
        -webkit-transition: width 0.3s linear;
        transition: width 0.3s linear;
    }
    .widget.widget-nav-menu ul li a:after {
        content: "";
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: width 0.3s linear;
        transition: width 0.3s linear;
        z-index: -2;
    }
    .widget.widget-nav-menu ul li:hover a:after, 
    .widget.widget-nav-menu ul li.active a:after{
        width: 100%;
    }
    /* categories-widget */
    .sidebar .widget-categories ul li{
        padding: 12px 0;
        display: block;
        position: relative;
    }
    .sidebar .widget-categories ul li:not(:last-child){ border-bottom: 1px solid #f0f0f0;}
    .sidebar .widget-categories ul li a{padding-left: 20px;position: relative;}
    .sidebar .widget-categories ul li a:before{
        font-family: "FontAwesome";
        content: "\f067";
        position: absolute;
        top: 4px;
        left: 0;
        line-height: 16PX;
        font-size: 13px;
    }
    /* product-list-widget */
    .sidebar .widget-top-rated-products ul.product-list-widget > li{
     border-top: 2px solid #f5faff;
     padding-bottom: 15px;
     padding-top: 15px;
     margin: 0;
     list-style: none;
     display: block;
 }
 .sidebar .widget-top-rated-products ul.product-list-widget > li:first-child{border-top: none;padding-top: 0;}
 .sidebar .widget-top-rated-products li a{
    display: block;
}
.sidebar .widget-top-rated-products  li a img{
    width: 80px;
    float: left;
    margin-left: 0;
    margin-right: 15px;
}
.widget-top-rated-products .star-ratings ul li{padding-bottom: 0;}
.widget-top-rated-products .star-ratings ul{margin-top: -5px;}
.Price-amount.amount ins {padding: 2px 4px;text-decoration: none;}

/* contact-widget */
.sidebar ul.contact-widget-wrapper li i {
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 20px;
}
.sidebar ul.contact-widget-wrapper li {
    padding-left: 30px;
    position: relative;
    padding-top: 0;
    padding-bottom: 15px;
}
/* download-widget */
.widget-download ul.download li i{
    color: #fff;
    font-size: 28px;
    padding-right: 20px;
    background: #263045;
    width: 63px;
    height: 60px;
    padding: 15px 19px;
    vertical-align: middle;
}
.widget-download ul.download li{
    display: block;
    width: 100%;
    background-color: #263045;
    border: none;
    margin-bottom: 15px;
    padding: 0;
}
.widget-download ul.download li a {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.widget-download ul.download li a:hover{color: #fff; }
/* widget_media_image */
.widget.widget_media_image{padding: 0 !important;}
.banner-img-box {
    background-image: url(../images/widget-banner.png);
    padding: 15px;
    color: #fff;
    text-align: center;
    justify-content: left;
    display: flex;
    align-items: center;
    min-height: 385px;
    position: relative
}
.banner-img-box:before {
    content: "";
    position: absolute;
    height: 91%;
    width: 90%;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    border: 1px dashed rgba(255, 255, 255, .2)
}
.banner-img-box .featured-content i{font-size: 50px;}
.banner-img-box .featured-content{padding: 30px;}
.banner-img-box .featured-content .featured-title h5 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    font-family: Montserrat;
    margin-bottom: 10px;
    padding-top: 20px;
}
.banner-img-box .featured-content .featured-desc p {
    font-size: 14px;
    margin-bottom: 10px
}
.banner-img-box .featured-content ul li i{
    font-size: 14px;
    margin-right: 7px;
}
.banner-img-box .featured-content ul li{padding-top: 10px;}
.banner-img-box .featured-content ul li:not(:last-child){border-bottom: 1px dashed #fff;padding-bottom: 10px;}

/* pagination */
.ttm-pagination {
 display: block;
 margin-bottom: 20px;
 margin-top: 20px;
 text-align: center;
}
.ttm-pagination .page-numbers {
    width: 40px;
    height: 40px;
    line-height: 39px;
    text-align: center;
    display: inline-block;
    background-color: #f8f9fa;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #f8f9fa;
    border-radius: 0;
    margin: 0 3px;
    padding: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

/* ===============================================
    23.Products
    ------------------------*/
    .product{ 
        background-color: #fff;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s;
        margin-bottom: 35px;
        border: 1px solid #f0f0f0;
        -webkit-box-shadow: 0 0 15px 0 rgba(40,61,88,.07);
        -moz-box-shadow: 0 0 15px 0 rgba(40,61,88,.07);
        box-shadow: 0 0 15px 0 rgba(40,61,88,.07); 
    }
    .product-thumbnail { position: relative; overflow: hidden;}
    .product:hover .product-thumbnail img {
        -webkit-transform: scale(1.1,1.1);
        -moz-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
        -o-transform: scale(1.1,1.1);
        transform: scale(1.1,1.1);
    }
    .product .onsale {
        background: #51ad00;
        color: #fff;
        font-size: 10px;
        padding: 0 10px;
        display: table;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        left: 0;
        right: auto;
        min-width: 50px;
        line-height: 26px;
        z-index: 5;
        min-height: auto;
        font-weight: 400;
        margin: 0;
        vertical-align: top;
        border-radius: 0;
    }
    .ttm-shop-icon { position: absolute; bottom: 0px; left: 0px; z-index: 1;right: 0;text-align: center;}
    .ttm-shop-icon .product-btn{
        height: 48px;
        line-height: 48px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -o-transform: translateY(20px);
        transition: all 500ms;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -o-transition: all 500ms;
    }
    .product:hover .ttm-shop-icon .product-btn{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    .ttm-shop-icon .product-btn a{color: #fff;}
    .product .product-content { padding: 18px;position: relative; border-top: 1px solid #f0f0f0;}
    .product .product-content .product-title h2 { margin: 0; font-size: 17px;line-height: 27px;}
    .product .ttm-ratting-star,
    .widget-top-rated-products .ttm-ratting-star{ font-size: 12px;letter-spacing: 1px;color: #ffdd20;}
    .product-price { font-size: 17px;}
    .product-price del{font-size: 15px;color: #6e6e6e;}
    .product-price ins,
    .widget-top-rated-products ins{margin-left: 5px;text-decoration: none;}
    .widget-top-rated-products ins{padding: 1px 2px;}
    .products-result-count { float: left;  margin-top: 13px;}
    .products-ordering .form-control{padding: 13px 13px;}

    /* single-product-details */
    .ttm-single-product-details { background-color: #fff; margin-bottom: 30px;}
    .ttm-single-product-info { padding: 30px}
    div.product.ttm-single-product-details div.images { width: 48%; float: left;}
    div.product.ttm-single-product-details div.summary { width: 48%; float: right;}
    div.product.ttm-single-product-details .product-gallery__image img{ height: auto; max-width: 100%;}
    .ttm-single-product-details div.images .product-gallery__image:nth-child(n+2) {width: 25%; display: inline-block; margin-top: 4px;}
    .screen-reader-text {
        clip: rect(1px,1px,1px,1px);
        position: absolute!important;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }
    div.product .summary .price .Price-amount { font-size: 22px;}
    .summary .ttm-ratting-star { line-height: 1; padding: 0; margin: 0; margin-right: 5px;display: inline-block;}
    .ttm-single-product-details .product-details__short-description { margin-top: 20px; margin-bottom: 50px;}
    .summary form.cart { margin-top: 30px; margin-bottom: 30px;}
    div.product form.cart div.quantity { float: left; margin: 0 4px 0 0;}
    .quantity .qty { width: 80px; text-align: center; line-height: 1;padding: 8px;}
    .sku_wrapper,.posted_in { display: block;}
    .sku_wrapper span,.posted_in span { font-weight: 600;}
    .posted_in a { font-weight: 400; }
    .ttm-tabs.tabs-for-single-products{padding: 0 30px 30px 30px;}
    div.product ul.tabs li a { 
        font-weight: 500; 
        padding: 13px 30px;
        font-size: 16px;
        border: 1px solid #e4e4e4;
        position: relative;
        margin-bottom: 0;
        color: #fff;
        text-transform: capitalize;
    }
    div.product ul.tabs li.active a{background-color: #fff !important;border-color:#e4e4e4 !important; }
    div.product ul.tabs li a:before{
        position: absolute;
        content: '';
        left: 0;
        top: -1px;
        width: 100%;
        height: 3px;
        opacity: 0;
        background-color: #f7bd00;
    }
    div.product ul.tabs li.active a:before{opacity: 1;}
    div.product ul.tabs li { margin: 0 2px; }
    div.product ul.tabs li:first-child{margin-left: 0;}
    div.product .ttm-tabs .content-inner h2 { font-size: 24px;line-height: 1; }
    div.product .ttm-tabs .tabs{margin-bottom: 0;}
    div.product .ttm-tabs .content-tab{ 
        width: 100%;
        background: #fff!important;
        margin-top: -1px;
        padding: 30px;
        border: 1px solid #ececec;
    }
    .related.products { margin-top: 50px; }

    #reviews #comments ol{ margin: 0; padding: 0; }
    #reviews #comments ol.commentlist li img.avatar { width: 65px; }
    #reviews #comments ol.commentlist li img.avatar {
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        padding: 3px;
        background: #ebe9eb;
        border: 1px solid #e4e1e3;
        margin: 0;
        box-shadow: none;
    }
    #reviews #comments ol.commentlist li {
        padding: 0;
        margin: 0 0 20px;
        position: relative;
        border: 0;
    }
    #reviews #comments ol.commentlist li .comment-text {
        border: 1px solid #e4e1e3;
        padding: 1em 1em 0;
        border-radius: 0;
        margin-left: 80px;
    }
    #reviews #comments ol.commentlist li .comment-text p.meta {font-size: 12px; margin-bottom: 9px;}
    #reviews #comments ol.commentlist li .comment-text p.meta .eview__author{font-size: 16px;font-weight: 600;}
    div.product .Reviews .star-rating { margin: 0; margin-top: 7px;  float: right;}
    .comment-form-rating { padding-bottom: 20px;}
    .comment-form-rating .stars{  margin-bottom: 15px; color: #ffdd20; }
    #review_form_wrapper .comment-reply-title { font-size: 18px; line-height: 20px; color: #283d58;}
    #review_form_wrapper .comment-respond p { margin: 0 0 10px; }
    #reviews #review_form_wrapper select { width: 154px !important; }
    #reviews #comment { height: 75px; }
    #review_form_wrapper .comment-respond .form-submit { margin-top: 30px; }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        vertical-align: middle;
        width: 100%;
        margin: 0 0 1.75em;
    }
    table tbody tr, table thead tr { border: 1px solid #e6e6e6; }
    table tbody th { border-right: 1px solid #e6e6e6; }
    table.shop_attributes th {
        width: 150px;
        font-weight: 700;
        padding: 8px;
        border-top: 0;
        border-bottom: 1px dotted rgba(0,0,0,.1);
        margin: 0;
        line-height: 1.5;
    }
    table.shop_attributes td {
        font-style: italic;
        border-top: 0;
        border-bottom: 1px dotted rgba(0,0,0,.1);
        margin: 0;
        padding-left: 10px;
        line-height: 1.5;
    }
    table.shop_attributes td p { margin: 0; padding: 8px 0;}

    /* Cart */
    .ttm-cart-form,
    .checkout{ margin: 0; background-color: #fff;}
    .checkout .form-group .form-control{padding: 10px 15px;}
    .shop_table{
        border: 1px solid #ededed;
        margin: 0 -1px 24px 0;
        text-align: left;
        width: 100%;
        border-collapse: separate;
        border-radius: 0px;
    }
    table.shop_table .Price-amount{ color: #4d5257;}
    table.shop_table tbody tr, 
    table.shop_table thead tr { border: 1px solid #e6e6e6;}
    table.shop_table th {
        font-weight: 700;
        padding: 9px 12px;
        line-height: 1.5em;
        border-top: 1px solid rgba(0,0,0,.1);
    }
    table.shop_table td {
        border-top: 1px solid rgba(0,0,0,.1);
        padding: 5px 10px;
        vertical-align: middle;
        line-height: 1.5em;
    }
    table.shop_table .product-thumbnail img{ width: 32px; height: auto; }
    table.shop_table td.actions{ text-align: right; }
    table.shop_table td.actions .form-control { width: 150px;  float: left;padding: 12px;}
    .quantity { height: 41px; width: 88px; }
    .coupon { float: left;}
    .coupon .form-control{  float: left; margin: 0 4px 0 0;}
    .actions button, .coupon button , a.checkout-button{ border: 0; }
    .coupon button , a.checkout-button, button.cart_button{
        padding: 15px 30px 15px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        text-align: center;
    }
    .cart-collaterals { margin-top: 60px; }
    .cart-collaterals .cart_totals { float: right; width: 48%;}
    .cart_totals h2 { margin-bottom: 15px; font-size: 24px;}
    a.checkout-button { display: block; }
    a.remove {
        display: block;
        font-size: 1.5em;
        height: 1em;
        width: 1em;
        text-align: center;
        line-height: 1;
        border-radius: 100%;
        color: red;
        text-decoration: none;
        font-weight: 700;
        border: 0;
    }
    a.remove:hover { color: #fff; background: red;}
    .checkout-process-div { margin: 16px 0; overflow: hidden; text-align: center;}
    .checkout-button-separator { display: block; opacity: .5; margin: 0 0 16px;}


    /* checkout */
    .form-row .required {
        color: red;
        font-weight: 700;
        border: 0!important;
        text-decoration: none;
    }
    form .form-row {
        padding: 3px;
        margin: 0 0 6px;
    }
    .checkout h3#order_review_heading {
        margin-bottom: 30px;
        margin-top: 15px;
    }
    .checkout #payment {
        background: #ebe9eb;
        border-radius: 5px;
    }
    ul.payment_methods {
        text-align: left;
        padding: 1em;
        border-bottom: 1px solid #d3ced2;
        margin: 0;
        list-style: none outside;
    }
    #payment .payment_box {
        border-top: 3px solid #a46497;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding: 1em;
        border-radius: 2px;
        line-height: 1.5;
        background-color: #f8f9fa;
        color: #515151;
        padding-left: 50px;
    }
    #payment div.form-row { padding: 1em; }
    .checkout-process-div{
        margin: 16px 0;
        overflow: hidden;
    }
    .checkout-button-separator{
        display: block;
        opacity: .5;
        margin: 0 0 16px;
    }
    .coupon_toggle .coupon_code{
        padding: 1em 2em 1em 3.5em;
        margin: 0 0 2em;
        position: relative;
        border-top: 3px solid;
        background-color: #f8f9fa;
    }
    .coupon_toggle .coupon_code:before,
    #payment .payment_box:before{
        display: inline-block;
        position: absolute;
        top: 15px;
        left: 1.5em;
        content: "\e67c";
        font-family: 'themify';
    }
    .checkout-form input[type="text"],
    .checkout-form input[type="tel"],
    .checkout-form input[type="email"]{line-height: normal;}
    .checkout .billing-fields h3,
    .checkout .additional-fields h3
    {font-size: 28px;}
    .checkout-form.checkout-form-row-first,
    .checkout-form.checkout-form-row-last{
        width: 47%;
        overflow: visible;
    }
    .checkout-form.checkout-form-row-first{float: left;}
    .checkout-form.checkout-form-row-last{float: right;}
    .checkout-form .required {
        color: red;
        font-weight: 700;
        border: 0!important;
        text-decoration: none;
    }
    #payment div.checkout-form {
        padding: 1em;
    }
    .checkout .checkout-form-row-first, .checkout .checkout-form-row-last {
        width: 47%;
        overflow: visible;
    }
    .checkout .checkout-form-row-first {
        float: left;
    }
    .checkout .checkout-form-row-last {
        float: right;
    }


