 .dropdown-togglex::after {
 	display: inline-block;
 	margin-left: .255em;
 	vertical-align: .255em;
 	content: "";
 	border-top: .3em solid;
 	border-right: .3em solid transparent;
 	border-bottom: 0;
 	border-left: .3em solid transparent;
 }

 .dropdown-menu{
 	background-color: #12284c;
 }
 
 .dropdown-menu.show {
 	display: block;
 	margin-top: 20px;
  line-height: 50px;

}

.linkss{
 font-weight: 500;
 font-size: 14px;
 color: #12284c;
 margin-left: 4px;
}

.list ul li a {
  text-align: center;
  color: var(--darkblue);
  font-weight: 500;
  margin: 10px;
}

.fmenu a {
  color: #fff;
}

.fa-angle-right{
  padding: 3px;
}

.fmenu a {
  color: #fff;
}

.fa-angle-right{
  padding: 3px;
}