@font-face {
    font-family: 'Radikal';
    src: url('../libs/fonts/subset-Radikal-BlackItalic.woff2') format('woff2'),
    url('../libs/fonts/subset-Radikal-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Radikal';
    src: url('../libs/fonts/subset-Radikal-Medium.woff2') format('woff2'),
    url('../libs/fonts/subset-Radikal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radikal';
    src: url('../libs/fonts/subset-Radikal-MediumItalic.woff2') format('woff2'),
    url('../libs/fonts/subset-Radikal-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Radikal';
    src: url('../libs/fonts/subset-Radikal-ThinItalic.woff2') format('woff2'),
    url('../libs/fonts/subset-Radikal-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Radikal';
    src: url('../libs/fonts/subset-Radikal-Black.woff2') format('woff2'),
    url('../libs/fonts/subset-Radikal-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radikal';
    src: url('../libs/fonts/subset-Radikal-Italic.woff2') format('woff2'),
    url('../libs/fonts/subset-Radikal-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Radikal';
    src: url('../libs/fonts/subset-Radikal-Bold.woff2') format('woff2'),
    url('../libs/fonts/subset-Radikal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radikal';
    src: url('../libs/fonts/subset-Radikal-Light.woff2') format('woff2'),
    url('../libs/fonts/subset-Radikal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radikal';
    src: url('../libs/fonts/subset-Radikal-LightItalic.woff2') format('woff2'),
    url('../libs/fonts/subset-Radikal-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Radikal';
    src: url('../libs/fonts/subset-Radikal-BoldItalic.woff2') format('woff2'),
    url('../libs/fonts/subset-Radikal-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Radikal';
    src: url('../libs/fonts/subset-Radikal.woff2') format('woff2'),
    url('../libs/fonts/subset-Radikal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radikal UltraThin';
    src: url('../libs/fonts/subset-Radikal-UltraThin.woff2') format('woff2'),
    url('../libs/fonts/subset-Radikal-UltraThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radikal UltraThin';
    src: url('../libs/fonts/subset-Radikal-UltraThinItalic.woff2') format('woff2'),
    url('../libs/fonts/subset-Radikal-UltraThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Radikal';
    src: url('../libs/fonts/subset-Radikal-Thin.woff2') format('woff2'),
    url('../libs/fonts/subset-Radikal-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

