:root{
	--darkblue: #12284c;
	--lightblue: #b6dce1;
}



body{
	font-family: 'Radikal'!important;
}



ul{
	list-style: none!important;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none!important;
}

h1,h2,h3,h4,h5,h6,p{
	color:var(--darkblue);
	font-weight: 500;
}

img {
	max-width: 100%;
	height:auto;
	box-sizing:border-box;
	display:block;
}

button{
	outline: none!important;
}

ol li::marker {
	color: var(--darkblue);
	font-weight: bold;
}

.navbar{
	padding: 20px;
	width: 100%;
	background: var(--darkblue);
	justify-content: space-evenly;
}

.navbar ul{
	flex-direction: row;
}

.navbar ul li{
	display: inline;
}

.navbar ul li a{
	padding: 11px;
	color: #ffff ;
}

.navbar ul li a:hover{
	color: var(--lightblue);
}

.navbutton p{
	margin: 0;
	font-size: 13px;
	font-weight: 700;
}

.navbar-toggler:not(:disabled):not(.disabled){
	border: none;
}

.searchbar{margin: 0 40px;}

.searchbar input{
	border: none!important;
	width: 100px;
	height: 30px;
	border-radius: 7px 0 0 7px;
	outline: none!important;
}

.searchbar button{
	background-color: #fff;
	width: 30px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	box-shadow: none;
	padding: 0;
	border: none;
	outline: none;
	position: absolute;
	height: 30px;
	border-radius: 0 7px 7px 0;
}

.slider .carousel-control-prev-icon,.slider .carousel-control-next-icon{
	width: 40px;
	height: 65px;
	padding: 5px;
	background-color: var(--darkblue);
	color: #fff;
	opacity: 1;
	border-radius: 10px;
	background-size: 70%;
}
.carousel-control-next, .carousel-control-prev{
	width: 7%;
}

.carousel-indicators li{
	width: 11px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--darkblue);
	margin: 5px 10px;
}
.carousel-indicators li.active {
	background-color: var(--lightblue);
}

.flexboxcapsul{
	display: flex;
	position: absolute;
	bottom: 23%;
	left:10%;
	z-index: 99;
	flex-wrap: wrap;
	align-items: center;
}

.flexboxcapsul i{
	font-size: 40px;
}

.flexbox{
	cursor: pointer;

	margin: 5px;
	width: 195px;
	height: 150px;
	padding: 20px 0;
	width: 180px;
	height: 150px;
	text-align: center;
	border-radius: 10px;
	outline: none!important;
	border: none!important;
	box-shadow: none!important;
	font-weight: 400;
	color: #12284c;

}




.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.dr{
	position: absolute;
	right: 0;
	bottom: 10%;
}

.info{
	background: var(--lightblue);
	border-color: var(--lightblue);
	color:  var(--darkblue);
}

.info:hover{
	color:  var(--darkblue);
	background-color: #95c4cc;
	border-color: #72c8d6;
}

.btn-primary{
	background-color: #2957a3;
	border-color: #7085a7;
}

.btn-outline-primary{
	color:  var(--darkblue);
	border-color: var(--darkblue);
}

.btn-outline-primary:hover{
	background: var(--darkblue);
	border-color: var(--darkblue);
}


.btn{
	box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 30%);

}

.dty-bilgi {

	border-radius: 10px;
	outline: none!important;
	border: none!important;
	box-shadow: none!important;
	font-weight: 500;
	color: #12284c!important;
}

.sliderarea{
	background: #ededed;
}

.space{
	margin-top: 80px;
}

.sliderarea .item{
	background: #fff;
	box-shadow: 4px 0px 7px 0px rgb(0 0 0 / 30%)
}

.owlnavstyle .owl-prev,.owlnavstyle .owl-next{
	width: 27px;
	height: 40px;
	border-radius: 10px!important;
	text-align: center!important;
	line-height: 50px!important;
	background-color:#223657 !important	;
	color: #fff!important;
	box-shadow: none!important;
	outline: none!important;
	display: flex!important;
	align-items: center!important;
	justify-content: center!important;
	position: absolute!important;
	font-size: 21px;
}

.owl3 .owl-prev,.owl3 .owl-next{
	width: 100px !important	;
	height: 100px !important	;
	font-size: 55px;
	line-height: 30px!important;
	font-size: 20px!important;
	background: none !important	;
}

.fa-chevron-right:before, .fa-chevron-left:before {
	font-size: 35px;
}

.owl6 .fa-chevron-right:before, .owl6 .fa-chevron-left:before {
	font-size: 43px;
	color: var(--darkblue);
	background: #ededed;
}


.owlnavstyle .owl-prev{
	left:10px;
	top: 22%;
	bottom: 40%;
}
.owlnavstyle .owl-next{
	right: 10px;
	top: 22%;
	bottom: 40%;
}


.owl4 .owl-prev, .owl3 .owl-prev{
	left: -20px;
}
.owl4 .owl-next, .owl3 .owl-prev{
	right: -20px;
}

.owlnavstlow .owl-next,.owlnavstlow .owl-prev{
	top: 23%;
}
.owlnavstlow2 .owl-next,.owlnavstlow2 .owl-prev{
	top: 27%;
}
.owlnavstyle .owl-prev.disabled,.owlnavstyle .owl-next.disabled{
	visibility: hidden;
}

.owlnavstyle .owl-prev:hover,.owlnavstyle .owl-next:hover{
	background-color: #223657!important;
}

.icon  img{
	padding: 15px;
}

section.sliderarea1 > div > img{
	position: absolute;
	padding: 0 ;
	height: 220px;
}

.icon{
	display: flex;
	align-items: center;
	padding: 0;
	margin: 30px 0;
}

.effect-1 {
	display: flex;
	align-items: center;
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 0 3px 5px rgb(0 0 0 / 60%);
	background:linear-gradient(
		170deg
		, #f8f9fb 0%, #9a9a9a 100%);
	margin: auto;
}

.effect-1::after {
	border: 2px solid #fff;
	content: '';
	display: block;
	position: absolute;
	left: -15%;
	top: -15%;
	width: 130%;
	height: 130%;
	border-radius: 50%;
	opacity: 0;
	z-index: -1;
	transform: scale(1.3);
	transition: opacity .8s cubic-bezier(.215, .61, .355, 1), transform .8s cubic-bezier(.215, .61, .355, 1);
}

.effect-1:hover::after {
	opacity: .3;
	transform: scale(1.0);
}

.round-image{
	border-radius: 100%;
	height: 150px;
	margin: auto;
	width: 150px;
	overflow: hidden;
}

.round .item{
	padding: 20px;
	box-shadow: none !important;
	background: none;
	margin: 5px;
}

.round h6{
	border-bottom: 6px solid var(--darkblue);
	padding: 8px;
	border-radius: 8px;
}

.round .item:hover{
	background: var(--lightblue);
}

.studiosec{
	padding: 70px 30px;
	justify-content: space-around;
}

.studiosec .nav {
	background: none!important;
	text-align: center;
	outline: none!important;
	border: none!important;
	box-shadow: none!important;
	align-items: center;

}


.studiosec ul{
	display: flex;
	justify-content: center;
}

.studiosec li{
	padding: 0 30px;
	color: #12284c;
	font-size: 25pt;
	font-weight: 500;
}

.studiosec li a{
	color: #12284c;
	font-size: 20px;
	font-weight: 500;

}


.studiosec li a:hover{
	border-bottom: 5px solid var(--lightblue);
	border-radius: 5px;
}

.owl3 .item a, {
	display: flex;
	align-items: center;
	justify-content: center;
}

.owl3 .item img{
	width: 100%;
	height: 220px;
	object-fit: cover;
}

.owl-nav{
	margin: 0!important;
}

.wrapper{
	display: flex;
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
}


.snip {
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin: 10px;
	min-width: 230px;
	max-width: 315px;
	height: 177px;
	width: 100%;
	text-align: center;
	background: var(--darkblue);
	flex-grow: 1;
	flex-basis: 250px;
}

.snip *,
.snip:before,
.snip:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.snip img {
	max-width: 100%;
	backface-visibility: hidden;
	vertical-align: top;
}

.snip:before,
.snip:after {
	position: absolute;
	top: 20px;
	right: 20px;
	content: '';
	z-index: 1;
	opacity: 0;
	width: 90%;
	border: 1px solid #fff;
	border-style: dashed;
	padding: 24% 42%;
	border-radius: 10px;
}

.snip:before {
	width: 0;
	height: 1px;
}

.snip:after {
	height: 0;
	width: 1px;
}

.snip div {
	position: absolute;
	top: 48%;
	left: 25%;
}

.snip h2{
	margin: 0;
	font-size: 1.1em;
	font-weight: normal;
	opacity: 0;
}

.snip:hover img,
.snip.hover img {
	zoom: 1;
	filter: alpha(opacity=20);
	-webkit-opacity: 0.2;
	opacity: 0.2;
}

.snip:hover:before,
.snip.hover:before,
.snip:hover:after,
.snip.hover:after {
	opacity: 1;
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.snip:hover h2,
.snip.hover h2 {
	opacity: 1;
	color: #fff;
}

.snip.hover h2,
.snip.hover h2 {
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
}

footer{
	background-color: var(--darkblue);
	margin-top: 70px;
}

.footer{
	justify-content: space-between;
}

.footer ul li, .footer h5{
	color: #fff;
}

.footersocialmedia{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 50px 0;
}

.footersocialmedia i{
	background-color: var(--lightblue);
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	color: var(--darkblue);
	font-size: 20px;
	text-align: center;
}

.content-yazi {
	background: #f2f3f4;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.content-yazi .item{
	display: flex;
	background: #ecedee;
	padding: 15px;
	flex-direction: column;
	align-content: space-around;
	margin: auto;
	align-items: center;
	margin-top: 15px;
}

.content-yazi .item img{
	border-radius: 10px;
	float: left;
	box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 30%);
}

.content-yazi .item:hover {
	background: #cadfe2;
	cursor: pointer;
}

.content-yazi .item img {
	border-radius: 100%;
	width: 150px;
}

.content-yazi .item .item-icerik {
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	padding: 20px;
	text-align: center;
}

.content-yazi .item .item-icerik .button1 {
	color: white;
	margin-top: 15px;
	background: #12284c;
	border-radius: 10px;
	padding: 10px 20px;
}

.content-yazi .hsptl-item .item {
	width: 570px;
	margin-bottom: 20px;
}

.content-yazi .hsptl-item .item:last-child{
	margin-right: 0;
}


.content-yazi .hsptl-item .item img {
	border-radius: 10px;
	width: 300px;
	height: 190px;
	text-align: center;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 15px 0 rgba(0, 0, 0, 0.17);
	margin-left: 0!important;

}

.content-yazi .hsptl-item .item h5 {
	font-size: 25pt;
	font-weight: 600;
	color: #12284c;
}

.content-yazi .hsptl-item .item p {
	font-size: 12pt;
	font-weight: 400;
	color: #12284c;
}

.nav {

	background: linear-gradient( 180deg, #f8f9fb 0%, #d4d5d6 100%);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 15px 0 rgba(0, 0, 0, 0.17);
	margin-top: 30px;
	height: 50px;
	padding-top: 15px;
	border-radius: 5px;
}

.nav a{
	font-weight: 500;
	font-size: 14px;
	color: #12284c;
	margin-left: 15px;
}

.ques label{
	font-weight: 600px;
}

.quest img{
	padding:15px;
}



.contact-item {
	background: linear-gradient(
		180deg
		, #f8f9fb 0%, #d4d5d6 100%);
	box-shadow: 0 4px 4px 0 rgb(0 0 0 / 10%), 0 3px 15px 0 rgb(0 0 0 / 17%);
	margin-top: 30px;
	color: var(--darkblue);
	justify-content: space-around;
	align-items: center;
	padding: 15px;
}

.yazi-title {
	border-left: 4px solid #12284c;
	padding: 10px;
	margin-bottom: 50px;
}

.blog-yazi {
	background: #f6f6f6;
	height: 100%;
	margin-top: 30px;
	padding: 50px;

}

.blog-yazi .blog-img img{
	width:100%;
	height: 500px;
	position: relative;
	margin-bottom: 30px;
}

.blog-card .card-header {
	text-align: center;
	margin-bottom: 20px;
	background: linear-gradient(
		180deg
		, #f8f9fb 0%, #d4d5d6 100%);
	box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
	border-top: 4px solid var(--darkblue);
	border-radius: 6px;
}

.blog-card .card-body {
	background: linear-gradient(
		180deg
		, #f8f9fb 0%, #d4d5d6 100%);
	box-shadow: 0 4px 4px 0 rgb(0 0 0 / 10%), 0 3px 15px 0 rgb(0 0 0 / 17%);
	margin-bottom: 15px;
}

.blog-card .card-body img {
	width: 180px;
	float: left;
	margin-right: 10px;
}

.blog-card .card-body .btn {
	background: #12284c;
	border: none;
	border-radius: 5px;
	float: right;
}

.blog-slider .item {
	background: none;
	width: 150;
	height: 150px;
	margin-right: 10%;
}

.blog-slider .item img {
	width: 100%;
	height: 100%;
}

.contact-item {
	margin-bottom: 50px;
}

.contact-item .card{
	background: linear-gradient( 180deg, #f8f9fb 0%, #d4d5d6 100%);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 15px 0 rgba(0, 0, 0, 0.17);
	margin-top: 30px;
	max-height: 250px;
	padding-top: 15px;
	color: #12284c;
}

.contact-item .card .maps {
	float: right;
	margin: 0;
	position: relative;
	width: 396;
	height: 192px;
	right: 10%;
}

.guide{
	justify-content: space-between;
}

.guide img{
	border: 1px solid #dfe0e1;
	box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

.list{
	background: linear-gradient(
		180deg
		, #f8f9fb 0%, #d4d5d6 100%);
}

.list ul li {
	text-align: center;
	color: var(--darkblue);
	font-weight: 500;
	border-bottom: 1px solid #fff;
	margin: 10px;
}

.list ul li:hover {
	font-size: 17px;
	cursor: pointer;
}

.dr-bg {
	margin: 30px 0;
	padding: 20px;
	background: url("../img/bolumler.png");
	background-repeat: no-repeat;
	position: relative;
}

.dr-bg .row{
	justify-content: space-between;
	align-items: center;
}

.dr-bg h6 , .dr-bg h2 {
	color: #fff;
}

.news:first-child{
	background: #f6f6f6;
	padding:35px;
}

.navright{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.write{
	position: absolute;
	bottom: 0;
	padding: 7px 5px;
	background: var(--darkblue);
	width: 100%;
	opacity: .8;
}

.hospital{
	float: left;
	margin: 30px 0;
}


@media screen and (max-width: 1200px){
	.navbar ul li a {
		padding: 6px;
	}

	.dr{
		width: 200px;
	}

	.flexboxcapsul{
		bottom:17%;
	}
}

@media screen and (max-width: 992px){
	.navbar {
		justify-content: space-between;
		padding: 15px 70px;
	}

	.navbar ul {
		flex-direction: column;
	}

	.navbutton{
		display: flex;
		padding: 0;
		flex-wrap: wrap;
		padding-left: 10px;
	}

	.navbutton button{
		margin:10px;
	}

	.searchbar {
		margin: 10px 20px;
	}

	button.navbar-toggler{
		border:none;
	}
	.navbar-toggler-icon{
		position: absolute;
		right: 0;
		margin: 15px;
	}
	.collapse.show {
		display: block;
		width: 250px;
		background: var(--darkblue);
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 10px;
		z-index: 999999;
	}

	.collapsing{display: none;}

	.fa-close{
		position: absolute;
		right: 15px;
		top: 15px;
	}

	.navbar-toggler{
		padding: 0;
	}

	.navbar ul li{
		padding: 15px;

	}

	#logo{
		background-image: url(../img/LOGO.png);
		height: 80px;
		background-repeat: no-repeat;
		margin: 10px;
	}

	.dr img{
		display: none;
	}
}
